<!doctype html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Flicktree</title>
    <base href="/Phonegap_18Aug16_flickstree-mobile-development-ce61124635e7f66684c0cf3b5d90a76c7df6afba_18Aug16_MostUpdated_ipad_And_Mobile/">
    <!-- build:vendorCss assets/css/vendor.css -->
    <link rel="stylesheet" href="assets/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/lib/angular-toastr/dist/angular-toastr.min.css" />
    <link rel="stylesheet" href="assets/css/bootstrap.css" />
    <link rel="stylesheet" href="assets/lib/angular-loading/angular-loading.css" />
    <link rel="stylesheet" href="assets/lib/Swiper/dist/css/swiper.min.css">
    <!-- endbuild -->

    <!-- build:mainCss assets/css/main.css -->
    <link href="assets/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- endbuild -->
	<!-- for Google Login -->
	<script src="https://apis.google.com/js/platform.js?onload=onGoogleLoad"></script>
</head>
<body ng-app="angularApp" ng-controller="MainController as mainCtrl" data-islogin="true" data-id="">
     
    <nav ng-include="'app/shared/templates/siteHeader.html'" role="navigation" class="navbar navbar-default navbar-fixed-top"></nav>
    <div ng-include="'app/shared/templates/globalSearch.html'"> </div>
	<div ng-include="'app/shared/templates/triviaGame.html'"> </div>
	<div ng-include="'app/shared/templates/login.html'"> </div>
    <div ui-view dw-loading="commonLoader"></div>
    <div id="pageTop" class="scrollBtn" ng-click="mainCtrl.scrollTop()">
        <img src="assets/images/Fixed_Image.png" />
    </div>

    <!-- build:vendorjs scripts/vendor.js -->    
    <script src="assets/lib/jquery/dist/jquery.min.js"></script>
    <script src="assets/lib/Swiper/dist/js/swiper.jquery.min.js"></script>
    <script src="assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="assets/lib/angular/angular.min.js"></script>
    <script src="assets/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="assets/lib/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <script src="assets/lib/spin.js/spin.min.js"></script>
    <script src="assets/lib/angular-loading/angular-loading.js"></script>
    <script src="assets/lib/lazy-scroll.min.js"></script>
    <script src="assets/lib/image-crop.js"></script>
    <!-- endbuild -->

    <!-- build:commonjs scripts/common.js -->
    <script src="app/utils/UtilApp.js"></script>
    <script src="app/utils/constants.js"></script>
    <script src="app/utils/errorHandler.dacorator.js"></script>
    <script src="app/utils/storageUtil.service.js"></script>
    <script src="app/utils/httpErrorHandler.service.js"></script>
    <script src="app/app.js"></script>
    <script src="app/app.constants.js"></script>
    <script src="app/shared/filters/commonFilter.js"></script>
    <script src="app/main/main.controller.js"></script>
    <script src="app/main/main.service.js"></script>
    <!-- endbuild -->

	<script src="app/shared/services/userAuth.service.js"></script>
	
    <!-- build:modulejs scripts/changePreference.js -->
    <script src="app/changePreference/changePreference.config.js"></script>
    <script src="app/changePreference/changePreference.controller.js"></script>
    <script src="app/changePreference/changePreference.service.js"></script>
    <!-- endbuild -->
</body>

</html>
