<!doctype html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Flicktree</title>
    <base href="">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="assets/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/lib/angular-toastr/dist/angular-toastr.min.css" />
    <link rel="stylesheet" href="assets/css/bootstrap.css" />
    <!--<link rel="stylesheet" href="assets/css/bootstrap.min.css" />-->
    <link rel="stylesheet" href="assets/lib/angular-loading/angular-loading.css" />
    <link rel="stylesheet" href="assets/lib/Swiper/dist/css/swiper.min.css">
    <link href="assets/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css styles/main.css -->
    <!-- endbuild -->
	<!-- for Google Login -->
	<script src="https://apis.google.com/js/platform.js?onload=onGoogleLoad"></script>
	<!-- for Google Login -->
	<!--<meta name="google-signin-client_id" content="675823471022-bde3fesvq89r02mj3buochcd6v87t2qs.apps.googleusercontent.com">-->
</head>

<body ng-app="angularApp" ng-controller="MainController as mainCtrl">
    <nav ng-include="'app/shared/templates/siteHeader.html'" role="navigation" class="navbar navbar-default navbar-fixed-top"></nav>
    <div ng-include="'app/shared/templates/globalSearch.html'"> </div>
	<div ng-include="'app/shared/templates/triviaGame.html'"> </div>
	<div ng-include="'app/shared/templates/login.html'"> </div>
    <div ui-view dw-loading="commonLoader"></div>
    <div id="pageTop" class="scrollBtn" ng-click="mainCtrl.scrollTop()">
         <img src="assets/images/Fixed_Image.png" />
    </div>
    <!-- <div ui-view dw-loading="commonLoader"></div> -->
    <script src="assets/lib/jquery/dist/jquery.min.js"></script>
    <script src="assets/lib/Swiper/dist/js/swiper.jquery.min.js"></script>
    <script src="assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="assets/lib/angular/angular.min.js"></script>
    <script src="assets/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="assets/lib/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <script src="assets/lib/spin.js/spin.min.js"></script>
    <script src="assets/lib/angular-loading/angular-loading.js"></script>
    <script src="assets/lib/lazy-scroll.min.js"></script>
    <script src="assets/lib/image-crop.js"></script>
    <script src="app/utils/UtilApp.js"></script>
    <script src="app/utils/constants.js"></script>
    <script src="app/utils/errorHandler.dacorator.js"></script>
    <script src="app/utils/storageUtil.service.js"></script>
    <script src="app/utils/httpErrorHandler.service.js"></script>
    <script src="app/app.js"></script>
    <script src="app/app.config.js"></script>
    <script src="app/app.constants.js"></script>
    <script src="app/shared/filters/commonFilter.js"></script>
    <script src="app/main/main.controller.js"></script>
    <script src="app/main/main.service.js"></script>
    <script src="app/home/home.controller.js"></script>
    <script src="app/home/home.service.js"></script>
	<script src="app/shared/services/userAuth.service.js"></script>
</body>

</html>
