<style type="text/css">
    .View_btn1{
        width: 100%;
        border: 1px solid #cb202e;
        color: #cb202e;
        padding: 8px;
        margin-top: 10px;
        background-color: #ffffff;
        font-family: Lato-Bold;
        letter-spacing: 2px;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
    }
    .fa-star,.fa-star-half {
		margin-right:5px !important;
        color: #e7a614;
    }
    .movieDetailStars .fa-star {
        color: rgba(0, 0, 0, 0.1);
    }
	.movieDetailStars .fa-active {
		 color: #faaf19 !important;
	}
    .movieStar .glyphicon-active {
        color: #cb202e!important;
    }
    .glyphicon {
        color: #cb202e;
    }
    .text-center .coloun-4 .glyphicon {
        font-size: 42px;
    }
    .coloun-4 .watchlist_text {
        margin-top: 16px;
    }
    .writereview {
        clear: both;
        height: auto;
        border: 0;
    }
    .Stars .glyphicon {
        font-size: 40px;
        color: #cb202e;
    }
    .glyphicon-remove {
        font-size: 16px;
        color: #666666;
    }
</style>
<div class="bg_banner">
    <img ng-src="{{movieDetailCtrl.movies.movie_poster.replace('mimages','simages')}}" alt="" />
</div>
<div class="wrapContent">
	<div class="container-fluid">
		<div class="row" style="margin-top: 20px;">
			<div class="col-md-6 col-md-offset-3">
				<div class="video_banner movieDetailPage">
					<div class="banner_img"><img ng-src="{{movieDetailCtrl.movies.movie_poster.replace('mimages','simages')}}" alt="" /></div>
					<div class="plat_btn" ng-if="movieDetailCtrl.movies.movie_trailer">
						<a ng-click="movieDetailCtrl.loadMovieTrailer()"><img src="assets/images/group-4.png" alt="Trailer Video" /></a>
					</div>
					<h2 ng-bind="mainCtrl.renderHTML(movieDetailCtrl.movies.movie_name)"></h2>
					<p ng-if="movieDetailCtrl.movies.movie_genres && movieDetailCtrl.movies.movie_genres.length>0">{{movieDetailCtrl.movies.movie_genres.join(', ')}}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container MovieDetailpage">
		<div class="row" style="background-color:#FFFFFF; margin-top:10px;">
			<div class="text-center">
				<div class="coloun-4">
					<div class="r-hex">
						<div class="r-hex-inner"></div>
					</div>
					<span class="hexaTxt" aria-hidden="true">{{movieDetailCtrl.getFormattedRating(movieDetailCtrl.movies.audience_rating)}}</span>
					<p>Viewers</p>
				</div>
				<div class="coloun-4">
					<div class="r-hex blueBg">
						<div class="r-hex-inner"></div>
					</div>
					<span class="hexaTxt" aria-hidden="true">{{movieDetailCtrl.getFormattedRating(movieDetailCtrl.movies.critics_rating)}}</span>
					<p>Critics</p>
				</div>
				<div class="coloun-4">
				<span ng-click="movieDetailCtrl.isLogged ? movieDetailCtrl.manageWatchList(movieDetailCtrl.movies.on_watchlist) : mainCtrl.showLoginBox()" aria-hidden="true"><img style="margin-top: 6%" ng-src="{{movieDetailCtrl.movies.on_watchlist == 'Y' && 'assets/images/Watchlist-done.png' || 'assets/images/Watchlist.png'}}" /> </span>
				<p class="watchlist_text">Watchlist</p>
				</div>
				<div class="coloun-4">
				<span ng-click="movieDetailCtrl.isLogged ? movieDetailCtrl.shareMovieOnFacebook() : mainCtrl.showLoginBox()" aria-hidden="true"><img style="margin-top:7%" ng-src="{{movieDetailCtrl.movies.is_shared == 'Y' && 'assets/images/Share-done.png' || 'assets/images/Share-1.png'}}" /></span>
				<p class="watchlist_text" style="padding-top: 1%;">Share</p>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="rowHome synopDiv">
				<div id="movie_desc" class="SYNOPSIS">
					<h4>SYNOPSIS</h4>
					<p>{{movieDetailCtrl.movies.movie_outline}} </p>
					<div class="clearfix"></div>
				</div>
				<span id="movie_desc_icon" class="SYNOPSISicon glyphicon glyphicon-plus" aria-hidden="true" ng-click="movieDetailCtrl.toggleDescription()" style="margin-top: -15px;"></span> </div>
			<div class="Lead-cast">
				<h4>LEAD CAST</h4>
				<div class="swiper-container">
					<div class="swiper-wrapper g-views">
						<div ng-repeat="cast in movieDetailCtrl.movies.movie_stars" data-cast="{{cast}}" class="swiper-slide biseller-column"><img data-cast="{{cast}}" src="assets/images/no-critics.jpg" />
							<p>{{cast}}</p>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div ng-if="movieDetailCtrl.movieWatchData && movieDetailCtrl.movieWatchData.length > 0" class="rowHome watchiton">
				<h4>WATCH IT ON</h4>
				<div id="watchListFull">
					<div class="MovieWatchit" ng-repeat="watchData in movieDetailCtrl.movieWatchData">
						<a href="{{watchData.watch_url}}" target="_blank">
							<div class="MovieWatchitImg"><img ng-src="{{watchData.provider_pic}}" /></div>
							<div class="MovieWatchitTxt" ng-click="mainCtrl.launchExternalUrl(watchData.watch_url)">
								<h3>{{watchData.provider_name}}</h3>
							</div>
							<div class="MovieWatchitPrice">
								<p>{{watchData.lowest_price}}</p>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="rowHome Stars"  ng-click="movieDetailCtrl.isLogged ? movieDetailCtrl.openWriteReviewBox() : mainCtrl.showLoginBox()">
				<div class="movieDetailStars" style="margin-bottom: 8%">
				<h4 style="margin-bottom: 7%" ng-if="movieDetailCtrl.movies.done_checkin == 'N' || (!movieDetailCtrl.movies.done_checkin)">ALREADY WATCHED THIS? RATE THE MOVIE.</h4>
				<div class="col-xs-2">
				<span class="fa fa-3x fa-star" aria-hidden="true" ng-class="{'fa-active': movieDetailCtrl.myreviewObj.rating>0}"></span>
				</div>
				<div class="col-xs-2">
				<span class="fa fa-3x fa-star" aria-hidden="true" ng-class="{'fa-active': movieDetailCtrl.myreviewObj.rating>1}"></span></div>
				<div class="col-xs-2">
				<span class="fa fa-3x fa-star" aria-hidden="true" ng-class="{'fa-active': movieDetailCtrl.myreviewObj.rating>2}"></span></div>
				<div class="col-xs-2">
				<span class="fa fa-3x fa-star" aria-hidden="true" ng-class="{'fa-active': movieDetailCtrl.myreviewObj.rating>3}"></span></div>
				<div class="col-xs-2">
				<span class="fa fa-3x fa-star" aria-hidden="true" ng-class="{'fa-active': movieDetailCtrl.myreviewObj.rating>4}"></span></div>
				</div>
				<div class="writereview">
				<input class="reviewbutton" type="text" placeholder="Write a review">
				</div>
			</div>
			<div class="tabmenu">
				<div class="features grid">
					<div class="grid-info">
						<div class="features-tabs">
							<!-- Nav tabs -->
							<ul class="nav nav-tabs" role="tablist">
								<li role="presentation" class="active"><a data-target="#home" aria-controls="home" role="tab" data-toggle="tab" ng-click="movieDetailCtrl.setActiveTab('criticReview');">Critics' Reviews</a></li>
								<li role="presentation"><a data-target="#profile" aria-controls="profile" role="tab" data-toggle="tab" ng-click="movieDetailCtrl.setActiveTab('userReview');">User Reviews</a></li>
							</ul>
							<!-- Tab panes -->
							<div class="moviedetailCirtics">
								<div class="tab-content">
									<div role="tabpanel" class="tab-pane active" id="home" >
										<div class="reviews" ng-repeat="critic in movieDetailCtrl.critics" lazy-scroll="movieDetailCtrl.loadMoreCriticReviews($event)" lazy-scroll-trigger="98%">
											<div class="reviewProfile"><img ng-click="mainCtrl.routeToCriticProfile(critic.critic_id)" ng-src="{{(critic.picture.indexOf('no-image') > -1) && 'assets/images/no-critics.jpg' || critic.picture}}" alt="" /></div>
											<div class="reviewrightContent">
												<div class="reviewName" ng-click="mainCtrl.routeToCriticProfile(critic.critic_id)">
													<h4>{{critic.name}}</h4>
												</div>
												<div class="reviewStar">
													<span class="fa fa-star fa-1x" aria-hidden="true" ng-repeat="rating in movieDetailCtrl.range(critic.movie_rating/2) track by $index"></span>
													<span class="fa fa-star-half fa-1x" aria-hidden="true" ng-if="((critic.movie_rating % 2) > 0)"></span>
												</div>
												<div class="reviewDays">
													<p>{{movieDetailCtrl.Date(critic.submit_time).toDateString()}} </p>
												</div>
												<div class="clearfix"></div>
												<div class="readreview1">
													<a ng-click="mainCtrl.launchExternalUrl(critic.review_url)" target="_blank">
														<button type="button" class="View_btn1" ng-click="mainCtrl.launchExternalUrl(review.review_url)">READ REVIEW</button>
													</a>

												</div>
											</div>
											<div class="clearfix"></div>
										</div>
									</div>
									<div role="tabpanel" class="tab-pane" id="profile" >
										<div class="writereview" ng-if="!(movieDetailCtrl.userReview && movieDetailCtrl.userReview.length>0)">
											<p style="text-align:center; color:#cb202e">Be the first to write a review</p>
											<input ng-click="movieDetailCtrl.isLogged ? movieDetailCtrl.openWriteReviewBox() : mainCtrl.showLoginBox()" class="reviewbutton" type="text" placeholder="Write Review">
										</div>

										<div class="reviews" ng-if="(movieDetailCtrl.userReview && movieDetailCtrl.userReview.length>0)" ng-repeat="review in movieDetailCtrl.userReview" lazy-scroll="movieDetailCtrl.loadMoreUserReviews($event)" lazy-scroll-trigger="98%">
											<div class="reviewrightContent">
												<div class="reviewName" ng-click="mainCtrl.routeToUserProfile(review.reviewer_id)">
													<h4>{{review.reviewer_name}}</h4>
												</div>
												<div class="reviewStar"> <span class="glyphicon glyphicon-star" aria-hidden="true" ng-repeat="rating in movieDetailCtrl.range(review.movie_rating) track by $index"></span> </div>
												<div class="reviewDays">{{movieDetailCtrl.Date(review.submit_time).toDateString()}}</div>
												<div class="clearfix"></div>
												<div class="readreview">
													<button type="button" class="View_btn" ng-click="movieDetailCtrl.openReviewBox(review.review_text,review.movie_rating)">READ REVIEW</button>
												</div>
											</div>
											<div class="clearfix"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Write Review Box -->
			<div class="modal fade" id="writeReview" tabindex="-1" role="dialog" aria-labelledby="introductionVideo" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-body">
							<div class="row">
								<div class="headetopPopup"><span class="glyphicon glyphicon-remove" aria-hidden="true" data-dismiss="modal"></span>
									<div class="closeTAb" data-dismiss="modal" aria-label="Close">
										<h4>{{movieDetailCtrl.movies.movie_name}}</h4>
										<p ng-if="movieDetailCtrl.movies.movie_release_date">({{movieDetailCtrl.Date(movieDetailCtrl.movies.movie_release_date) | date:'yyyy'}})</p>
									</div>
									<div ng-if="!movieDetailCtrl.isReadOnly" ng-click="movieDetailCtrl.postReviewForm()" class="okPost"> <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> </div>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="row">
								<div class="starRating">
									<div class="movieStarReview" ng-if="!(movieDetailCtrl.isReadOnly)"> <span ng-click="movieDetailCtrl.setRating(1)" ng-class="{'fa-active': movieDetailCtrl.reviewObj.rating>0}" class="fa fa-star" aria-hidden="true"></span> <span ng-click="movieDetailCtrl.setRating(2)" ng-class="{'fa-active': movieDetailCtrl.reviewObj.rating>1}" class="fa fa-star" aria-hidden="true"></span> <span ng-click="movieDetailCtrl.setRating(3)" ng-class="{'fa-active': movieDetailCtrl.reviewObj.rating>2}" class="fa fa-star" aria-hidden="true"></span> <span ng-click="movieDetailCtrl.setRating(4)" ng-class="{'fa-active': movieDetailCtrl.reviewObj.rating>3}" class="fa fa-star" aria-hidden="true"></span> <span ng-click="movieDetailCtrl.setRating(5)" ng-class="{'fa-active': movieDetailCtrl.reviewObj.rating>4}" class="fa fa-star" aria-hidden="true"></span></div>
									<div class="movieStarReview" ng-if="movieDetailCtrl.isReadOnly"> <span ng-class="{'fa-active': movieDetailCtrl.reviewObj.rating>0}" class="fa fa-star" aria-hidden="true"></span> <span ng-class="{'fa-active': movieDetailCtrl.reviewObj.rating>1}" class="fa fa-star" aria-hidden="true"></span> <span ng-class="{'fa-active': movieDetailCtrl.reviewObj.rating>2}" class="fa fa-star" aria-hidden="true"></span> <span ng-class="{'fa-active': movieDetailCtrl.reviewObj.rating>3}" class="fa fa-star" aria-hidden="true"></span> <span ng-class="{'fa-active': movieDetailCtrl.reviewObj.rating>4}" class="fa fa-star" aria-hidden="true"></span></div>
								</div>
								<div class="container">
								<textarea name="textarea" ng-readonly="movieDetailCtrl.isReadOnly" rows="10" cols="50" class="writereview" ng-model="movieDetailCtrl.reviewObj.text" placeholder="Write Review here"></textarea>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="clearfix"></div>
<div class="spacer"></div>
<!-- Trailer video -->
<div ng-if="movieDetailCtrl.movies.movie_trailer" class="modal fade" id="introVideo" tabindex="-1" role="dialog" aria-labelledby="introductionVideo" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe id="VideoPlayer" width="560" height="315" ng-src="{{movieDetailCtrl.movies.movie_trailer | trustYoutubeUrl}}" class="embed-responsive-item allowfullscreen"></iframe>
				</div>
			</div>
		</div>
	</div>
</div>
