<style>
/* Core component styles */

.ng-image-crop {
    text-align: center;
    margin: 0 auto;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}


/* Each of the 3 steps in the process are contained within sections */

.ng-image-crop > section {
    background: #ccc;
}


/* The cropping button */

.ng-image-crop button {
    margin-top: 10px;
}


/* The dashed cropping guideline */

.ng-image-crop .cropping-guide {
    display: block;
    background: rgba(255, 255, 255, .3);
    border: 2px dashed white;
    position: absolute;
    pointer-events: none;
}


/* The circular themed cropping guideline */

.ng-image-crop--circle .cropping-guide {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


/* The canvas where the user positions the image via dragging and zooming */

.ng-image-crop .cropping-canvas {
    background: rgba(255, 255, 255, .3);
    margin: 0 auto;
    cursor: move;
}


/* The overlayed draggable zoom handle in the corner of the module */

.ng-image-crop .zoom-handle {
    display: block;
    position: absolute;
    bottom: 1px;
    left: 1px;
    background: rgba(255, 255, 255, 0.7);
    width: 80px;
    height: 80px;
    cursor: move;
    border-radius: 200px 50px;
}


/* The text within the zoom handle */

.ng-image-crop .zoom-handle > span {
    color: rgba(0, 0, 0, 0.5);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    display: block;
    position: relative;
    top: 32px;
}
</style>
<div class="bg_banner">
    <img ng-src="{{UserProfileCtrl.userProfile.picture}}" alt="" /></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="video_banner">
                <div class="banner_img"><img ng-src="{{UserProfileCtrl.userProfile.picture}}" alt="" /></div>
                <h2>{{UserProfileCtrl.userProfile.name}}</h2>
                <button type="button" class="Follow_btn">Follow</button>
                <input type="file" name="fileInput" id="fileInput" onchange="angular.element(this).scope().fileChanged(event)" />
                <image-crop data-height="200" data-width="150" data-shape="square" data-step="imageCropStep" src="imgSrc" data-result="result" data-result-blob="resultBlob" crop="initCrop" padding="250" max-size="1024"></image-crop>
                <div>
                    <br/>
                    <button ng-click="uploadFile()">Crop</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row" style="background-color:#FFFFFF; margin-top:10px;">
        <div id="exTab1">
            <div class="nav nav-pills">
                <div class="reviewStar">
                    <div class="reviewsValue active">
                        <a data-target="#1a" aria-controls="1a" role="tab" data-toggle="tab">
                            <div class="reviews_num">
                                <h4>{{UserProfileCtrl.userStats.checkin}}</h4>
                            </div>
                            <div class="reviews_txt">
                                <p>FLICKED</p>
                            </div>
                        </a>
                    </div>
                    <div class="reviewsValue">
                        <a data-target="#2a" aria-controls="2a" role="tab" data-toggle="tab">
                            <div class="reviews_num">
                                <h4>{{UserProfileCtrl.userStats.watch}}</h4>
                            </div>
                            <div class="reviews_txt">
                                <p>WATCHLIST</p>
                            </div>
                        </a>
                    </div>
                    <div class="reviewsValue">
                        <a data-target="#3a" aria-controls="3a" role="tab" data-toggle="tab">
                            <div class="reviews_num">
                                <h4>{{UserProfileCtrl.userStats.following_people}}</h4>
                            </div>
                            <div class="reviews_txt">
                                <p>FOLLOWING</p>
                            </div>
                        </a>
                    </div>
                    <div class="reviewsValue">
                        <a data-target="#4a" aria-controls="4a" role="tab" data-toggle="tab">
                            <div class="reviews_num">
                                <h4>{{UserProfileCtrl.userStats.followed_by_public}}</h4>
                            </div>
                            <div class="reviews_txt">
                                <p>FOLLOWERS</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="tab-content clearfix ">
                <div class="tab-pane active" id="1a">
                    <div class="rowHome userpageFollow" ng-repeat-start="checkinList in UserProfileCtrl.userCheckin">
                        <!--start movieName -->
                        <div class="movieName">
                            <div class="movieNameTxt">
                                <h4 class="fl">{{checkinList.movie_name}}</h4>
                                <p>({{checkinList.movie_release_year}})</p>
                                <span class="glyphicon glyphicon-menu-down" aria-hidden="true" ng-repeat="rating in UserProfileCtrl.range(checkinList.checkin_rating/2) track by $index"></span></div>
                            <div class="movieRating">
                                <div class="movieStar"> <span class="glyphicon glyphicon-star" aria-hidden="true"></span> </div>
                                <div class="reviewDays fl">
                                    <p>({{UserProfileCtrl.Date(checkinList.submit_time) | date:'dd'}} day ago)</p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <p>{{checkinList.movie_outline}}</p>
                        </div>
                        <div class="clearfix"></div>
                        <!--start movieName -->
                        <!--start movieContent -->
                        <div class="movieContent">
                            <div class="movieContentImg"><img ng-src="{{checkinList.movie_poster}}" alt="" /></div>
                            <div class="movieContentDetail">
                                <div class="movieContentTitle">
                                    <h4>{{checkinList.movie_name}}</h4>
                                </div>
                                <div class="movieContentGener fl">
                                    <button type="button" class="movietype" ng-repeat="genre in checkinList.movie_genres| limitTo:2 track by $index">{{genre}}</button>
                                    <p class="fr" ng-if="checkinList.movie_genres.length >2">+{{(checkinList.movie_genres.length-2)}}</p>
                                </div>
                                <div class="SYNOPSIS fl">
                                    <h5>SYNOPSIS</h5>
                                    <p>{{checkinList.movie_outline}}<span class="glyphicon glyphicon-plus" aria-hidden="true"></span></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <hr>
                        <!--start movieContent -->
                        <!--start movieReview -->
                        <div class="movieReview">
                            <div>
                                <button type="button" class="review_btn">Read Review</button>
                            </div>
                            <div class="movieReview_bottom btn-group btn-group-justified">
                                <div class="movieReview_bottomDiv btn-group"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                    <p>Like</p>
                                </div>
                                <div class="movieReview_bottomDiv btn-group"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                                    <p>Comment</p>
                                </div>
                                <div class="movieReview_bottomDiv btn-group"><span class="glyphicon glyphicon-share" aria-hidden="true"></span>
                                    <p>Share</p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="spacer" ng-repeat-end></div>
                    <!--start movieReview -->
                </div>
                <div class="tab-pane" id="2a">
                    <div class="rowHome userpagewatch" ng-repeat="watchlist in UserProfileCtrl.userWatchList">
                        <!--start movieContent -->
                        <div class="movieContent">
                            <div class="movieContentImg"><img src="{{watchlist.movie_poster}}" alt="" /></div>
                            <div class="movieContentDetail">
                                <div class="movieContentTitle">
                                    <h4 class="fl">{{watchlist.movie_name}}</h4>
                                    <p class="fl">({{watchlist.movie_release_year}})</p>
                                </div>
                                <div class="movieContentGener fl">
                                    <p class="fl watch">{{watchlist.movie_genres.slice(0, 3).join(', ')}}</p>
                                </div>
                                <div class="userRating fl">
                                    <div class="heaxgonicon">
                                        <div class="r-hex-sm ">
                                            <div class="r-hex-inner"></div>
                                        </div>
                                        <span class="hexaTxt" aria-hidden="true">{{watchlist.audience_rating}}</span> </div>
                                    <p>Viewer’s Rating</p>
                                </div>
                                <div>
                                    <button type="button" class="View_btn">Read Review</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <hr>
                        <!--start movieContent -->
                    </div>
                </div>
                <div class="tab-pane" id="3a">
                    <div class="rowHome userpagefollow" ng-repeat="followingList in UserProfileCtrl.peopleFollowing">
                        <!--start movieName -->
                        <div class="reviews">
                            <div class="reviewProfile"><img src="{{followingList.picture}}" alt="" /></div>
                            <div class="reviewrightContent">
                                <div class="reviewName">
                                    <h4>{{followingList.name}}</h4>
                                </div>
                                <div class="reviewStar">
                                    <div class="reviewsValue">
                                        <div class="reviews_num">
                                            <h4>{{followingList.reviews}}</h4>
                                        </div>
                                        <div class="reviews_txt">
                                            <p>REVIEWS </p>
                                        </div>
                                    </div>
                                    <div class="reviewsValue">
                                        <div class="reviews_num">
                                            <h4>{{followingList.follower_public}}</h4>
                                        </div>
                                        <div class="reviews_txt">
                                            <p>FOLLOWERS </p>
                                        </div>
                                    </div>
                                </div>
                                <div ng-class="{'user-green': followingList.is_followed == '1', 'user-grey':followingList.is_followed != '1'}" class="reviewDays"><span class="glyphicon glyphicon-user" aria-hidden="true"></span><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <!--start movieReview -->
                    </div>
                </div>
                <div class="tab-pane" id="4a">
                    <div class="rowHome userpagefollow" ng-repeat="followedList in UserProfileCtrl.peopleFollowed">
                        <!--start movieName -->
                        <div class="reviews">
                            <div class="reviewProfile"><img src="{{followedList.picture}}" alt="" /></div>
                            <div class="reviewrightContent">
                                <div class="reviewName">
                                    <h4>{{followedList.name}}</h4>
                                </div>
                                <div class="reviewStar">
                                    <div class="reviewsValue">
                                        <div class="reviews_num">
                                            <h4>{{followedList.reviews}}</h4>
                                        </div>
                                        <div class="reviews_txt">
                                            <p>REVIEWS </p>
                                        </div>
                                    </div>
                                    <div class="reviewsValue">
                                        <div class="reviews_num">
                                            <h4>{{followedList.follower_public}}</h4>
                                        </div>
                                        <div class="reviews_txt">
                                            <p>FOLLOWERS </p>
                                        </div>
                                    </div>
                                </div>
                                <div ng-class="{'user-green': followedList.is_followed == '1', 'user-grey':followedList.is_followed != '1'}" class="reviewDays"><span class="glyphicon glyphicon-user" aria-hidden="true"></span><span class="glyphicon" ng-class="{'glyphicon-ok': followedList.is_followed == '1', 'glyphicon-plus':followedList.is_followed != '1'}" aria-hidden="true"></span></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <!--start movieReview -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
