<style>
.icon {
    position: relative;
    top: -67px;
}

.Paragraph {
    opacity: 0.5;
    font-family: Roboto-Regular;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.57;
    color: #000000;
}

.PlusOne {
    font-family: Roboto-Medium;
    font-size: 16px;
    font-weight: 500;
    color: #cb202e;
}

.movieContent1 {
    position: relative;
    float: left;
    width: 100%;
    /* margin: 0; */
    padding: 5px;
    border-radius: 4px;
    background-color: #ffffff;
    /* border: solid 1px #e6e6e6; */
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
    margin-bottom: 4%;
    border: solid 1px #e6e6e6;
}

/* Core component styles */

.ng-image-crop {
    text-align: center;
    margin: 0 auto;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}


/* Each of the 3 steps in the process are contained within sections */

.ng-image-crop > section {
    background: #ccc;
}


/* The cropping button */

.ng-image-crop button {
    margin-top: 10px;
}


/* The dashed cropping guideline */

.ng-image-crop .cropping-guide {
    display: block;
    background: rgba(255, 255, 255, .3);
    border: 2px dashed white;
    position: absolute;
    pointer-events: none;
}


/* The circular themed cropping guideline */

.ng-image-crop--circle .cropping-guide {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


/* The canvas where the user positions the image via dragging and zooming */

.ng-image-crop .cropping-canvas {
    background: rgba(255, 255, 255, .3);
    margin: 0 auto;
    cursor: move;
}


/* The overlayed draggable zoom handle in the corner of the module */

.ng-image-crop .zoom-handle {
    display: block;
    position: absolute;
    bottom: 1px;
    left: 1px;
    background: rgba(255, 255, 255, 0.7);
    width: 80px;
    height: 80px;
    cursor: move;
    border-radius: 200px 50px;
}


/* The text within the zoom handle */

.ng-image-crop .zoom-handle > span {
    color: rgba(0, 0, 0, 0.5);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    display: block;
    position: relative;
    top: 32px;
}

.cropimagecontainer {
	width: 80%;
	height: 80%;
}
.banner_img, .banner_img_login{
	margin-top:10%;
}
.userEditpage .video_banner h2{
	margin-top:2%;
}
</style>
<div class="bg_banner"> <img ng-src="{{UserProfileCtrl.userProfile.picture}}" alt="" /></div>
<div class="container-fluid">
    <div class="row userEditpage">
        <div class="col-md-6 col-md-offset-3">
            <div class="editImg" ng-click="UserProfileCtrl.clickOnUpload();">
                <p> Edit</p>
                <input type="file" name="fileInput" id="fileInput" onchange="angular.element(this).scope().fileChanged(event)" />
            </div>
            <div class="video_banner">
                <div class="banner_img userPic"><img ng-src="{{UserProfileCtrl.userProfile.picture}}" alt="" />
                </div>
                <h2>{{UserProfileCtrl.userProfile.name}}</h2>
            </div>
        </div>
    </div>
</div>

<div class="container userEditpageForm" style="margin-top:80px;">
    <!--<div class="progressStatus">
        <p>PROFILE COMPLETION</p>
    </div>
    <button type="button" class="View_btn">FLICK MOVIES TO INCREASE</button>-->
    <form name="userForm" novalidate>
        <div class="form-group">
            <label for="inputEmail">CHANGE PASSWORD</label>
            <input name="oldPassword" required="" type="password" ng-class="{'has-error' : userForm.oldPassword.$invalid && (userForm.oldPassword.$touched || userForm.$submitted)}" class="form-control" id="inputEmail" placeholder="Old Password" data-ng-model="UserProfileCtrl.userObj.oldPassword">
            <input name="newPassword" required="" type="password" ng-class="{'has-error' : userForm.newPassword.$invalid && (userForm.newPassword.$touched || userForm.$submitted)}" class="form-control" id="inputPassword" placeholder="New Password" data-ng-model="UserProfileCtrl.userObj.newPassword">
            <input name="confirmPassword" required="" type="password" ng-class="{'has-error' : userForm.confirmPassword.$invalid && (userForm.confirmPassword.$touched || userForm.$submitted)}" class="form-control" id="inputPassword1" placeholder="Confirm Password" data-ng-model="UserProfileCtrl.userObj.confirmPassword">
        </div>
        <button type="submit" ng-click="mainCtrl.routeToUserProfile(UserProfileCtrl.userProfile.user_id)" class="cancel_btn View_btn">Cancel</button>
        <button type="submit" class="cancel_btn search" ng-click="UserProfileCtrl.submitUserForm(userForm)">Save</button>
    </form>
</div>


<div class="userModal modal fade" id="myPictureModal" role="dialog">
    <div class="popupHeader">
        <span class="glyphicon glyphicon glyphicon-remove" data-dismiss="modal"></span> </div>
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
            	<div class="cropimagecontainer" ng-show="!result"> 
                	<image-crop data-height="200" data-width="200" data-shape="circle" data-step="imageCropStep" src="imgSrc" data-result="result" data-result-blob="resultBlob" crop="initCrop" padding="50" max-size="768"></image-crop>
					<div>
					    <br/>
					    <button ng-click="initCrop=true">Crop</button>
					</div>
            	</div>
				<div ng-show="result">
					<img ng-src="{{ result }}" alt="The Cropped Image">
					<button ng-click="uploadFile()">Save</button>
					<!--<button ng-click="result=null;resultBlob=null;imageCropStep=1">Redo</button>-->
				</div>
                
            </div>
        </div>
    </div>
</div>