<style>
    .icon {
    position: relative;
}
.Paragraph {
    opacity: 0.5;
    font-family: Roboto-Regular;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.57;
    color: #000000;
}
.movieContentTitle p{
    margin-top: 10px;
}
.movieContentDetail{
    width: 58%;
}
.PlusOne {
    font-family: Roboto-Medium;
    font-size: 16px;
    font-weight: 500;
    color: #cb202e;
}
.movieContent1 {
    position: relative;
    float: left;
    width: 100%;
    /* margin: 0; */
    padding: 5px;
    border-radius: 4px;
    background-color: #ffffff;
    /* border: solid 1px #e6e6e6; */
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
    margin-bottom: 4%;
    border: solid 1px #e6e6e6;
}
.imagePercentContainer {
    position: relative;
    margin-top: 25%;
	margin-left: 32%;
}
@media (max-width: 350px) {
	.imagePercentContainer{
		margin-left:28%;
	}
}
.banner_img_login {
    position: absolute;
    width: 84%;
    margin-left: 8%;
    height: auto;
	margin-top:-2%;
}
.c100.big {
    font-size: 124px;
}
userEditpage .banner_img img {
    width: 100%;    
    margin: 10%;
}
.nav-pills .reviewStar .active {
	border-bottom: solid 1px #B3090C;
}
.green {
	color: #e7a614 !important;
}
.commentBox {
	display: none;
}
.comment_btn {
	background-color: #cb202e;
    height: 26px;
    color: #FFFFFF;
    border: none;
    border-radius: 3px;
    margin-bottom: 13px;
    margin-left: 10px;
}
.userpagewatch .plat_btn_inner {
    width: 50%;
    margin-top: -95%;
    margin-left: 20%;
}
.Paragraph {
    height: 40px;
    overflow: hidden;
}




/*this code also need to add as part of other screen not ipad start*/
.movieContentImg{
    height: 168px;
}
.movieNameTxt h4{
    max-width: 158px;
}

/*this code also need to add as part of other screen not ipad end*/

/*rajesh ipad start 11Aug16*/

@media only screen and (min-width: 768px) {


    .rowHome{
        margin-top: 2%;
    }

    .userpagewatch .movieContent{
        margin-left: 1.5%;
    }

    .userpageFollow {
        width: 45%;
        float: left;
        margin-left: 4%;
        height: 422px;
        margin-bottom: 1%;
        margin-top: 2%;
    }

    .bg_banner {
        height: 440px;
        opacity: 0.2;
    }

    .bg_banner img {
        height: 100%;
    }

    .spacer {
        height: 0px;
    }

    .tab-content {
        background-color: #e9ebee;
        padding-bottom: 2%;
    }

    .ipadContaner {
        padding: 0px;
        width: 96.99%;

    }

    .c100.big {
        margin-left: 14%;
    }

    .userEditpage .video_banner h2 {
        margin-top: -1%;
    }

    .edit_img {

        margin-top: 12%;
        margin-left: 27%;
    }

    .movieNameTxt h4 {
        width: 55%;
    }

    .movieContentImg{
        height: 168px;
    }

    .movieContent2{
        width: 100%;
    }
    .userpagefollow1{
        width: 48%;
        float: left;
        background-color: #fff;
        margin-left: 1.5%;
    }

    .userpagefollow .reviewStar1{
        margin-top: 19px;
    }

}
/*rajesh ipad end 11Aug16*/


</style>
<div class="bg_banner"> <img ng-src="{{UserProfileCtrl.userProfile.picture}}" alt="" /></div>
<div class="container-fluid">
    <div class="row userEditpage">
        <div class="col-md-6 col-md-offset-3">
            <div class="video_banner" ng-if="UserProfileCtrl.isLogged">
                <div ng-if="UserProfileCtrl.isSelf" class="edit_img" ng-click="UserProfileCtrl.routeToEditProfile()">
                    <a href="#"><img src="assets/images/edit@2x.png" alt="" /></a>
                </div>
                <div class="imagePercentContainer">
                    <div id="profilePictureId" class="c100 big">
                        <span><div class="banner_img_login"><img ng-src="{{UserProfileCtrl.userProfile.picture}}" alt="{{UserProfileCtrl.userProfile.name}}" /></div></span>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                    </div>
                </div>
                <h2>{{UserProfileCtrl.userProfile.name}}</h2>
                <p>{{UserProfileCtrl.userStats.profile_score}}% COMPLETE</p>
				<div ng-if="!UserProfileCtrl.isSelf">
					<button ng-if="UserProfileCtrl.userProfile.is_followed == '0'" ng-click="UserProfileCtrl.toggleFollowPerson(UserProfileCtrl.userProfile.is_followed,UserProfileCtrl.userProfile.user_id)" type="button" class="Follow_btn">Follow</button>
					<button ng-if="UserProfileCtrl.userProfile.is_followed == '1'" ng-click="UserProfileCtrl.toggleFollowPerson(UserProfileCtrl.userProfile.is_followed,UserProfileCtrl.userProfile.user_id)" type="button" class="Follow_btn">Stop Following</button>
				</div>
            </div>

            <div class="video_banner" ng-if="!UserProfileCtrl.isLogged">
                <div class="banner_img"><img ng-src="{{UserProfileCtrl.userProfile.picture}}" alt="" /></div>
                <h2>{{UserProfileCtrl.userProfile.name}}</h2>
                <button ng-click="mainCtrl.showLoginBox()" type="button" class="Follow_btn">Follow</button>
            </div>
        </div>
    </div>
</div>
<div class="container ipadContaner">
    <div class="row" style="background-color:#FFFFFF; margin-top:10px;">
        <div id="exTab1">
            <div class="nav nav-pills">
                <div class="reviewStar">
                    <div id="ratedTab" class="reviewsValue active">
                        <a ng-click="UserProfileCtrl.makeActiveTab('ratedTab')" data-target="#1a" aria-controls="1a" role="tab" data-toggle="tab">
                            <div class="reviews_num">
                                <h4>{{UserProfileCtrl.userStats.checkin}}</h4>
                            </div>
                            <div class="reviews_txt">
                                <p>RATED</p>
                            </div>
                        </a>
                    </div>
                    <div id="watchListTab" class="reviewsValue">
                        <a ng-click="UserProfileCtrl.makeActiveTab('watchListTab')" data-target="#2a" aria-controls="2a" role="tab" data-toggle="tab">
                            <div class="reviews_num">
                                <h4>{{UserProfileCtrl.userStats.watch}}</h4>
                            </div>
                            <div class="reviews_txt">
                                <p>WATCHLIST</p>
                            </div>
                        </a>
                    </div>
                    <div id="followedTab" class="reviewsValue">
                        <a ng-click="UserProfileCtrl.makeActiveTab('followedTab')" data-target="#3a" aria-controls="3a" role="tab" data-toggle="tab">
                            <div class="reviews_num">
                                <h4>{{UserProfileCtrl.userStats.following_people}}</h4>
                            </div>
                            <div class="reviews_txt">
                                <p>FOLLOWING</p>
                            </div>
                        </a>
                    </div>
                    <div id="followingTab" class="reviewsValue">
                        <a ng-click="UserProfileCtrl.makeActiveTab('followingTab')" data-target="#4a" aria-controls="4a" role="tab" data-toggle="tab">
                            <div class="reviews_num">
                                <h4>{{UserProfileCtrl.userStats.followed_by_public}}</h4>
                            </div>
                            <div class="reviews_txt">
                                <p>FOLLOWERS</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="tab-content clearfix ">
                <div class="tab-pane active" id="1a">
                    <div class="rowHome userpageFollow" ng-repeat-start="checkinList in UserProfileCtrl.userCheckin track by $index" lazy-scroll="UserProfileCtrl.loadMore()" lazy-scroll-trigger="98%">
                        <!--start movieName -->
                        <div class="movieName">
                            <div class="movieNameTxt">
                                <h4 class="fl" style="max-width: 150px">{{checkinList.movie_name}}</h4>
                                <p>({{checkinList.movie_release_year}})</p>
							</div>
                            <div class="movieRating">
                                <div class="movieStar"> <span class="fa fa-star green" aria-hidden="true" ng-repeat="rating in UserProfileCtrl.range(checkinList.checkin_rating) track by $index"></span></div> 
								<div class="reviewDays">
									<p>{{UserProfileCtrl.Date(checkinList.submit_time).toDateString()}}</p>
								</div>
                            </div>
                            <div class="clearfix"></div>
                            <p class="Paragraph">{{checkinList.review_text}}</p>
                        </div>
                        <div class="clearfix"></div>
                        <!--start movieContent -->
                        <div class="movieContent movieContent1 movieContent2">
                            <div class="movieContentImg"><img  ng-src="{{checkinList.movie_poster.replace('mimages','simages')}}" alt="" />
                             <div class="plat_btn_inner" ng-if="checkinList.movie_trailer">
                               <a ng-click="UserProfileCtrl.loadMovieTrailer(checkinList.movie_trailer)"><img src="assets/images/play_btn.png" alt="" /></a>
							 </div>
                            </div>
                            <div class="movieContentDetail">
                                <div class="movieContentTitle" ng-click="mainCtrl.routeToMovieDetail(checkinList.seo_link,checkinList.movie_id)">
                                    <h4 ng-if="checkinList.movie_name.length <= 14">{{checkinList.movie_name}}</h4>
									<h4 ng-if="checkinList.movie_name.length > 14"><marquee>{{checkinList.movie_name}}</marquee></h4>
                                </div>
                                <div class="movieContentGener fl">
                                    <button type="button" class="movietype" ng-repeat="genre in checkinList.movie_genres| limitTo:2 track by $index">{{genre}}</button>
                                    <p class="fr PlusOne" ng-if="checkinList.movie_genres.length >2">+{{(checkinList.movie_genres.length-2)}}</p>
                                </div>
                                <div class="SYNOPSIS fl">
                                    <h5>SYNOPSIS</h5>
                                    <p>{{checkinList.movie_outline}}<span ng-click="mainCtrl.routeToMovieDetail('',checkinList.movie_id)" class="glyphicon glyphicon-plus glyphiconplus" aria-hidden="true"></span></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <hr ng-if="checkinList.review_text">
                        <!--start movieReview -->
                        <div class="movieReview" ng-if="checkinList.review_text">
                            <div>
                                <button type="button" class="review_btn" ng-click="UserProfileCtrl.openReviewBox(checkinList.movie_name, checkinList.movie_release_year, checkinList.review_text, checkinList.checkin_rating)">Read Review</button>
                            </div>
                            <div class="movieReview_bottom btn-group btn-group-justified">
                                <div ng-click="UserProfileCtrl.isLogged ? UserProfileCtrl.addUserReviewLike(checkinList.review_id) : mainCtrl.showLoginBox()" class="movieReview_bottomDiv btn-group"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                    <p>Like</p>
                                </div>
                                <div ng-click="UserProfileCtrl.isLogged ? UserProfileCtrl.openCommentBox(checkinList.review_id) : mainCtrl.showLoginBox()" class="movieReview_bottomDiv btn-group"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                                    <p>Comment</p>
                                </div>
                                <div ng-click="UserProfileCtrl.isLogged ? UserProfileCtrl.shareUserReview(checkinList.review_id) : mainCtrl.showLoginBox()" class="movieReview_bottomDiv btn-group"><span class="glyphicon glyphicon-share" aria-hidden="true"></span>
                                    <p>Share</p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
							<div id="addCommentBox-{{checkinList.review_id}}" class="container commentBox">
								<input class="col-xs-10 InputBox" type="text" name="Comment" ng-model="checkinList.comment" placeholder="Add a comment" >
								<button type="button" class="comment_btn" ng-click="UserProfileCtrl.isLogged ? UserProfileCtrl.addUserReviewComment(checkinList.review_id) : mainCtrl.showLoginBox()">Post</button>
							</div>
                        </div>
                    </div>


                    <div class="" ng-repeat-end></div>
                    <!--<div class="clearfix"></div>--><!--for mobile uncomment this , and comment the upper div, upper line mein jo hai-->
                    <!--<div class="spacer" ng-repeat-end></div>-->
                    <!--start movieReview -->
                </div>
                <div class="tab-pane" id="2a">
                    <div class="rowHome userpagewatch" ng-repeat="watchlist in UserProfileCtrl.userWatchList track by $index" lazy-scroll="UserProfileCtrl.loadMore()" lazy-scroll-trigger="98%">
                        <!--start movieContent -->
                        <div class="movieContent movieContent1">
							<div class="movieContentImg"><img  ng-src="{{watchlist.movie_poster.replace('mimages','simages')}}" alt="" />
                             <div class="plat_btn_inner" ng-if="watchlist.movie_trailer">
                               <a ng-click="UserProfileCtrl.loadMovieTrailer(watchlist.movie_trailer)"><img src="assets/images/play_btn.png" alt="" /></a>
							 </div>
                            </div>
                            <div class="movieContentDetail">
                                <div class="movieContentTitle">
                                    <h4 class="fl" ng-if="watchlist.movie_name.length <= 14" ng-click="mainCtrl.routeToMovieDetail(watchlist.seo_link,watchlist.movie_id)">{{watchlist.movie_name}}</h4>
									<h4 class="fl" ng-if="watchlist.movie_name.length > 14" ng-click="mainCtrl.routeToMovieDetail(watchlist.seo_link,watchlist.movie_id)"><marquee>{{watchlist.movie_name}}</marquee></h4>
                                    <p class="fl">({{watchlist.movie_release_year}})</p>
                                </div>
                                <div class="movieContentGener fl">
                                    <p class="fl watch">{{watchlist.movie_genres.slice(0, 3).join(', ')}}</p>
                                </div>
                                <div class="userRating fl">
                                    <div class="heaxgonicon">
                                        <div class="r-hex-sm ">
                                            <div class="r-hex-inner"></div>
                                        </div>
                                        <span class="hexaTxt" aria-hidden="true">{{UserProfileCtrl.getFormattedRating(watchlist.audience_rating)}}</span> </div>
                                    <p>Viewer’s Rating</p>
                                </div>
                                <div>
                                    <button type="button" class="View_btn" ng-click="mainCtrl.routeToMovieDetail(watchlist.seo_link,watchlist.movie_id)">Read More</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <hr ng-if="checkinList.review_text">
                        <!--start movieContent -->
                    </div>
                </div>
				<div class="tab-pane" id="3a">
                    <div class="rowHome userpagefollow userpagefollow1" ng-repeat="followedList in UserProfileCtrl.peopleFollowed track by $index" lazy-scroll="UserProfileCtrl.loadMore()" lazy-scroll-trigger="98%">
                        <!--start movieName -->
                        <div class="reviews">
                            <div class="reviewProfile"><img ng-click="mainCtrl.routeToUserProfile(followedList.person_id)" ng-src="{{followedList.picture}}" alt="" /></div>
                            <div class="reviewrightContent">
                                <div class="reviewName" ng-click="mainCtrl.routeToUserProfile(followedList.person_id)">
                                    <h4 ng-if="followedList.name.length <= 14">{{followedList.name}}</h4>
									<h4 ng-if="followedList.name.length > 14"><marquee>{{followedList.name}}</marquee></h4>
                                </div>
                                <div class="reviewStar reviewStar1">
                                    <div class="reviewsValue">
                                        <div class="reviews_num">
                                            <h4>{{followedList.reviews}}</h4>
                                        </div>
                                        <div class="reviews_txt">
                                            <p>REVIEWS </p>
                                        </div>
                                    </div>
                                    <div class="reviewsValue">
                                        <div class="reviews_num">
                                            <h4>{{followedList.follower_public}}</h4>
                                        </div>
                                        <div class="reviews_txt">
                                            <p>FOLLOWERS </p>
                                        </div>
                                    </div>
                                </div>
                                <div ng-click="UserProfileCtrl.isLogged ? UserProfileCtrl.toggleFollowPerson(followedList.is_followed,followedList.person_id) : mainCtrl.showLoginBox()" ng-class="{'user-green': followedList.is_followed == '1', 'user-grey':followedList.is_followed != '1'}" class="reviewDays icon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span><span class="glyphicon" ng-class="{'glyphicon-ok': followedList.is_followed == '1', 'glyphicon-plus':followedList.is_followed != '1'}" aria-hidden="true"></span></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <!--start movieReview -->
                    </div>
                </div>
                <div class="tab-pane" id="4a">
                    <div class="rowHome userpagefollow userpagefollow1" ng-repeat="followingList in UserProfileCtrl.peopleFollowing track by $index" lazy-scroll="UserProfileCtrl.loadMore()" lazy-scroll-trigger="98%">
                        <!--start movieName -->
                        <div class="reviews">
                            <div class="reviewProfile"><img ng-click="mainCtrl.routeToUserProfile(followingList.person_id)" ng-src="{{followingList.picture}}" alt="" /></div>
                            <div class="reviewrightContent">
                                <div class="reviewName" ng-click="mainCtrl.routeToUserProfile(followingList.person_id)">
                                    <h4 ng-if="followingList.name.length <= 14">{{followingList.name}}</h4>
									<h4 ng-if="followingList.name.length > 14"><marquee>{{followingList.name}}</marquee></h4>
                                </div>
                                <div class="reviewStar reviewStar1">
                                    <div class="reviewsValue">
                                        <div class="reviews_num">
                                            <h4>{{followingList.reviews}}</h4>
                                        </div>
                                        <div class="reviews_txt">
                                            <p>REVIEWS </p>
                                        </div>
                                    </div>
                                    <div class="reviewsValue">
                                        <div class="reviews_num">
                                            <h4>{{followingList.follower_public}}</h4>
                                        </div>
                                        <div class="reviews_txt">
                                            <p>FOLLOWERS </p>
                                        </div>
                                    </div>
                                </div>
                                <div ng-click="UserProfileCtrl.isLogged ? UserProfileCtrl.toggleFollowPerson(followingList.is_followed,followingList.person_id) : mainCtrl.showLoginBox()" ng-class="{'user-green': followingList.is_followed == '1', 'user-grey':followingList.is_followed != '1'}" class="reviewDays icon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span><span class="glyphicon" ng-class="{'glyphicon-ok': followingList.is_followed == '1', 'glyphicon-plus':followingList.is_followed != '1'}" aria-hidden="true"></span></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <!--start movieReview -->
                    </div>
                </div>
                
            </div>
        </div>
    </div>

</div>
<!-- Watch It on -->
<div class="userModal modal fade" id="myModal" role="dialog">
    <div class="popupHeader">
        <span class="glyphicon glyphicon glyphicon-remove" data-dismiss="modal"></span> </div>
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <h2>Watch it on</h2>
                <div class="popupImguser"><img src="assets/images/playstore.jpg" alt="" /> <img src="assets/images/amazon.jpg" alt="" /> <img src="assets/images/apple.jpg" alt="" /> </div>
            </div>
        </div>
    </div>
</div>
<!-- Trailer video -->
<div class="modal fade" id="introVideo" tabindex="-1" role="dialog" aria-labelledby="introductionVideo" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe id="VideoPlayer" width="560" height="315" ng-src="{{UserProfileCtrl.movie_trailer | trustYoutubeUrl}}" class="embed-responsive-item allowfullscreen"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Show Review -->
<div class="modal fade" id="writeReview" tabindex="-1" role="dialog" aria-labelledby="introductionVideo" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="headetopPopup"><span class="glyphicon glyphicon-remove" aria-hidden="true" data-dismiss="modal"></span>
                        <div class="closeTAb" data-dismiss="modal" aria-label="Close">
                            <h4>{{UserProfileCtrl.userReviewObj.movie_name}}</h4>
                            <p>({{UserProfileCtrl.userReviewObj.release_year}})</p>
                        </div>
                        
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="starRating">
						
						<div class="movieStarReview" ng-if="UserProfileCtrl.userReviewObj.review_rating"> <span ng-class="{'fa-active': UserProfileCtrl.userReviewObj.review_rating>0}" class="fa fa-star" aria-hidden="true"></span> <span ng-class="{'fa-active': UserProfileCtrl.userReviewObj.review_rating>1}" class="fa fa-star" aria-hidden="true"></span> <span ng-class="{'fa-active': UserProfileCtrl.userReviewObj.review_rating>2}" class="fa fa-star" aria-hidden="true"></span> <span ng-class="{'fa-active': UserProfileCtrl.userReviewObj.review_rating>3}" class="fa fa-star" aria-hidden="true"></span> <span ng-class="{'fa-active': UserProfileCtrl.userReviewObj.review_rating>4}" class="fa fa-star" aria-hidden="true"></span></div>
                    </div>
                    <div class="container">
                    <textarea name="textarea" ng-readonly="UserProfileCtrl.isReadOnly" rows="10" cols="50" class="writereview" ng-model="UserProfileCtrl.userReviewObj.review_text" placeholder="Write Review here"></textarea>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>