<style>
	/*code added by rajesh 5Aug2016*/
	.languae{
		margin-bottom: 5px;
	}
	.reviewStar .reviewsValue{
		float: right;
		margin-right: -21px;
		margin-top: -6%;
	}
	.reviewStar .glyphicon{
		color:#5ba829;
		opacity:1;
	}
	/*code added by rajesh 5Aug2016*/
	.headerCross {
		position: absolute;
		font-size: 25px;
		/* margin-right: -9%; */
		top: 10px;
		/* left: 340px; */
		color: #cb202e;
		right: 23px;
		z-index: 99;
	}
	.homeContainer h2{
		text-align: center;
		font-family: Roboto-Regular;
	}
	.headerYear{
		text-align: center
	}
	.plusSly{
		font-family: Roboto-regular;
		font-size: 28px;
		font-weight: 500;
		/* letter-spacing: 2.8px; */
		color: #c9202d;
		margin-top: -3px;
	}
	.plusSTylg{
		margin-bottom: 3%;
		width: 40px;
		height: 40px;
		border-radius: 20px;
		background-color: #ffffff;
		border: solid 1px #cb202e;
		font-size: 14px;
		font-weight: 900;
		color: #cb202e;
		position: relative;
		top: 3px;
	}
	.RELEASE{    
		margin-top: 4%;
		margin-bottom: 5%;
	}
	.languae .LangEng{
		width: 72px;
		height: 72px;
	}
	.crossCP{
		color: #cd202e;
		opacity: 0.5;
		margin-left: 8px;
		margin-right: 12px;
		font-size: 17px;
	}
	.languae .LangEng p{
		font-size: 26px;
		padding-top: 16px;
		margin-left: -3%;
	}
	/*styling done by me on 01August2016*/
	.headerCross {
        position: absolute;
        font-size: 25px;
        /* margin-right: -9%; */
        top: 10px;
        /* left: 340px; */
        color: #cb202e;
        right: 23px;
        z-index: 99;
    }
    .homeContainer h2{
        text-align: center;
        font-family: Roboto-Regular;
    }
    .headerYear{
        text-align: center
    }
    .plusSly{
        font-family: Roboto-regular;
        font-size: 28px;
        font-weight: 500;
        /* letter-spacing: 2.8px; */
        color: #c9202d;
        margin-top: -3px;
    }
    .plusSTylg{
        margin-bottom: 3%;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: #ffffff;
        border: solid 1px #cb202e;
        font-size: 14px;
        font-weight: 900;
        color: #cb202e;
        position: relative;
        top: 3px;
    }
    .RELEASE{    
		margin-top: 4%;
        margin-bottom: 5%;
	}
    .languae .LangEng{
        width: 72px;
        height: 72px;
    }
	.crossCP{
		color: #cd202e;
		opacity: 0.5;
		margin-left: 8px;
		margin-right: 12px;
		font-size: 17px;
	}
    .languae .LangEng p{
        font-size: 26px;
        padding-top: 16px;
        margin-left: -3%;
    }
.MoreMovies {
    font-family: Roboto-Medium;
    font-size: 16px;
    font-weight: 500;
    color: #c9202d;
}
.DISCOVERMOVIES h4 {
    font-family: Roboto-Regular;
    opacity: 0.5;
    letter-spacing: 1.5px;
    font-size: 13px;
}
.userPreMovie {
    width: 100%;
    height: 100%;
    border-radius: 26px;
}
.userMovies {
    /*width:56px;*/
    height: 59px;
}
.Content_MovieName {
    width: 60%;
    /*float:left;*/
    padding-left: 7%;
    opacity: 0.87;
    font-family: Roboto-Regular;
    font-size: 14px;
    font-weight: bold;
}
.starsChangePref {
    color: #faaf19;
    /*padding-left: 5%;*/
}
.movietype {
    height: 40px;
    font-size: 14px;
    border-radius: 24px;
    font-weight: 900;
    color: #000000;
    margin-bottom: 8px;
    margin-left: 4px;
    padding-left: 8px;
}
.starsChangePref1 {
    padding-left: 7%;
    margin-top: 4%;
}
.starsChangePref2 {
    padding-left: 7%;
    margin-top: 4%;
    color: #d8d8d8;
}
.content_After_Image {
    width: 80%;
    float: left;
}
.userMovieStyle {
    margin-left: 0%;
    width: 19.5%;
    float: left;
}
.PreImage {
    width: 32px;
    height: 32px;
}
.CrossPre {
    float: left;
}
.RELEASEYEAR:hover {
    background-color: #fff;
    color: #000;
}
.RELEASEYEAR.activeIcon {
    background-color: #e7a614 !important;
    color: #ffffff !important;
}
</style>
<div>
	<div class="container">
		<div class="homeContainer fl">
			<h2>Movies are suggested using best combination of these choices</h2>
			<p>Derived from your activity on Flickstree. You can change them anytime here​.​</p>
		</div>
	</div>
	<div class="languae fl DISCOVERMOVIES">
		<h4 style="margin-bottom: 10%;">LANGUAGE</h4>
		<div class="LangEng fl" ng-click="ChangePreferenceCtrl.setAdvanceSearchOption($event, 'movie_language', 'English')" ng-class="{'activeIcon': (ChangePreferenceCtrl.advanceSearchObj.movie_language && ChangePreferenceCtrl.advanceSearchObj.movie_language.indexOf('English')>-1)}">
			<p>EN</p>
		</div>
		<div class="LangEng fl" ng-click="ChangePreferenceCtrl.setAdvanceSearchOption($event, 'movie_language', 'Hindi')" ng-class="{'activeIcon': (ChangePreferenceCtrl.advanceSearchObj.movie_language && ChangePreferenceCtrl.advanceSearchObj.movie_language.indexOf('Hindi')>-1)}">
			<p>हिंदी</p>
		</div>
	</div>
	<div class="languae fl DISCOVERMOVIES">
		<h4 style="margin-bottom: 8%;">DECADES (max 3 entries)</h4>
		<div class="movieContentGener">
			<button type="button" class="plusSTylg" data-toggle="modal" data-target="#myModalDecadeSearch"><div class="plusSly">+</div></button>
			<button type="button" class="movietype" ng-repeat="decade in ChangePreferenceCtrl.advanceSearchObj.add_decade" ng-click="ChangePreferenceCtrl.updateDecadeList($event, decade)">{{decade}} <span class="crossCP">X</span></button>
		</div>
	</div>
	<div class="languae fl DISCOVERMOVIES">
		<h4 style="margin-bottom: 8%;">GENRES (max 3 entries)</h4>
		<div class="movieContentGener">
			<button type="button" class="plusSTylg" data-toggle="modal" data-target="#myModalGenreSearch"><div class="plusSly">+</div></button>
			<button type="button" class="movietype" ng-repeat="genre in ChangePreferenceCtrl.advanceSearchObj.add_genre" ng-click="ChangePreferenceCtrl.updateGenreList($event, genre)">{{genre}} <span class="crossCP">X</span></button>
		</div>
	</div>
	<div class="languae fl DISCOVERMOVIES">
		<h4 style="margin-bottom: 8%;">ADD YOUR FAVOURITE ACTORS</h4>
			<div class="movieContentGener">
			<button type="button" class="plusSTylg" data-toggle="modal" data-target="#myModalActorSearch"><div class="plusSly">+</div></button>
			<!--<button type="button" class="movietype" ng-repeat="actor in ChangePreferenceCtrl.advanceSearchObj.add_actor" ng-click="ChangePreferenceCtrl.updateActorList($event, actor)">{{actor}} <span class="crossCP">X</span></button>-->
		</div>
	</div>
	<div class="languae fl DISCOVERMOVIES">
		<h4 style="margin-bottom: 8%;">ADD YOUR FAVOURITE DIRECTORS</h4>
		<div class="movieContentGener">
			<button type="button" class="plusSTylg" data-toggle="modal" data-target="#myModalDirectorSearch"><div class="plusSly">+</div></button>
			<!--<button type="button" class="movietype" ng-repeat="director in ChangePreferenceCtrl.advanceSearchObj.add_director" ng-click="ChangePreferenceCtrl.updateDirectorList($event, director)"> {{director}} <span class="crossCP">X</span></button>-->
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="spacer"></div>
</div>
<div class="clearfix"></div>
<div class="spacer"></div>
<div class="onboardingBottom">
	<div class="onboardingNext" ng-click="ChangePreferenceCtrl.refreshRecommendations()">
		<p>Apply</p>
	</div>
</div>

<script>
$('#myModalActorSearch').on('shown.bs.modal', function () {
    $('#searchActorBox').focus();
});
$('#myModalDirectorSearch').on('shown.bs.modal', function () {
    $('#searchDirectorBox').focus();
});
$('#myModalDecadeSearch').on('shown.bs.modal', function () {
    $('#searchDecadeBox').focus();
});
$('#myModalGenreSearch').on('shown.bs.modal', function () {
    $('#searchGenreBox').focus();
});

 
</script>

<!-- Search for Actor Modal -->
<div class="modal fade" id="myModalActorSearch" role="dialog">
	<div class="popupHeader">
		<input type="text" id="searchActorBox" placeholder="Search Actor Name To Add..." ng-keyup="ChangePreferenceCtrl.loadSearchPage($event, 'add_actor')" />
		<span class="glyphicon glyphicon glyphicon-remove headerCross" data-dismiss="modal" ng-click="ChangePreferenceCtrl.clearSearch('actor')"></span> 
	</div>
	<div class="modal-dialog" >
		<!-- Modal content-->
		<div class="modal-content" >
			<div class="modal-body" style="margin-top: 20px;">
				<!-- myModalActor content-->
				<div class="reviews"  ng-class="ChangePreferenceCtrl.advanceSearchObj.add_actor.indexOf(actor.name) > -1 && 'activeIcon'" ng-repeat="actor in ChangePreferenceCtrl.searchActorList" ng-click="ChangePreferenceCtrl.advanceSearchObj.add_actor.indexOf(actor.name) == -1 && ChangePreferenceCtrl.updateActorList($event, actor.name, actor.actor_id)">
					<div class="reviewProfile col-sm-4"><img ng-src="{{actor.picture}}" alt="{{actor.name}}" src="assets/images/no-critics.jpg" /></div>
					<div class="reviewrightContent col-sm-8">
						<div class="reviewName">
							<h4 style="margin-left:0px">{{actor.name}}</h4>
							<div class="reviews_txt">
								<p>Movie Actor</p>
							</div>
						</div>
						<div class="reviewStar">
							<div class="reviewsValue" style="margin-top: -18%;">
								<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
							</div>
						</div>
					</div>
				</div>
				<!-- myModalActor content-->
			</div>
			<div class="modal-footer" ng-if="ChangePreferenceCtrl.searchActorList.length > 0">
				<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="ChangePreferenceCtrl.clearSearch('actor')">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- Search for Director Modal -->
<div class="modal fade" id="myModalDirectorSearch" role="dialog">
	<div class="popupHeader">
		<input type="text" id="searchDirectorBox" placeholder="Search Director Name To Add..." ng-keyup="ChangePreferenceCtrl.loadSearchPage($event, 'add_director')" />
		<span class="glyphicon glyphicon glyphicon-remove headerCross" data-dismiss="modal" ng-click="ChangePreferenceCtrl.clearSearch('director')"></span> 
	</div>
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-body" style="margin-top: 20px;">
				<!-- myModalDirector content-->
				<div class="reviews" ng-class="ChangePreferenceCtrl.advanceSearchObj.add_director.indexOf(director.name) > -1 && 'activeIcon'"  ng-repeat="director in ChangePreferenceCtrl.searchDirectorList" ng-click="ChangePreferenceCtrl.advanceSearchObj.add_director.indexOf(director.name) == -1 && ChangePreferenceCtrl.updateDirectorList($event, director.name, director.director_id)">
					<div class="reviewProfile col-sm-4"><img ng-src="{{director.pic}}" alt="" src="assets/images/no-critics.jpg" /></div>
					<div class="reviewrightContent col-sm-8">
						<div class="reviewName">
							<h4 style="margin-left:0px">{{director.name}}</h4>
							<div class="reviews_txt">
								<p>Movie Director</p>
							</div>
						</div>
						<div class="reviewStar">
							<div class="reviewsValue" style="margin-top: -18%;"> <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
							</div>
						</div>
					</div>
				</div>
				<!-- myModalDirector content-->

			</div>
			<div class="modal-footer" ng-if="ChangePreferenceCtrl.searchDirectorList.length > 0">
				<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="ChangePreferenceCtrl.clearSearch('director')">Close</button>
			</div>
		</div>
	</div>
</div>
    
<!-- Search for Decades Modal -->
<div class="modal fade" id="myModalDecadeSearch" role="dialog">
	<div class="popupHeader">
		<input type="text" id="searchDecadeBox" placeholder="Search Decade To Add..." ng-keyup="ChangePreferenceCtrl.loadSearchPage($event, 'add_decade')" />
		<span class="glyphicon glyphicon glyphicon-remove headerCross" data-dismiss="modal" ng-click="ChangePreferenceCtrl.clearSearch('decade')"></span> 
	</div>
	<div class="modal-dialog" >
		<!-- Modal content-->
		<div class="modal-content" >
			<div class="modal-body" style="margin-top: 20px;">
				<!-- myModalActor content-->
				<div class="reviews" ng-class="ChangePreferenceCtrl.advanceSearchObj.add_decade.indexOf(decade.name) > -1 && 'activeIcon'" ng-repeat="decade in ChangePreferenceCtrl.searchDecadeList" ng-click="ChangePreferenceCtrl.advanceSearchObj.add_decade.indexOf(decade.name) == -1 && ChangePreferenceCtrl.updateDecadeList($event, decade.name)">
					<h4>{{decade.name}}s</h4>
					<div class="reviewStar">
						<div class="reviewsValue"> <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
						</div>
					</div>
				</div>
				<!-- myModalActor content-->
			</div>
			<div class="modal-footer" ng-if="ChangePreferenceCtrl.searchDecadeList.length > 0">
				<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="ChangePreferenceCtrl.clearSearch('decade')">Close</button>
			</div>
		</div>
	</div>
</div>	

<!-- Search for Genres Modal -->
<div class="modal fade" id="myModalGenreSearch" role="dialog">
	<div class="popupHeader">
		<input type="text" id="searchGenreBox" placeholder="Search Genre To Add..." ng-keyup="ChangePreferenceCtrl.loadSearchPage($event, 'add_genre')" />
		<span class="glyphicon glyphicon glyphicon-remove headerCross" data-dismiss="modal" ng-click="ChangePreferenceCtrl.clearSearch('genre')"></span> 
	</div>
	<div class="modal-dialog" >
		<!-- Modal content-->
		<div class="modal-content" >
			<div class="modal-body" style="margin-top: 20px;">
				<!-- myModalActor content-->
				<div class="reviews" ng-class="ChangePreferenceCtrl.advanceSearchObj.add_genre.indexOf(genre.name) > -1 && 'activeIcon'" ng-repeat="genre in ChangePreferenceCtrl.searchGenreList" ng-click="ChangePreferenceCtrl.advanceSearchObj.add_genre.indexOf(genre.name) == -1 && ChangePreferenceCtrl.updateGenreList($event, genre.name)">
					<h4>{{genre.name}}</h4>
					<div class="reviewStar">
						<div class="reviewsValue"> <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
						</div>
					</div>
				</div>
				<!-- myModalActor content-->
			</div>
			<div class="modal-footer" ng-if="ChangePreferenceCtrl.searchGenreList.length > 0">
				<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="ChangePreferenceCtrl.clearSearch('genre')">Close</button>
			</div>
		</div>
	</div>
</div>	

<!-- Modal for Recommendations Wait -->
<div class="modal fade" id="waitingModal" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-body" style="padding-top: 50px;">
			<h3 class="recomendationText" style="text-align: center;">Searching for best Movies</h3>
                <p style="text-align: center;"><i>(May take upto a minute)</i></p>
				<p style="text-align: center;margin-top: 8%;margin-bottom: 4%;"><img src="assets/images/puff.svg" alt="Waiting" width="50"></p>
			</div>
		</div>
	</div>
</div>