
<style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
  }
    .Discver_para{
        font-family: Roboto-Regular;
        font-size: 12px;
        font-weight: 300;
        margin-top: -12px;
        MARGIN-BOTTOM: 6%;
    }

  /*ipad view 08Aug16 start */
  @media only screen and (min-width: 768px) {

      .reviews {
          width: 50%;
      }

      .dicovermoviesection {
          width: 50%;
          float: left;
      }
  }
  /*ipad view 08Aug16 start */

</style>
  <!--<div class="Wrapper">-->
<div class="container" style="padding: 0px;width: 100%;">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li ng-if="homeCtrl.isLogged" data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img ng-src="{{homeCtrl.isLogged ? 'assets/images/loggedOne.png' : 'assets/images/HomeScreen1.jpg'}}" alt="Find Movies you will love" >
      </div>
      <div class="item">
        <img ng-src="{{homeCtrl.isLogged ? 'assets/images/loggedTwo.png' : 'assets/images/HomeScreen2.jpg'}}" alt="Watch it on 15+ options" >
      </div>
      <div class="item">
        <img ng-src="{{homeCtrl.isLogged ? 'assets/images/loggedThree.png' : 'assets/images/HomeScreen3.jpg'}}" alt="Follow your friends and see what they like" >
      </div>
	  <div class="item" ng-if="homeCtrl.isLogged">
        <img ng-src="assets/images/loggedFour.png" alt="Follow your friends and see what they like" >
      </div>
    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#" role="button" ng-click="homeCtrl.prevSlide()"  >
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#" role="button" ng-click="homeCtrl.nextSlide()">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<div ng-if="!homeCtrl.isLogged" class="container">
	<div class="col-xs-12 Rectangle-256-2" style="margin-top: -76%; margin-bottom: 9%; z-index: 99;">
        <p ng-click="mainCtrl.showLoginOptions()" class="GET_STARTED_NOW">GET STARTED NOW</p>
    </div>
</div>
<div ng-if="!homeCtrl.isLogged"  class="col-xs-12" style="margin-bottom: -10%; margin-top: -50%; z-index: 99;">
	<p class="Content" ng-click="homeCtrl.skipThis()" id="Content1">Skip This</p>
</div>
<div id="discoverSection" class="rowHome">
    <div class="homeContainer fl">
        <h2>DISCOVER MOVIES</h2>
        <p class="Discver_para">SEE TOP PICKS ACROSS CATEGORIES</p>
        <div class="dicovermoviesection" ng-click="homeCtrl.isLogged ? homeCtrl.routeToDiscoverMovie('recommended') : mainCtrl.showLoginBox()">
            <div class="discovermovieImg"><img src="assets/images/no_movie.jpg" ng-src="{{homeCtrl.miscData.movies_you_would_love_pic}}" alt="" /></div>
            <div class="discovermovieTxt">
                <h2>MOVIES YOU'LL LOVE</h2>
                <p>BASED ON YOUR CHOICES</p>
            </div>
        </div>
		<div class="dicovermoviesection" ng-click="homeCtrl.routeToDiscoverMovie('criticsRecommended')">
            <div class="discovermovieImg"><img src="assets/images/no_movie.jpg" ng-src="{{homeCtrl.miscData.critic_choice_pic}}" alt="" /></div>
            <div class="discovermovieTxt">
                <h2>CRITICS’ CHOICE</h2>
                <p>THE PUNDITS PICK THEIR FAVOURITES</p>
            </div>
        </div>
        <div class="dicovermoviesection" ng-click="mainCtrl.launchExternalUrl('http://blog.flickstree.com/')">
            <div class="discovermovieImg"><img src="assets/images/no_movie.jpg" ng-src="{{homeCtrl.miscData.trending_hot_movies_pic}}" alt="" /></div>
            <div class="discovermovieTxt">
                <h2>CINEMA HAPPY</h2>
                <p>BLOG: ALL THINGS MOVIES</p>
            </div>
        </div>        
    </div>
</div>
<!--start row -->
<div class="rowHome">
    <div class="homeContainer fl">
        <h2>ADVANCED SEARCH</h2>
        <p class="Discver_para">FIND EXACTLY WHAT YOU'RE LOOKING FOR</p>
        <div class="CUSTOMDISCOVERY">
            <button type="button" class="trending_btn" ng-repeat="genre in homeCtrl.advanceSearchObj.movie_genre">{{genre}}</button>
            <button type="button" class="trending_btn" ng-repeat="language in homeCtrl.advanceSearchObj.movie_language">{{language}}</button>
            <button type="button" class="trending_btn" ng-if="homeCtrl.advanceSearchObj.movie_decade">{{homeCtrl.advanceSearchObj.movie_decade}}</button>
        </div>
        <hr>
        <div class="discoverMovieContainer">
        <div class="DISCOVERMOVIES">
            <div class="genre">
                <h4>GENRE</h4>
                <div class="genreMovies">
                    <div class="gmovie col-xs-4">
                        <figure ng-click="homeCtrl.setAdvanceSearchOption($event, 'movie_genre', 'Romance')">
                            <svg width="32px" height="31px" viewBox="0 0 32 31" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" >
                                    <g id="Homescreen-Tags-Expanded" transform="translate(-50.000000, -1354.000000)" fill="#CB1F2E">
                                        <g id="Group-17" transform="translate(16.000000, 1321.000000)">
                                            <g id="Group" transform="translate(0.000000, 23.000000)">
                                                <path d="M70.1336808,13.150178 C69.3762268,12.3552718 68.2635641,11.4012784 67.2271334,10.9757198 C66.82651,10.8110645 66.4310227,10.6761054 66.038509,10.5562597 C59.1054527,8.43960321 53.7438026,12.9993102 53.0001352,13.6536893 C52.2561974,12.9993102 46.8945473,8.43960321 39.961491,10.5562597 C39.5692476,10.6761054 39.1737604,10.8110645 38.7728666,10.9757198 C37.7364359,11.4012784 36.6237732,12.3552718 35.8663192,13.150178 C33.5050197,15.6287581 33.6682967,18.9624324 34.7947461,22.0203553 C36.9822258,27.9585538 41.3401546,32.651629 45.8805537,36.8319129 C47.8569086,38.6518715 50.235509,40.7067491 53.0001352,41 C55.764491,40.7067491 58.1430914,38.6518715 60.1197166,36.8319129 C64.6598454,32.651629 69.0177742,27.9585538 71.2052539,22.0203553 C72.3317033,18.9624324 72.4949803,15.6287581 70.1336808,13.150178" id="Fill-1"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            <figcaption>Romantic</figcaption>
                        </figure>
                    </div>
                    <div class="gmovie col-xs-4">
                        <figure ng-click="homeCtrl.setAdvanceSearchOption($event, 'movie_genre', 'Action')">
                            <svg width="26px" height="31px" viewBox="0 0 26 31" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" >
                                    <g id="Homescreen-Tags-Expanded" transform="translate(-167.000000, -1353.000000)" fill="#CB1F2E">
                                        <g id="Group-17" transform="translate(16.000000, 1321.000000)">
                                            <g id="Group" transform="translate(0.000000, 23.000000)">
                                                <path d="M176.77621,20.6923916 C176.438385,19.0270789 175.743967,17.5362607 174.799715,16.2878378 C173.744073,17.9693768 172.056411,19.2330275 169.994363,19.6718852 C169.242423,19.831901 168.315964,19.7565113 167.573773,19.678126 L167.637389,19.5700342 C168.355206,18.3498201 168.049555,16.8128195 166.954671,16.1370585 C165.859543,15.4612975 164.390029,15.9026516 163.671969,17.1228657 L163.613715,17.2222203 C163.244204,16.5981337 162.831307,15.844237 162.660932,15.1395184 C162.155169,13.045583 162.537355,10.9404139 163.560823,9.23815523 C162.053042,8.90639078 160.440452,8.91038493 158.82835,9.31878723 C153.357099,10.7055077 149.9769,16.1977197 151.278964,21.5858341 C151.67943,23.2436578 152.477682,24.6972804 153.548679,25.8768041 C154.552404,24.2709044 156.133551,23.0394566 158.083234,22.5454297 C158.842,22.3529613 159.770652,22.3953992 160.53478,22.4555612 L152.41894,36.2503721 C151.700879,37.4705863 152.00653,39.0075868 153.101658,39.6833478 C154.196542,40.3591088 155.6663,39.9177548 156.384117,38.6975406 L164.514581,24.8777662 C164.887992,25.5432922 165.302595,26.3478647 165.455908,27.1032591 C165.864418,29.1173115 165.464439,31.110145 164.485332,32.731522 C165.986776,33.2103213 167.611796,33.3184131 169.244373,32.9709217 C174.550855,31.8415745 177.922767,26.3443698 176.77621,20.6923916" id="Fill-1"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            <figcaption>Action</figcaption>
                        </figure>
                    </div>
                    <div class="gmovie col-xs-4">
                        <figure ng-click="homeCtrl.setAdvanceSearchOption($event, 'movie_genre', 'Horror')">
                            <svg width="29px" height="31px" viewBox="0 0 29 31" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <defs></defs>
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Homescreen-Tags-Expanded" transform="translate(-275.000000, -1353.000000)" fill="#CB1F2E">
                                        <g id="Group-17" transform="translate(16.000000, 1321.000000)">
                                            <g id="Group" transform="translate(0.000000, 23.000000)">
                                                <path d="M283.439586,19.8519774 C282.581279,21.4140887 279.112544,24.4933264 277.334955,23.7392122 C275.557121,22.9850981 276.143855,18.6831127 277.002162,17.1210014 C277.860224,15.5588901 279.997053,14.9038909 281.774887,15.6580051 C283.552476,16.4121193 284.297893,18.2898661 283.439586,19.8519774 M273.499878,28.6030139 C272.323715,28.6030139 271.37015,30.3213363 271.37015,29.2876734 C271.37015,28.2540105 272.323715,25.8119758 273.499878,25.8119758 C274.676285,25.8119758 275.629605,28.2540105 275.629605,29.2876734 C275.629605,30.3213363 274.676285,28.6030139 273.499878,28.6030139 M269.570277,23.7392122 C267.792442,24.4933264 264.323707,21.4140887 263.4654,19.8519774 C262.607338,18.2898661 263.35251,16.4121193 265.130344,15.6580051 C266.907933,14.9038909 269.044763,15.5588901 269.903069,17.1210014 C270.761132,18.6831127 271.347866,22.9850981 269.570277,23.7392122 M259,21.7415883 C259,25.5344044 260.88803,28.9381757 263.880718,31.2721974 L263.880718,37.7099745 C263.880718,38.9747409 265.047574,40 266.486983,40 C267.926147,40 269.093004,38.9747409 269.093004,37.7099745 L269.093004,36.3426328 C269.734102,35.9822596 270.219945,35.9718785 270.893857,36.3564742 L270.893857,37.7099745 C270.893857,38.9747409 272.060714,40 273.499878,40 C274.939286,40 276.106143,38.9747409 276.106143,37.7099745 L276.106143,36.4192553 C276.68798,35.9743502 277.283285,35.9587785 277.906751,36.3072875 L277.906751,37.7099745 C277.906751,38.9747409 279.073608,40 280.513017,40 C281.952426,40 283.119282,38.9747409 283.119282,37.7099745 L283.119282,31.2749163 C283.864944,30.6935736 284.542529,30.0459895 285.138814,29.3422979 C286.936238,27.2203476 288,24.5899697 288,21.7415883 C288,14.7044251 281.508212,9 273.499878,9 C265.491788,9 259,14.7044251 259,21.7415883 Z" id="Fill-1"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            <figcaption>Horror</figcaption>
                        </figure>
                    </div>
                    <div class="gmovie col-xs-4">
                        <figure ng-click="homeCtrl.setAdvanceSearchOption($event, 'movie_genre', 'Drama')">
                            <svg width="28px" height="31px" viewBox="0 0 28 31" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <defs></defs>
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Homescreen-Tags-Expanded" transform="translate(-55.000000, -1428.000000)" fill="#CB1F2E">
                                        <g id="Group-17" transform="translate(16.000000, 1321.000000)">
                                            <g id="Group" transform="translate(0.000000, 23.000000)">
                                                <path d="M55.1107765,97.1449324 C55.6514503,95.3774775 57.2479912,94.0964872 59.1337975,94.0964872 C61.019361,94.0964872 62.615902,95.3774775 63.1565758,97.1449324 L55.1107765,97.1449324 Z M53.000013,107.542864 C49.8457587,107.449139 47.202087,105.813603 46.2891539,103.581293 L52.9849673,103.581293 L53.014816,103.581293 L59.7106295,103.581293 C58.7976964,105.813603 56.1542672,107.449139 53.000013,107.542864 L53.000013,107.542864 Z M42.8432075,97.1449324 C43.384124,95.3774775 44.9804223,94.0964872 46.8662285,94.0964872 C48.7520348,94.0964872 50.348333,95.3774775 50.8892495,97.1449324 L42.8432075,97.1449324 Z M65.9308053,84.5719808 C65.1214932,83.0801724 63.6346402,84.9111994 62.5896934,85.4936505 C60.2132037,86.8186135 58.4133035,87.4483038 53.000013,87.6154004 C47.5864799,87.4483038 45.7865796,86.8186135 43.41009,85.4936505 C42.3653858,84.9111994 40.8782901,83.0801724 40.0692207,84.5719808 C38.3955101,87.6571118 39.0298554,96.2295445 39.6726942,100.01623 C40.9095948,107.29938 45.4538759,115.193627 53.000013,114.996378 C60.5461501,115.193627 65.0904312,107.29938 66.3270891,100.01623 C66.9701706,96.2295445 67.6045159,87.6571118 65.9308053,84.5719808 L65.9308053,84.5719808 Z" id="Fill-1"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            <figcaption>Drama</figcaption>
                        </figure>
                    </div>
                    <div class="gmovie col-xs-4">
                        <figure ng-click="homeCtrl.setAdvanceSearchOption($event, 'movie_genre', 'Animation')">
                            <svg width="44px" height="31px" viewBox="0 0 44 31" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <!-- Generator: sketchtool 3.8.1 (29687) - http://www.bohemiancoding.com/sketch -->
                                <title>7D914BB8-9836-4168-82D9-DD04F1A533F3</title>
                                <desc>Created with sketchtool.</desc>
                                <defs>
                                    <polygon id="path-1" points="34.6056119 0.0599042642 0.059256031 0.0599042642 0.059256031 17.4714319 34.6056119 17.4714319 34.6056119 0.0599042642"></polygon>
                                </defs>
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Homescreen-Tags-Expanded" transform="translate(-158.000000, -1426.000000)">
                                        <g id="Group-17" transform="translate(16.000000, 1321.000000)">
                                            <g id="Group" transform="translate(0.000000, 23.000000)">
                                                <g id="Page-1" transform="translate(142.000000, 82.000000)">
                                                    <polygon id="Fill-1" fill="#CB1F2E" points="5.19722401 20.3727644 0.000119769643 20.4357407 3.20994621 24.6299608 1.66282184 29.7205945 6.5422371 27.884452 10.7829807 30.9675248 10.5886545 25.6385029 14.7572369 22.4534392 9.75745317 20.9963832 8.09295456 15.9444569"></polygon>
                                                    <polygon id="Fill-2" fill="#CB1F2E" points="33.812138 20.3727644 28.6150338 20.4357407 31.8248602 24.6299608 30.2774364 29.7205945 35.1571511 27.884452 39.3978947 30.9675248 39.2035685 25.6385029 43.3721509 22.4534392 38.3723672 20.9963832 36.7078686 15.9444569"></polygon>
                                                    <g id="Group-10" transform="translate(4.790786, 0.247389)">
                                                        <path d="M17.3126121,8.30383695 C22.0471061,8.30383695 27.0693466,12.2805585 29.3551503,16.7537174 L30.4911654,15.7669867 C28.6191658,9.68132782 23.4280501,5.30340131 17.3126121,5.30340131 C11.1971741,5.30340131 6.00605835,9.68132782 4.13405883,15.7669867 L5.54973601,16.7537174 C7.83553965,12.2805585 12.5781181,8.30383695 17.3126121,8.30383695" id="Fill-3" fill="#CB1F2E"></path>
                                                        <g id="Group-7">
                                                            <mask id="mask-2" fill="white">
                                                                <use xlink:href="#path-1"></use>
                                                            </mask>
                                                            <g id="Clip-6"></g>
                                                            <path d="M0.111954674,17.4714319 C0.076023781,17.0146235 0.059256031,16.6300074 0.059256031,16.260137 C0.059256031,7.3270288 7.80775309,0.0598735441 17.3321345,0.0598735441 C26.8568154,0.0598735441 34.6056119,7.3270288 34.6056119,16.260137 C34.6056119,16.626321 34.5888442,17.0112443 34.5526138,17.4708175 L33.1144798,17.352545 C33.1474165,16.9326008 33.1626871,16.5857704 33.1626871,16.260137 C33.1626871,8.1432628 26.0612456,1.53996967 17.3321345,1.53996967 C8.60332295,1.53996967 1.50188138,8.1432628 1.50188138,16.260137 C1.50188138,16.5891497 1.51715201,16.93598 1.55008866,17.3519306 L0.111954674,17.4714319 Z" id="Fill-5" fill="#CB1F2E" mask="url(#mask-2)"></path>
                                                        </g>
                                                        <path d="M7.0742838,17.7475445 L6.63742403,17.5404908 C8.82890907,12.6704277 12.9193418,9.64480158 17.3127917,9.64480158 C21.7059423,9.64480158 25.796375,12.6704277 27.9875606,17.5404908 L27.5507008,17.7475445 C25.439162,13.053815 21.5164068,10.138167 17.3127917,10.138167 C13.1091767,10.138167 9.18612203,13.053815 7.0742838,17.7475445" id="Fill-8" fill="#CB1F2E"></path>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            <figcaption>Animated</figcaption>
                        </figure>
                    </div>
                    <div class="gmovie col-xs-4">
                        <figure ng-click="homeCtrl.setAdvanceSearchOption($event, 'movie_genre', 'Sci-Fi')">
                            <svg width="29px" height="31px" viewBox="0 0 29 31" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <defs></defs>
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Homescreen-Tags-Expanded" transform="translate(-275.000000, -1428.000000)" fill="#CB1F2E">
                                        <g id="Group-17" transform="translate(16.000000, 1321.000000)">
                                            <g id="Group" transform="translate(0.000000, 23.000000)">
                                                <path d="M283.030142,101.739695 C280.587373,103.76955 277.794363,101.713952 275.331282,98.6367398 C272.868202,95.5592749 271.667624,92.6256639 274.110393,90.595809 C276.55341,88.5659541 280.530403,89.4151972 282.993483,92.4924097 C285.456564,95.5696223 285.472911,99.7098398 283.030142,101.739695 M287.30536,100.979288 C288.320167,97.8942516 287.561229,93.9635056 285.029537,90.8004854 C282.64349,87.8196802 279.28524,86.2726194 276.252956,86.432373 C272.285623,83.8513303 268.380462,83.1870784 266.070953,85.1058882 C264.125803,86.7223522 263.717601,89.8384306 264.642247,93.4569883 L262.044668,95.0759761 C261.722417,94.8011394 261.307775,94.6350764 260.854741,94.6350764 C259.830522,94.6350764 259,95.4812909 259,96.524863 C259,97.568435 259.830522,98.4146495 260.854741,98.4146495 C261.87896,98.4146495 262.709234,97.568435 262.709234,96.524863 C262.709234,96.3805043 262.692143,96.2406883 262.661925,96.1056675 L264.991002,94.6540045 C265.751674,96.985448 267.029533,99.4713451 268.776279,101.868658 L262.044668,106.064399 C261.722417,105.789562 261.307775,105.623499 260.854741,105.623499 C259.830522,105.623499 259,106.469461 259,107.513285 C259,108.556857 259.830522,109.40282 260.854741,109.40282 C261.87896,109.40282 262.709234,108.556857 262.709234,107.513285 C262.709234,107.368927 262.692143,107.228858 262.661925,107.093838 L269.504998,102.828947 C269.545372,102.879926 269.583765,102.931663 269.624635,102.982643 C271.721621,105.602552 274.08389,107.687424 276.403307,109.106279 L272.303457,111.661579 C271.981454,111.386742 271.566564,111.220679 271.11353,111.220679 C270.089311,111.220679 269.259037,112.066641 269.259037,113.110466 C269.259037,114.154038 270.089311,115 271.11353,115 C272.137997,115 272.968271,114.154038 272.968271,113.110466 C272.968271,112.966107 272.950932,112.826291 272.920961,112.69127 L277.594968,109.777849 C280.957677,111.514192 284.114799,111.771615 286.09636,110.124865 C288.182944,108.391299 288.503957,104.933505 287.30536,100.979288" id="Fill-1"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            <figcaption>Sci-Fi</figcaption>
                        </figure>
                    </div>
                    <div class="gmovie col-xs-4">
                        <figure ng-click="homeCtrl.setAdvanceSearchOption($event, 'movie_genre', 'Thriller')">
                            <svg width="40px" height="31px" viewBox="0 0 40 31" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <defs>
                                    <polygon id="path-1" points="8.395133 0.207233748 0.166592078 0.207233748 0.166592078 8.38431619 8.395133 8.38431619 8.395133 0.207233748"></polygon>
                                    <polygon id="path-3" points="0.0354422446 18.4720889 18.3578003 18.4720889 18.3578003 0.26467116 0.0354422446 0.26467116"></polygon>
                                </defs>
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Homescreen-Tags-Expanded" transform="translate(-48.000000, -1498.000000)">
                                        <g id="Group-17" transform="translate(16.000000, 1321.000000)">
                                            <g id="Group" transform="translate(0.000000, 23.000000)">
                                                <g id="Page-1" transform="translate(32.000000, 154.000000)">
                                                    <path d="M20.5603007,5.92232488 C19.751111,6.11887946 18.9349506,5.62648283 18.7371551,4.82236971 C18.5393597,4.01825659 19.0348649,3.20692781 19.8440545,3.01037324 C20.6532442,2.8141073 21.4694046,3.30650392 21.6672001,4.11061704 C21.8649955,4.91473016 21.3694903,5.72577031 20.5603007,5.92232488 M10.5470871,17.8922385 C7.66351391,18.5927348 4.75467173,16.8375977 4.04975311,13.9721149 C3.34512494,11.1066321 5.11134254,8.2160388 7.9949157,7.51554255 C10.8781984,6.81533493 13.787331,8.57047201 14.4919592,11.4356662 C15.1968778,14.301149 13.4306602,17.1917423 10.5470871,17.8922385 M19.5835222,1.95169165 C18.6633812,2.17508847 17.9779226,2.85913301 17.7147763,3.6967268 L17.3964447,3.27590952 C17.0142144,2.77052471 16.4190853,2.57368151 16.0673521,2.83662016 L13.6935162,4.60936344 C11.7399592,3.55443399 9.40039621,3.19076473 7.07012753,3.75676108 C2.09764844,4.9643739 -0.948285455,9.94924027 0.267241706,14.8908127 C1.48247842,19.8320965 6.49910569,22.8589214 11.4715848,21.65102 C16.4275083,20.4474479 19.4690855,15.4917328 18.2860886,10.5666121 L20.6044488,8.83485378 C20.956182,8.57220377 20.9314939,7.94963664 20.5492636,7.44425184 L20.2544583,7.05460621 C20.4415072,7.05056544 20.6311701,7.0271867 20.820833,6.98129511 C22.2184714,6.64158185 23.0744233,5.24058935 22.7328558,3.85171917 C22.3912883,2.46284898 20.9811606,1.61226701 19.5835222,1.95169165" id="Fill-1" fill="#CB1F2E"></path>
                                                    <g id="Group-5" transform="translate(20.331398, 0.081393)">
                                                        <mask id="mask-2" fill="white">
                                                            <use xlink:href="#path-1"></use>
                                                        </mask>
                                                        <g id="Clip-4"></g>
                                                        <path d="M4.90590829,6.83692419 C3.49345701,7.18010096 2.0688069,6.32028295 1.72346358,4.91669282 C1.37841071,3.51339131 2.24336647,2.09739025 3.65581775,1.7545021 C5.06826902,1.41132532 6.49291914,2.27114333 6.83826246,3.67444484 C7.18331533,5.07803497 6.31835956,6.49374741 4.90590829,6.83692419 M3.30408456,0.324935589 C1.09754696,0.860914794 -0.254200567,3.07323607 0.285162382,5.26621938 C0.82452533,7.45920268 3.05081343,8.8024699 5.25735103,8.26649069 C7.46417907,7.73051149 8.8159266,5.51819021 8.27656365,3.32520691 C7.7372007,1.1322236 5.51091261,-0.211043616 3.30408456,0.324935589" id="Fill-3" fill="#CB1F2E" mask="url(#mask-2)"></path>
                                                    </g>
                                                    <path d="M26.0672051,8.45600278 C25.8766708,7.68104093 26.3541682,6.89944066 27.1340226,6.71010175 C27.9135865,6.52076284 28.7004116,6.99526462 28.8909458,7.77022648 C29.0713144,8.50333751 28.652778,9.24193244 27.9464072,9.47976058 L27.6986546,9.53979487 C26.9617866,9.65264779 26.2475736,9.18940244 26.0672051,8.45600278 M30.7259997,8.80466346 L29.8950265,9.00641331 C30.0692956,8.54201344 30.1102488,8.02277457 29.9830324,7.50497883 C29.6449503,6.13053996 28.2499259,5.28890541 26.8671004,5.62486653 C25.4839844,5.96082764 24.6370364,7.34710019 24.9751185,8.72125043 C25.102335,9.23904618 25.3800038,9.6812218 25.7503257,10.0131422 L24.9989353,10.195554 C24.4691572,10.3242814 24.1397885,10.8345729 24.2629387,11.3356283 L25.068643,14.6103833 C25.1917932,15.1111501 25.7209904,15.4130533 26.2504781,15.2843259 L31.977833,13.8931467 C32.5073207,13.764708 32.8369798,13.2544165 32.7135391,12.7533611 L31.9081253,9.47860608 C31.7849751,8.97783929 31.2557779,8.67593609 30.7259997,8.80466346" id="Fill-6" fill="#CB1F2E"></path>
                                                    <g id="Group-10" transform="translate(21.493192, 11.626448)">
                                                        <mask id="mask-4" fill="white">
                                                            <use xlink:href="#path-3"></use>
                                                        </mask>
                                                        <g id="Clip-9"></g>
                                                        <path d="M10.4727322,14.5566988 C7.58915908,15.257195 4.6803169,13.5020579 3.97539828,10.6365752 C3.27077011,7.77109236 5.03698772,4.88049907 7.92056087,4.18000282 C10.804134,3.4797952 13.7129762,5.23493228 14.4176044,8.10012644 C15.122523,10.9656092 13.3563054,13.8562025 10.4727322,14.5566988 M7.02191307,0.527147238 C2.10810459,1.72061736 -0.901523239,6.64631532 0.299481495,11.5292966 C1.50048623,16.4122778 6.45757155,19.4033131 11.37138,18.209843 C16.2848981,17.0160842 19.2948163,12.0903863 18.0938116,7.20740502 C16.8928069,2.32442376 11.9357216,-0.666611509 7.02191307,0.527147238" id="Fill-8" fill="#CB1F2E" mask="url(#mask-4)"></path>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            <figcaption>Thriller</figcaption>
                        </figure>
                    </div>
                    <div class="gmovie col-xs-4">
                        <figure ng-click="homeCtrl.setAdvanceSearchOption($event, 'movie_genre', 'History')">
                            <svg width="31px" height="31px" viewBox="0 0 31 37" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <defs>
                                    <polygon id="path-1" points="0 0.0831067744 0 17.4822189 7.93275096 17.4822189 7.93275096 0.0831067744 3.94351237e-21 0.0831067744"></polygon>
                                    <polygon id="path-3" points="8.08720307 17.4822189 8.08720307 0.0831067744 0.1545394 0.0831067744 0.1545394 17.4822189 8.08720307 17.4822189"></polygon>
                                </defs>
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Homescreen-Tags-Expanded" transform="translate(-164.000000, -1494.000000)">
                                        <g id="Group-17" transform="translate(16.000000, 1321.000000)">
                                            <g id="Group" transform="translate(0.000000, 23.000000)">
                                                <g id="Page-1" transform="translate(148.000000, 150.000000)">
                                                    <path d="M21.7599972,22.6320725 L21.21441,22.6320725 L21.21441,22.0283669 L16.1816224,22.0283669 L16.1816224,23.7685951 L16.1816224,32.3282471 L17.083951,32.3282471 L17.083951,33.1276167 L15.3270146,34.726644 L13.5697873,33.1276167 L13.5697873,32.3282471 L14.4721158,32.3282471 L14.4721158,23.7685951 L14.4721158,22.0283669 L9.53418768,22.0283669 L9.53418768,22.6320725 L8.98860046,22.6320725 L7.89771699,21.4563595 L8.98860046,20.2803583 L9.53418768,20.2803583 L9.53418768,20.884352 L14.4721158,20.884352 L14.4721158,15.2089431 L13.5697873,15.2089431 L13.5697873,14.4092854 L15.3270146,12.810258 L17.083951,14.4092854 L17.083951,15.2089431 L16.1816224,15.2089431 L16.1816224,20.884352 L21.21441,20.884352 L21.21441,20.2803583 L21.7599972,20.2803583 L22.8508807,21.4563595 L21.7599972,22.6320725 Z M24.7774583,20.8526539 C24.2787188,18.9478835 23.2815309,15.3498558 23.2815309,15.3498558 C23.2815309,15.3498558 21.7143134,10.1294594 21.5007342,9.35343116 C21.286864,8.57740293 20.3609661,6.39051905 15.3744443,6.60203213 C10.3879226,6.39051905 9.4617337,8.57740293 9.24815449,9.35343116 C9.03428429,10.1294594 7.4670668,15.3498558 7.4670668,15.3498558 C7.4670668,15.3498558 6.46987885,18.9478835 5.97113938,20.8526539 C5.47269089,22.7574243 5.97113938,24.2388803 5.97113938,24.2388803 L9.17686442,36.5138431 L15.3744443,36.5138431 L21.5720242,36.5138431 L24.7774583,24.2388803 C24.7774583,24.2388803 25.2761978,22.7574243 24.7774583,20.8526539 L24.7774583,20.8526539 Z" id="Fill-1" fill="#CB1F2E"></path>
                                                    <g id="Group-5" transform="translate(0.000000, 0.205173)">
                                                        <mask id="mask-2" fill="white">
                                                            <use xlink:href="#path-1"></use>
                                                        </mask>
                                                        <g id="Clip-4"></g>
                                                        <path d="M7.93275096,13.7671962 C7.93275096,13.7671962 0.0585451465,8.61912921 1.2696033,0.0831067744 C1.2696033,0.0831067744 -3.98083718,11.6716606 6.8721294,17.4822189" id="Fill-3" fill="#CB1F2E" mask="url(#mask-2)"></path>
                                                    </g>
                                                    <g id="Group-8" transform="translate(22.696429, 0.205173)">
                                                        <mask id="mask-4" fill="white">
                                                            <use xlink:href="#path-3"></use>
                                                        </mask>
                                                        <g id="Clip-7"></g>
                                                        <path d="M0.1545394,13.7671962 C0.1545394,13.7671962 8.02874522,8.61912921 6.81768707,0.0831067744 C6.81768707,0.0831067744 12.0681275,11.6716606 1.21516097,17.4822189" id="Fill-6" fill="#CB1F2E" mask="url(#mask-4)"></path>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            <figcaption>Historic</figcaption>
                        </figure>
                    </div>
                    <div class="gmovie col-xs-4">
                        <figure ng-click="homeCtrl.setAdvanceSearchOption($event, 'movie_genre', 'Comedy')">
                            <svg width="42px" height="31px" viewBox="0 0 42 31" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <!-- Generator: sketchtool 3.8.1 (29687) - http://www.bohemiancoding.com/sketch -->
                                <title>8C4FD681-AB6A-4C5C-87DE-692DFBA96C0A</title>
                                <desc>Created with sketchtool.</desc>
                                <defs></defs>
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Homescreen-Tags-Expanded" transform="translate(-269.000000, -1498.000000)" fill="#CB1F2E">
                                        <g id="Group-17" transform="translate(16.000000, 1321.000000)">
                                            <g id="Group" transform="translate(0.000000, 23.000000)">
                                                <g id="Page-1" transform="translate(253.000000, 154.000000)">
                                                    <path d="M34.5047628,21.5153198 C33.4285488,26.1124721 28.8876682,27.8952674 26.2464968,27.801436 C23.6053254,27.7076047 17.3233327,26.3662829 17.4623568,17.1247712 C17.4623568,17.1247712 25.5050346,11.9005226 33.1505005,11.4304917 C33.1505005,11.4304917 35.5809768,16.9181675 34.5047628,21.5153198 M39.1999228,6.09405342 C37.6004252,6.7275606 36.0452542,6.96825835 35.1872189,7.05859286 C33.9201705,2.77644572 29.4466433,-0.135822306 24.4383191,0.342659192 C18.8068328,0.880878027 14.6317902,5.50221669 15.1133377,10.6646882 L15.2739495,12.3889117 L15.1847207,11.4304917 C15.1847207,11.4304917 13.0406399,12.2738081 10.4688366,12.3443273 C7.8970334,12.4145551 5.68243306,16.1453703 15.5125644,14.9485838 L16.0937027,21.1807907 C16.5749624,26.3435536 21.5303249,30.0921443 27.1618113,29.5542169 C32.7932976,29.0159981 36.9680524,24.3946594 36.4867927,19.2321879 L35.6679029,10.4478854 C45.0421041,7.68860321 41.5860726,5.14903789 39.1999228,6.09405342" id="Fill-1"></path>
                                                    <path d="M9.28776442,30.2879954 C8.74145412,30.2879954 8.22363945,29.9601685 8.00229455,29.4172873 L0.80844138,11.7697124 C0.532695718,11.2693757 -0.38175519,9.3816759 0.178083342,7.26027194 C0.573856083,5.76071908 1.58933698,4.54703124 3.19603039,3.6524282 C5.29175499,2.48536461 6.91226447,2.73888404 7.90270374,3.1570454 C10.3916106,4.20813113 11.2939724,7.18916994 11.38867,7.52544743 C11.5990772,8.27289265 11.171067,9.05151784 10.4327709,9.26453244 C9.69418704,9.47754704 8.9253805,9.0445242 8.71497332,8.29678758 C8.55954257,7.74545567 7.91882249,6.21355724 6.83253425,5.75489105 C6.20361538,5.48942415 5.45236676,5.60831602 4.53561318,6.1185603 C3.61914743,6.62909598 3.05643055,7.25764932 2.86415696,7.98702764 C2.54955361,9.17798615 3.23978127,10.4059527 3.24697713,10.4176087 L3.30281707,10.5105659 L10.5720829,28.3434722 C10.8650987,29.0620687 10.5271807,29.8846955 9.81766814,30.1813424 C9.6441038,30.25361 9.46449494,30.2879954 9.28776442,30.2879954" id="Fill-4"></path>
                                                    <path d="M28.9798329,22.8757866 C28.8641234,22.8757866 28.7478381,22.8393614 28.6479595,22.7641798 C26.5271933,21.1635106 24.9383456,22.6537386 24.8715679,22.7181383 C24.650223,22.9314443 24.2987769,22.9253249 24.0866427,22.7024027 C23.8745085,22.4794804 23.8785382,22.1263016 24.0972925,21.9100816 C24.1571622,21.8509271 24.7089413,21.3237815 25.6199382,21.0516123 C26.4759587,20.7960531 27.8117996,20.7287393 29.3125699,21.8614175 C29.5589564,22.0473318 29.6096153,22.3999277 29.4259767,22.6493676 C29.3168874,22.7973996 29.1493676,22.8757866 28.9798329,22.8757866" id="Fill-6"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            <figcaption>Comedy</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <hr>
            <div class="languae fl">
                <h4 style="margin-bottom: 8%;">LANGUAGE</h4>
                <div class="LangEng fl activeIcon" ng-click="homeCtrl.setAdvanceSearchOption($event, 'movie_language', 'English')">
                    <p>EN</p>
                </div>
                <div class="LangEng fl" ng-click="homeCtrl.setAdvanceSearchOption($event, 'movie_language', 'Hindi')">
                    <p>हिंदी</p>
                </div>
            </div>
            <hr>
            <div class="RELEASE fl">
                <h4>YEAR OF RELEASE</h4>
                <div class="RELEASEYEAR" ng-click="homeCtrl.setAdvanceSearchOptionString($event, 'movie_decade', '1950-2000')">
                    <h5>1950 - 2000</h5>
                </div>
                <div class="RELEASEYEAR" ng-click="homeCtrl.setAdvanceSearchOptionString($event, 'movie_decade', '2000-2010')">
                    <h5>2000 - 2010</h5>
                </div>
                <div class="RELEASEYEAR" ng-click="homeCtrl.setAdvanceSearchOptionString($event, 'movie_decade', '2010-2016')">
                    <h5>2010 - 2016</h5>
                </div>
            </div>
            <div class="AVAILABLEWATCH fl">
                <h4>AVAILABLE TO WATCH</h4>
                <div class="AVAILABLEWATCHto col-md-6"  ng-click="homeCtrl.setAdvanceSearchOptionString($event, 'watch_available', 'any')">
                    <h5>Yes</h5>
                </div>
                <div class="AVAILABLEWATCHto col-md-6" ng-click="homeCtrl.setAdvanceSearchOptionString($event, 'watch_available', '')">
                    <h5>Doesn’t Matter</h5>
                </div>
            </div>
            <button ng-click="homeCtrl.routeToDiscoverMovie('search')" type="button" class="search">SEARCH</button>

            <div class="letKnow fl hidden">
                <h4>LET US KNOW YOU BETTER</h4>
                <div class="highlightBodyTxt"><h2>Do you like Psychological Thrillers?</h2></div>
                <div class="ctaBtn fr">
                    <a href="#">Yes</a>
                    <a href="#">No</a>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<!-- end row -->
<!--start row -->
<div class="rowHome">
    <div class="homeContainer fl">
        <h2>MOVIE CALENDAR</h2>
        <P CLASS="Discver_para">TRACK RECENT AND UPCOMING RELEASES</P>
        <div class="CUSTOMDISCOVERY">
            <div class="swiper-container">
                <div class="swiper-wrapper"> 
                    <div class="swiper-slide" data-trailer="{{movie.movie_trailer}}" ng-repeat="movie in homeCtrl.movieList" data-id="{{movie.movie_id}}"><img src="assets/images/no_movie.jpg" ng-src="{{movie.movie_poster.replace('mimages','simages')}}" />
                        <div class="plat_btn_inner" ng-if="movie.movie_trailer">
                            <a ng-click="homeCtrl.loadMovieTrailer(movie.movie_trailer)"><img src="assets/images/group-4-copy-2.png" alt="" /></a>
                        </div></div>
                </div>
            </div>
            <div id="selectedMovieName" ng-click="homeCtrl.routeToMovieDetail(homeCtrl.currentMovieObj.seo_link,homeCtrl.currentMovieObj.movie_id)"><h4>{{homeCtrl.currentMovieObj.movie_name}}</h4></div>
            <div class="selectedMovieNameGener" ng-click="homeCtrl.routeToMovieDetail(homeCtrl.currentMovieObj.seo_link,homeCtrl.currentMovieObj.movie_id)"><p>{{homeCtrl.currentMovieObj.movie_genres}}</p></div>
        </div>
        <div class="lineSpace"></div>
        <div class="text-center">
            <div class="coloun-4"><div class='r-hex'>
                <div class='r-hex-inner'></div>
            </div>
                <span class="hexaTxt" aria-hidden="true">{{homeCtrl.currentMovieObj.audience_rating}}</span>

                <p>Viewers</p>
            </div>
            <div class="coloun-4"><div class='r-hex blueBg'>
                <div class='r-hex-inner'></div>
            </div>
                <span class="hexaTxt" aria-hidden="true">{{homeCtrl.currentMovieObj.critics_rating}}</span>
                <p>Critics</p>
            </div>
            <div class="coloun-4"><span class="calender">
        <time datetime="2014-09-20" class="icon"> <span>{{homeCtrl.currentMovieObj.movie_release_date | date:'dd'}}</span> <strong>{{homeCtrl.currentMovieObj.movie_release_date | date:'MMMM'}}</strong> </time>
        </span>
                <p class="watchlist_text">Release</p>
            </div>
            <div class="coloun-4" ng-click="homeCtrl.routeToMovieDetail(homeCtrl.currentMovieObj.seo_link,homeCtrl.currentMovieObj.movie_id)"><span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                <p class="watchlist_text">More</p>
            </div>
            <button ng-click="mainCtrl.routeToMovieCalendarPage()" type="button" class="search">VIEW FULL CALENDAR

            </button>
        </div>
    </div>
</div>
<!--start row -->
<div class="rowHome">
    <div class="homeContainer fl">
     <div class="discoverMovieContainer">
        <div class="DISCOVERMOVIES">
            <h2>POPULAR CRITICS</h2>
            <p class="Discver_para">GET REVIEWS FROM THE EXPERTS</p>
            <hr>
            <div class="reviews" ng-repeat="critic in homeCtrl.criticList | limitTo:3">
                <div class="reviewProfile col-sm-4"><img ng-click="mainCtrl.routeToCriticProfile(critic.critic_id)" src="assets/images/no-critics.jpg" ng-src="{{critic.picture}}" alt="" /></div>
                <div class="reviewrightContent col-sm-8">
                    <div class="reviewName" ng-click="mainCtrl.routeToCriticProfile(critic.critic_id)">
                        <h4>{{critic.name}}</h4>
                    </div>
                    <div class="reviewStar">
                        <div class="reviewsValue">
                            <div class="reviews_num">
                                <h4>{{critic.reviews}}</h4>
                            </div>
                            <div class="reviews_txt">
                                <p>REVIEWS</p>
                            </div>
                        </div>
                        <div class="reviewsValue">
                            <div class="reviews_num">
                                <h4>{{critic.total_followers}}</h4>
                            </div>
                            <div class="reviews_txt">
                                <p>FOLLOWERS </p>
                            </div>
                        </div>
                    </div>
                    <div ng-click="homeCtrl.isLogged ? homeCtrl.followLeaveCritic($event,critic.critic_id,critic.is_followed) : mainCtrl.showLoginBox()" ng-class="{'user-green': critic.is_followed == '1', 'user-grey':critic.is_followed != '1'}" class="reviewDays"><span class="glyphicon glyphicon-user" aria-hidden="true"></span><span class="glyphicon" ng-class="{'glyphicon-ok': critic.is_followed == '1', 'glyphicon-plus':critic.is_followed != '1'}" aria-hidden="true"></span></div>
                    <div class="readreview" ng-click="mainCtrl.launchExternalUrl(critic.last_review_url)">
                        <p>Latest-Review : <span style="color:#cb202e;">{{critic.last_review_movie_name}}</span></p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <hr>
            </div>
            <hr>
            <button ng-click="homeCtrl.routeToPopularCritics()" type="button" class="search">VIEW ALL</button>
        </div>
        </div>
    </div>
</div>
<!-- end row -->
<hr>
<div class="rowHome">
    <div class="homeContainer fl">
        <div class="DISCOVERMOVIES">
            <h2>BOLLYWOOD TRIVIA</h2>
            <P class="Discver_para">TEST YOUR <span><i>FILMI </i> </span>IQ</P>
            <div class="trivia"><img src="assets/images/bollywood.png" alt=""/></div>
			<button ng-click="mainCtrl.playTrivia()" type="button" class="search">PLAY NOW</button>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="spacer"></div>
<!-- Trailer video -->
<div class="modal fade" id="introVideoHome" tabindex="-1" role="dialog" aria-labelledby="introductionVideo" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe id="VideoPlayer" width="560" height="315" ng-src="{{homeCtrl.movie_trailer | trustYoutubeUrl}}" class="embed-responsive-item allowfullscreen"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
.Rectangle{
	background-repeat: no-repeat;
    margin-top: 21%;
    margin-bottom: 50%;
    width: 100%;
    height: 40px;
    object-fit: contain;
}
.FLICKSTREE {
    height: 27px;
    font-family: Lato-Black;
    font-size: 22px;
    font-weight: 900;
    letter-spacing: -1.2px;
    color: #cb202e;
    margin-top: 3%
}
.Tree{
    font-family: Lato;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: -1.2px;
    color: #ffffff;
}
.cont_bg{
    background-image: linear-gradient(to right, #000000, #380000 49%, #000000);
}
.Images{
    width:100%;
}
.Images1{
    width:100%;
}
.Images2{
    width:100%;
}
.Welcome{
    text-align:center;
    font-family: PhosphateSolid;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    color: #cb202e;
}
.LoggedName{
    text-align:center;
    font-family: PhosphateSolid;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    color: #cb202e;
}
.Flickstree-learns-wh {
    width: 99%;
    height: 40px;
    font-family: Lato-Regular;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.25;
    text-align: center;
    color: #000000;
}
.Image_Content{
    position: relative;
    /*margin-top: -47%;*/
    padding: 1%;
    margin-top: -49%;
}
</style>
<!-- Welcome New User 1 -->
<div class="modal fade" id="welcomeFirst" tabindex="-1" role="dialog" aria-labelledby="welcomeUser" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container cont_bg">
					<div class="FLICKSTREE">FLICKS<span class="Tree">TREE</span></div>
					<div class="row">
					<div class="col-xs-12 Rectangle"><img class="Images" src="assets/images/Rectangle.png" />
					   <div class="Image_Content">
						<div class="row">
						<div class="col-xs-12 Welcome">WELCOME</div></div>
						<div class="row">
						<div class="col-xs-12 LoggedName"><h2 style="margin-top: 0%">{{homeCtrl.name.split(' ')[0]}}!</h2></div></div>
						<div class="row">
						<div class="col-xs-12 Flickstree-learns-wh">Flickstree learns what you like & recommends movies you’d love</div></div>
						</div>
					</div></div>
					<div class="row">
						<div class="col-xs-12" style="padding:0px;margin-top: -10%;"><img class="Images2" style="margin-bottom: -14%" src="assets/images/Seats.png" /></div>
					</div>
					<div class="row">
						<div class="col-xs-12" style="padding: 0px;z-index: 111;" data-dismiss="modal" data-toggle="modal" data-target="#welcomeSecond" data-backdrop="static" data-keyboard="false"><img class="Images1" src="assets/images/flick-in-c-t-a-copy.png" /></div>
					</div>
				</div>
            </div>
        </div>
    </div>
</div>
<!-- Welcome New User 2 -->
<div class="modal fade" id="welcomeSecond" tabindex="-1" role="dialog" aria-labelledby="welcomeUser" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container cont_bg">
					<div class="FLICKSTREE">FLICKS<span class="Tree">TREE</span></div>
					<div class="row">
					<div class="col-xs-12 Rectangle"><img class="Images" src="assets/images/Rectangle.png" />
					   <div class="Image_Content">
						<div class="row">
						<div class="col-xs-12 Welcome">Tell us a bit about yourself</div></div>
						<div class="row">
						<div class="col-xs-12 Flickstree-learns-wh" style="padding: 12px;">Build your movie profile and see the magic unfold!</div></div>
						</div>
					</div></div>
					<div class="row">
						<div class="col-xs-12" style="padding:0px;margin-top: -10%;"><img class="Images2" style="margin-bottom: -14%" src="assets/images/Seats.png" /></div>
					</div>
					<div class="row">
						<div class="col-xs-12" style="padding: 0px;z-index: 111;" ng-click="mainCtrl.routeToOnBoarding()"><img class="Images1" src="assets/images/flick-in-c-t-a-copy.png" /></div>
					</div>
				</div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $('.dropDown').hide();
        $('.test').click(function(){
            $('.dropDown').slideToggle(300);
        });
    });
    $(document).ready(function(){
        $('.dropDown1').hide();
        $('.test1').click(function(){
            $('.dropDown1').slideToggle(300);
        });
    });
</script>