<div class="row">
    <div class="movie-calender">
        <div class="dropdown_calender">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle calender_month" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Month - {{movieCalendarCtrl.getMonth(movieCalendarCtrl.searchMonth - 1) | date:'MMM'}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-month" aria-labelledby="dropdownMenu1">
                    <li ng-repeat="n in [].constructor(12) track by $index"><a ng-click="movieCalendarCtrl.setSearchMonth($index+1, true)">{{movieCalendarCtrl.getMonth($index) | date:'MMM'}}</a></li>
                </ul>
            </div>
        </div>
        <div class="dropdown_calender">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle calender_year" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Year - {{movieCalendarCtrl.searchYear}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-year" aria-labelledby="dropdownMenu2">
                    <li ng-repeat="n in [] | range:movieCalendarCtrl.currentYear:movieCalendarCtrl.currentYear + 1"><a ng-click="movieCalendarCtrl.setSearchYear(n, true)">{{n}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-top: 85px;">
    <div class="col-xs-6 col-sm-4 f_poster_one" id="f-poster-left" ng-repeat="movie in movieCalendarCtrl.movies">
        <div class="caleder_image img-responsive" id="f-Image_left"><img class="imageOne" src="assets/images/no_movie.jpg" ng-src="{{movie.movie_poster.replace('mimages','simages')}}">
            <div class="Ploygon_content" ng-if="movie.audience_rating"><img src="assets/images/polygon-2.png">
                <div class="fourPointFive">{{(movie.audience_rating) ? movie.audience_rating : '--'}}</div>
            </div>
            <div class="Rectangle_content" ng-if="movie.audience_rating"><img class="" src="assets/images/rectangle-971.png">
                <div class="RATING">RATING</div>
            </div>
            <div class="imageFour" ng-if="movie.movie_trailer">
                <a ng-click="movieCalendarCtrl.loadMovieTrailer(movie.movie_trailer)"><img src="assets/images/group-4-copy.png"></a>
            </div>
        </div>
        <div class="READ-MORE" ng-click="mainCtrl.routeToMovieDetail(movie.seo_link)">READ MORE</div>
    </div>
</div>


<!-- Intro video -->
<div class="modal fade" id="introVideo" tabindex="-1" role="dialog" aria-labelledby="introductionVideo" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe id="VideoPlayer" width="560" height="315" ng-src="{{movieCalendarCtrl.movie_trailer | trustYoutubeUrl}}" class="embed-responsive-item allowfullscreen"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
