/**
 * Include Roboto Condensed font in your project
 * 
 * Download Roboto Condensed ttf files from Google Fonts and place it in the same directory of this CSS file
 * You can then use this font in your project by setting
 * font-face: "Roboto Condensed", Helvetica, Arial, sans-serif;
 *
 * @author Mattia Migliorini (deshack)
 * @license MIT
 */

/* Light */
@font-face {
	font-family: "Lato-Regular";
	font-style: normal;
	font-weight: 500;
	src: local('Lato-Regular'), local('Lato-Regular'), url("../fonts/Lato/Lato-Regular.ttf") format('truetype');
}
@font-face {
	font-family: "Lato-Light";
	font-style:normal;
	font-weight: 300;
	src: local('Lato-Light'), local('Lato-Light'), url("../fonts/Lato/Lato-Light.ttf") format('truetype');
}

/* Normal */
@font-face {
	font-family: "Lato-Bold";
	font-style: normal;
	font-weight: 700;
	src: local('Lato-Bold'), local('Lato-Bold'), url("../fonts/Lato/Lato-Bold.ttf") format('truetype');
}


@font-face {
	font-family: "Lato-Black";
	font-style: normal;
	font-weight: 900;
	src: local('Lato-Black'), local('Lato-Black'), url("../fonts/Lato/Lato-Black.ttf") format('truetype');
}
