/**
 * Include Roboto Condensed font in your project
 * 
 * Download Roboto Condensed ttf files from Google Fonts and place it in the same directory of this CSS file
 * You can then use this font in your project by setting
 * font-face: "Roboto Condensed", Helvetica, Arial, sans-serif;
 *
 * @author Mattia Migliorini (deshack)
 * @license MIT
 */

/* Light */
@font-face {
	font-family: "Roboto-Regular";
	font-style: normal;
	font-weight: 500;
	src: local('Roboto-Regular'), local('Roboto-Regular'), url("../fonts/Roboto/Roboto-Regular.ttf") format('truetype');
}
@font-face {
	font-family: "Roboto-Medium";
	font-style: normal;
	font-weight: 900;
	src: local('Roboto-Medium'), local('Roboto-Medium'), url("../fonts/Roboto/Roboto-Medium.ttf") format('truetype');
}

@font-face {
	font-family: "Roboto-Medium";
	font-style: italic;
	font-weight: 300;
	src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url("../fonts/Roboto_Condensed/RobotoCondensed-LightItalic.ttf") format('truetype');
}

/* Normal */
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 400;
	src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url("../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf") format('truetype');
}
@font-face {
	font-family: "Roboto Condensed";
	font-style: italic;
	font-weight: 400;
	src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'), url("../fonts/Roboto_Condensed/RobotoCondensed-Italic.ttf") format('truetype');
}

/* Bold */
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url("RobotoCondensed-Bold.ttf") format('truetype');
}
@font-face {
	font-family: "Roboto Condensed";
	font-style: italic;
	font-weight: 700;
	src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), url("RobotoCondensed-BoldItalic.ttf") format('truetype');
}