@charset "utf-8";
/* CSS Document */
@import url("lato.css");
@import url("Roboto.css");
h1, h2, h3, h4, h5, h6, figcaption, button {
	font-weight: 500;
	font-family: "Roboto-Regular", Helvetica, Arial, sans-serif;
}
p {
	font-weight: 300;
	font-family: "Roboto-Regular", Helvetica, Arial, sans-serif;
}
.PlusOne {
	font-family: Roboto-Medium;
	font-size: 16px;
	font-weight: 500;
	color: #cb202e;
}
.fr {
	float: right;
}
.fl {
	float: left;
}
.lineSpace {
	margin: 10px;
	border: 1px solid #e6e6e6;
}
textarea {
	border: none;
}
.spacer {
	position: relative;
	height: 30px;
	background-color: #e5e5e5;
}
.clearfix {
	clear: both;
}
.search {
	width: 100%;
	border: 0;
	color: #ffffff;
	padding: 10px;
	margin-top: 1em;
	background-color: #cb202e;
	letter-spacing: 2px;
	margin-bottom: 2em;
}
.wrapContent {
	margin-top: 45px;
}
.VIEW_FULL_CALENDAR {
	width: 100%;
	/* border: 2px #cb202e; */
	color: #cb202e;
	padding: 10px;
	margin-top: 1em;
	background-color: #fff;
	letter-spacing: 2px;
	margin-bottom: 2em;
	border: solid 1px #cb202e;
	font-weight: 900;
	font-family: Roboto-Medium;
}
.View_btn {
	width: 100%;
	border: 1px solid #cb202e;
	color: #cb202e;
	padding: 8px;
	margin-top: 10px;
	background-color: #ffffff;
	font-family: Roboto-Medium;
	letter-spacing: 2px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}
.header {
	position: fixed;
}
.logo a {
	color: #fff;
	font-size: 32px;
}
/*.active{
	border-bottom:#cb202e 1px solid;
}*/

/*Menu*/

.navbar-default .navbar-collapse {
	position: absolute;
	width: 100%;
	margin-top: -2px;
	background-color: #B3090C; /*#cb202e;*/
	z-index: -1;
	color: #ffffff;
	/*height: 100vh;*/
}
.navbar-nav {
	margin-top: 45px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #B3090C;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #ffffff;
	background-color: #900C0E;
}
.navbar-default .navbar-nav > li > a {
	font-family: Roboto-Regular; /*Lato-Light;*/
	font-size: 16px;
	line-height: 1.2;
	letter-spacing: 1px;
	color: #ffffff;
	border-bottom: 1px solid #900C0E;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #ffffff;
	background-color: #900C0E;
}
.bottom_menu {
	margin-top: 25px;
}
.Bottom_content {
	width: 33%;
	float: left;
	text-align: center;
}
.Bottom_content p {
	font-family: Roboto-Regular; /*Lato-Light;*/
	font-size: 12px;
	letter-spacing: 1px;
}
/*Menu*/

.navbar {
	position: fixed;
	z-index: 9999;
	top: 0;
	margin: 0;
	padding: 0;
	min-height: 44px;
}
.bg_banner {
	width: 100%;
	position: absolute;
	top: 0;
	margin: 0;
	padding: 0;
	z-index: -1;
	-webkit-filter: blur(12px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
	margin-top: -5em;
	opacity: 0.7;
	height: 800px;
	overflow: hidden;
}
.bg_banner img {
	width: 100%;
	overflow: hidden;
	min-height: 300px;
	max-height: auto;
}
.video_banner {
	position: realtive;
	z-index: 9;
	text-align: center;
}
.banner_img, .banner_img_login {
	width: 50%;
	height: auto;
	margin-left: 25%;
}
.banner_img img, .banner_img_login img {
	width: 100%;
	height: auto;
	border-radius: 50%;
}
.plat_btn {
	width: 100%;
	height: auto;
	margin-top: -12.5em;
	text-align: center
}
.plat_btn-DM {
	position: relative;
	width: 53%;
	height: auto;
	margin-top: -100%; /*-8em; Nagender changed*/
	margin-left: 25%; /*2em;*/
	text-align: center;
}
.plat_btn img {
	width: 20%;
}
.video_banner h2 {
	font-family: Roboto-Regular;
	font-size: 20px;
	font-weight: 300;
	text-align: center;
	color: #ffffff;
}
.rating_num {
	position: absolute;
	z-index: 99;
	margin-top: -40px;
	margin-left: -20px;
	font-size: 28px;
	font-weight: bold;
	color: #000;
	text-align: center;
}
.synopDiv {
	position: relative;
	padding: 15px !important;
}
.SYNOPSIS {
	position: relative;
	width: 100%;
	height: 100px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
}
.SYNOPSIS h5 {
	font-family: Roboto-Regular;
	color: #808080;
}
.SYNOPSIS p {
	width: 100%;
	text-align: left;
	font-family: Roboto-Regular;
	font-weight: normal;
	line-height: 1.5;
	color: #262626;
	font-size: 14px;
}
.SYNOPSIS-auto {
	height: auto;
}
.SYNOPSIS-auto p {
	text-align: left;
}
.SYNOPSISicon {
	font-size: 12px;
	color: #FF0004;
	margin: 5px;
	float: right;
}
.Lead-cast {
	position: relative;
}
.Lead-cast h4 {
	font-family: Roboto-Regular;
	text-align: left;
	padding-left: 15px;
}
.Lead-cast .g-views div {
	position: relative;
	float: left;
	width: 25% !important;
	height: 100px !important;
	margin: 5px;
	margin-top: 0px;
}
.Lead-cast .g-views div img {
	width: 100%;
	height: auto;
}
.writereview {
	position: relative;
	width: 100%;
	padding: 15px;
}
.writereview input {
	position: relative;
	width: 100%;
	height: 50px;
	margin: 0;
	padding: 0;
	padding-left: 10px;
	margin-top: 3%;
	/*border: 1px solid #939393;*/
	background-color: #fff;
	border-radius: 4px;
	border: solid 1px #e6e6e6;
}
.tabmenu {
	margin-top: 60px;
	position: relative;
	width: 100%;
}
.reviews {
	position: relative;
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
	margin-top: 10px;
	padding-bottom: 10px;/*border-bottom: 1px solid #A6A6A6;*/
}
.reviewStar .glyphicon {
	font-size: 14px;
	color: #e7a614;
}
.reviewProfile {
	width: 30%;
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	padding-top: 15px;
}
.reviewProfile img {
	/*width: 90%;*/
	/*height: auto;*/
	/*border-radius: 50%;*/
	/*margin-top: -19%;*/
	width: 63%;
	height: auto;
	border-radius: 50%;
	margin-top: -10%;
	margin-left: 23%;
}
.reviewName h4 {
	font-family: Roboto-Regular;
	width: 120px;
	white-space: nowrap;
	line-height: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 16px;
	font-weight: 900;
	color: #000000;
}
.reviewDays {
	position: relative;
    float: right;
    font-size: 12px;
    color: #000000;
    /* margin-left: 2em; */
    margin-top: -2.8em;
    opacity: 0.96;
    font-family: Roboto-Regular;
}
.reviewrightContent {
	width: 70%;
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	padding-left: 15px;
	text-align: left;
}

.reviews_num {
	text-align: center;
}
.popularcritics .readreview {
	float: right;
	margin-top: -30px;
	margin-right: -20px;
	width: 28%;
	height: 25px;
}
.FOLLOWERS {
	width: 45%;
	margin-left: 70px;
}
.readreview {
	position: relative;
	width: 100%;
	border: 0 !important;
	margin: 0;
	padding: 0;
	margin-top: 14px;
	text-align: center;
}
.readreview p {
	font-family: Roboto-Regular;
	width: 100%;
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden;
	text-align: left;
	text-overflow:ellipsis;
}
.readreview a {
	font-family: Roboto-Regular;
	padding: 9px;
	color: #cb202e;
	text-align: center;
	border-radius: 2px;
	border: solid 1px #cb202e;
}
.user-green .glyphicon {
	color: #5ba829;
}
.user-grey .glyphicon {
	color: #8c8c8c;
}
.reviewStar {
	width: 100%;
	height: auto;
	position: relative;
	margin: 0;
	padding: 0;
	margin-top: -5px;
	background-color: #ffffff;
	float: left;
/*border-bottom: 1px solid #cbcbcb;*/
}

.reviewDays .glyphicon-user {
	position: relative;
	font-size: 22px;
	margin-left: -1.8em;
}
.reviewDays .glyphicon-ok {
	position: relative;
	font-size: 9px;
	border: #5ba829 solid 1px;
	border-radius: 50px;
	margin-left: -0.9em;
	margin-top: 7px;
	padding: 2px;
	background-color: #ffffff;
}
.reviewDays .glyphicon-plus {
	position: absolute;
	font-size: 9px;
	border: #5ba829 solid 1px;
	border-radius: 50px;
	margin-left: -0.9em;
	margin-top: 7px;
	padding: 2px;
	color: #8C8C8C;
	background-color: #ffffff;
}
.features ul.nav.nav-tabs {
	margin: -1.4em 0;
	border: none;
	background-color: #f2f2f2;
}
.features .nav-tabs li {
	width: 50%;
}
.features .nav-tabs li a {
	font-family: Roboto-Medium;
	font-size: 1.1em;
	color: #555;
	color: #333;
	text-align: center;
	width: 100%;
	padding: 7px;
}
.popularcritics {
	position: relative;
	width: 100%;
	margin: 0;
	float: left;
	font-size: 18px;
	color: #cb202e;
	font-weight: 900;
	font-family: Lato-Black;
	/*margin-top: 9%;*/
	background-color: #e5e5e5;
	padding: 0px;
}
.popularcritics p {
	font-family: Roboto-Regular;
	text-align: center;
	font-size: 12px;
	color: #000000;
	letter-spacing: 1px;
	opacity: 0.6;
	margin-top: 6.6%;
	margin-bottom: 6.6%;
}
.Follow_btn {
	width: 160px;
	height: 36px;
	border-radius: 2px;
	background-color: #B3090C;
	border: none;
	color: #FFFFFF;
	margin-bottom: 5%;
}
.movieName {
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
}
.activeTab {
	color: #FF0004;
	border-bottom: solid 1px #FF0004;
}

/*.navbar-header{
	position:fixed;
}*/

.progress-bar {
	position: relative;
	height: 200px;
	width: 200px;
	z-index: 9999;
}
.progress-bar div {
	position: absolute;
	height: 200px;
	width: 200px;
	border-radius: 50%;
}
.progress-bar div span {
	position: absolute;
	font-family: Roboto-Regular;
	font-size: 25px;
	line-height: 175px;
	height: 175px;
	width: 175px;
	left: 12.5px;
	top: 12.5px;
	text-align: center;
	border-radius: 50%;
	background-color: white;
}
.progress-bar .background {
	background-color: #b3cef6;
}
.progress-bar .rotate {
	clip: rect(0 100px 200px 0);
	background-color: #4b86db;
}
.progress-bar .left {
	clip: rect(0 100px 200px 0);
	opacity: 1;
	background-color: #b3cef6;
}
.progress-bar .right {
	clip: rect(0 100px 200px 0);
	transform: rotate(180deg);
	opacity: 0;
	background-color: #4b86db;
}
@keyframes toggle {
 0% {
 opacity: 0;
}
 100% {
 opacity: 1;
}
}
.scrollBtn {
	position: fixed;
	left: 76%;
	display: none;
	z-index: 9999;
	top: 89%;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
	font-family: Roboto-Regular; /*Lato-Light;*/
	/*font-size: 12px;*/
	color: #fff;
}

.scrollBtn .glyphicon {
	font-size: 18px;
	color: #ffffff;
	margin-top: 8px;
	margin-left: 8px;
}
.navbar-header {
	background-color: transparent;
	height: 45px;/* border-bottom:#E7E7E7 solid 1px;*/
	left: 15px;
	top: 0px;
}
.fixed-nav {
	background-color: #f2f2f2;
	position: fixed;
	width: 100%;
	height: 44px;
	z-index: 999;
	top: 0px;
	left: 15px;
	/*transition: all 0.4s ease;*/
	border-bottom: #E7E7E7 solid 1px;
}
.starRating {
	position: relative;
	margin-top: 41px;
	background-color: rgba(0, 0, 0, 0.1);
	height: 60px;
	padding: 15px;
}
.starRating .glyphicon {
	margin-left: 15px;
	padding-top: 10px;
	color: rgba(0, 0, 0, 0.4);
}
.movieContentTitle {
	position: relative;
	float: left;
	margin-top: 7%;
	width: 100%;
	/*margin-left: -10px;*/
}
.movieContentTitle p {
	font-family: Roboto-Regular;
	font-size: 12px;
	font-weight: 300;
	color: #000000;
	margin-top: 10px;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 40px;
	opacity: 0.5;
	position: relative;
}
.movieContentTitle h4 {
	font-family: Roboto-Medium;
	font-size: 16px;
	font-weight: 500;
	color: #000000;
	width: 112px;
	white-space: nowrap;
	line-height: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.movieNameTxt {
	float: left;
	width: 100%;
	margin-top: 10px;
}
.movieNameTxt h4 {
	font-family: Roboto-Medium;
	font-size: 16px;
	font-weight: 500;
	color: #000000;
	min-width: 50px;
	max-width: 200px;
	white-space: nowrap;
	line-height: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.movieNameTxt p {
	font-family: Roboto-Regular;
	margin-top: 10px;
	font-size: 12px;
	font-weight: 100;
	color: #000000;
	float: left;
	margin-left: 1em;
}
.movieNameTxt .glyphicon {
	float: right;
	margin-top: 0.7em;
}
.movieContent {
	position: relative;
	float: left;
	width: 100%;
	padding: 5%;
	border-radius: 0px;
	background-color: #ffffff;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
	margin-bottom: 4%;
	height: auto;
}
.movieContentImg {
	float: left;
	width: 35%;
	padding: 0px;
	/*	margin-left: 4%;*/
	/*margin-bottom: 16%; Nagender disabled*/
}
.movieContentImg img {
	width: 100%;
	/*border-radius: 5px;*/
	height: 100%;
	box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.4);
}
.movieContentDetail {
	width: 58%;
	position: relative;
	margin-left: 3%;
	margin-top: -15px;
	float: left;
}
.movieContentGener {
	width: 100%;
}
/*.movieContentGener p {
    color: #FF0004;
    float: right;
    right: 0px;
    margin-top: -20px;
}*/
.movieContentGener .watch {
	font-family: Roboto-Regular;
	font-size: 12px;
	font-weight: 300;
	color: #000000;
	margin-left: 0px;
}
.movieContentDetail .View_btn {
	margin-top: 1em;
}
.movieContentDetail .SYNOPSIS {
	position: relative;
	margin-top: 0px;
}
.movieContentDetail .SYNOPSIS h5 {
	/*font-size: 12px;*/
	/*font-weight: 100;*/
	/*color: #000000;*/
	opacity: 0.38;
	font-family: Roboto-Regular;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.52;
	color: #000000;
}
.movieContentDetail .SYNOPSIS p {
	font-size: 14px;
	font-weight: 400;
	color: #000000;
	margin-top: -5px;
	line-height: 1.5;
	font-family: Roboto-Regular;
}
.MovieBtn {
	float: left;
	position: relative;
	width: auto;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.movietype {
	font-family: Roboto-Regular;
	height: 20px;
	border-radius: 12px;
	background-color: #ffffff;
	border: solid 1px #cb202e;
	font-size: 10px;
	font-weight: 500;
	letter-spacing: 1px;
	color: #cb202e;
	margin-right: 5px;
}
/*#introVideo {
	margin-top: 25%;
}*/
.text-center .search {
	width: 95%;
}
.text-center {
	position: relative;
	width: 100%;
	margin-top: 11%;
	text-align: center;
	padding: 8px;
}
.discoverMovies .text-center {
	margin-top: 0px;
	float: left;
}
.discoverMovies .text-center div {
	text-align: center;
}
.discoverSqureIcon {
}
.text-center .glyphicon-star-empty {
	font-family: Roboto-Regular;
	font-size: 38px;
	line-height: 0px;
	margin-top: 14px;
	color: #e7a614;
	font-weight: 100;
}
.text-center span {
	text-align: center;
}
span.hexaTxt {
	position: absolute;
	margin-left: -2.6em;
	margin-top: 1em;
	color: #ffffff;
	font-weight: 600;
}
.text-center .glyphicon-option-horizontal {
	font-size: 18px;
	padding: 12px;
	border: 1px solid #cb202e;
	border-radius: 5px;
	color: #cb202e;
}
span.hexaTxt-DM {
	position: absolute;
	margin-left: -6px;
	color: #ffffff;
	top: 6px;
}
.text-center p {
	font-family: Roboto-Regular;
	color: #000000;
	font-size: 13px;
	padding-top: 2px;
	opacity: 0.54;
	font-weight: normal;
	letter-spacing: 1px;
	margin-bottom: 1%;
	/*margin-left: -29%;*/
	margin-left: 1%;
}
.coloun-4 {
	position: relative;
	width: 25%;
	float: left;
	/* padding-left: 5px; */
	/* right: -23%; */
	align-items: center;
}
.coloun-4 .watchlist_text {
	margin-top: 10px;/*padding-left: 20%;*/
}
.reviewProfile .glyphicon {
	position: relative;
	top: -1.03em;
	margin-left: 4.32em;
	z-index: 989;
}
.reviewProfile .glyphicon-tower {
	font-family: Roboto-Regular;
	position: relative;
	font-size: 15px;
	width: auto;
	height: 12px;
	overflow: hidden;
	color: #ffffff;
	z-index: 9999;
	margin-left: 72%;
	top: -20px;
}
.starRating .glyphicon {
	font-size: 42px;
}
.btn-group-justified {
	display: block;
}
.movieReview_bottom {
	position: relatve;
	float: left;
	width: 100%;
	margin-top: 10px;
	margin-left: 15px;
}
.movieReview_bottomDiv .glyphicon {
	font-size: 14px;
}
.movieReview_bottomDiv span {
	color: #808080;
	float: left;
}
.movieReview_bottomDiv p {
	color: #808080;
	float: left;
	margin-left: 5px;
	margin-top: -2px;
}
.movieStar {
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	text-align: left;
}
.movieStar .fa-star {
	font-size: 18px;
	color: #CBCBCB;
	margin-left: 14px;
}

.movieStar .fa-star-half {
	font-size: 18px;
	color: #CBCBCB;
	margin-left: 14px;
}

.movieStarReview {
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	text-align: left;
}
.movieStarReview .fa-star {
	font-size: 38px;
	color: #CBCBCB;
	margin-left: 14px;
}

.movieStarReview .fa-star-half {
	font-size: 38px;
	color: #CBCBCB;
	margin-left: 14px;
}

.review_btn {
	background-color: #cb202e;
	width: 105%;
	height: 30px;
	padding: 5px;
	color: #FFFFFF;
	border: none;
	margin-top: 10px;
	border-radius: 3px;
	margin-bottom: 13px;
	margin-left: -2%;
}
.movieYear {
	margin-top: 12px;
	margin-left: 5px;
	font-size: 11px;
}
.movieContentTitle .glyphicon-remove {
	/*position: absolute;*/
	/*margin-top: 5px;*/
	/*font-weight: 100;*/
	/*float: right;*/
	/*right: 0px;*/
	/*margin-right: -56px;*/
	/*top: -9px;*/
	/*opacity: 0.5;*/
	opacity: 0.5;
	position: relative;
	top: 0%;
}
.reviewStar .reviewsValue {
	width: 25%;
	text-align: center;
	float: left;
	margin-right: 10px;
}
.reviewStar .reviewsValue p {
	font-family: Roboto-Regular;
	font-size: 10px;
	font-weight: normal;
	letter-spacing: 1px;
	text-align: center;
	color: #606060;
}
/*swiper-wrapper*/
.swiper-wrapper p {
	font-family: Roboto-Regular;
	background-color: #cb202e;
	position: absolute;
	width: 100%;
	font-size: 10px;
	margin-top: 91px;
	text-align: center;
	margin-left: -100%;
	line-height: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #ffffff;
	padding: 2px;
}
.swiper-container {
	width: 100%;
	height: 100%;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	width: 100px;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	opacity: 0.6;
}
.swiper-slide img {
	width: 100%;
	height: 100%;
	background-color: #d8d8d8;
	box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.4);
}
.swiper-slide .plat_btn_inner {
	margin-left: -50%;
	margin-top: 40%;
	width: 50%;
}
.swiper-slide .plat_btn_inner img {
	background-color: transparent;
	margin-left: -90%;
	margin-top: -85%;
}
.swiper-slide-active {
	width: 40% !important;
	height: 60% !important;
	opacity: 1;
}
/*swiper-wrapper*/

.rowHome {
	margin: 0;
	padding: 0;
}
.homeBanner {
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
	margin-top: -5em;
	overflow: hidden;
	z-index: -1;
}
.homeBanner img {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}
/*arrow animation*/
/*.arrow {*/
/*position: absolute;*/
/*left: 50%;*/
/*margin-left: -20px;*/
/*z-index: 999;*/
/*margin-top: -3em;*/
/*}*/
/*.arrow h3 {*/
/*margin-top: -1.7em;*/
/*margin-left: -1.5em;*/
/*color: #c9202d;*/
/*}*/
/*.bounce {*/
/*-webkit-animation-name: bounce;*/
/*-moz-animation-name: bounce;*/
/*-o-animation-name: bounce;*/
/*animation-name: bounce;*/
/*}*/
.animated {
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-ms-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-fill-mode: both;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}
@-webkit-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {
 -webkit-transform: translateY(0);
}
 40% {
 -webkit-transform: translateY(-30px);
}
 60% {
 -webkit-transform: translateY(-15px);
}
}
@-moz-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {
 -moz-transform: translateY(0);
}
 40% {
 -moz-transform: translateY(-30px);
}
 60% {
 -moz-transform: translateY(-15px);
}
}
@-o-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {
 -o-transform: translateY(0);
}
 40% {
 -o-transform: translateY(-30px);
}
 60% {
 -o-transform: translateY(-15px);
}
}
@keyframes bounce {
 0%, 20%, 50%, 80%, 100% {
 transform: translateY(0);
}
 40% {
 transform: translateY(-30px);
}
 60% {
 transform: translateY(-15px);
}
}
/*arrow animation*/

/*discovermovier*/
.homeContainer {
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	margin-top: 3em;
}
.homeContainer h2 {
	font-family: Lato-Black;
	font-size: 18px;
	color: #cb202e;
	font-weight: 900;
	margin-bottom: 1em;
}
.dicovermoviesection {
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
	height: 86px;
	border-bottom: 1px #FFFFFF solid;
	box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.4);
}
.discovermovieImg {
	position: relative;
	width: 100%;
	height: 86px;
	overflow: hidden;
	z-index: -1;
}
.discovermovieImg img {
	width: 100%;
	height: auto;
}
.discovermovieTxt {
	position: relative;
	width: 100%;
	text-align: center;
	z-index: 1;
	top: -6em;
	color: #FFFFFF;
}
.discovermovieTxt h2 {
	font-family: Roboto-Regular;
	font-size: 24px;
	color: #FFFFFF;
	font-weight: 300;
	margin-bottom: 0.4em;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
}
.discovermovieTxt p {
	font-family: Roboto-Regular;
	font-size: 11px;
	color: #FFFFFF;
	margin-top: -10px;
	letter-spacing: 1px;
	font-weight: 300;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
}
.discoverMovierightcontent .movieContent {
	padding: 15px;
	background-color: #ffffff;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
	margin-bottom: 10px;
	border-radius: 0px;
}
.discoverMovierightcontent .text-center {
	margin-top: -10px;
	padding: 0px;
}
.discoverMovierightcontent .text-center span.hexaTxt-DM {
	position: absolute;
	margin: 0px;
	margin-top: -31px;
	margin-left: -3px;
}
.discoverMovierightcontent .movieContent .review_btn {
	margin-top: 0px;
}
/*discovermovier*/
/*genre*/
.discoverMovieContainer{
	position:relative;
}

.DISCOVERMOVIES {
	position: relative;
	margin-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	width: 100%;
}

.DISCOVERMOVIES h4 {
	font-family: Lato-BLack;
	text-align: left;
	font-weight: 900;
	font-size: 16px;
}
.DISCOVERMOVIES .reviewName h4 {
	margin-left: 0px;
}
.DISCOVERMOVIES .reviewrightContent {
	margin-left: 20px
}
.DISCOVERMOVIES .reviewDays {
	margin-left: 0px;
	margin-top: -12%;
}
.genre {
	position: relative;
	margin-top: 10px;
	width: 100%;
}
.DISCOVERMOVIES .genre h4, .DISCOVERMOVIES .languae h4, .DISCOVERMOVIES .RELEASE h4, .DISCOVERMOVIES .AVAILABLEWATCH h4 {
	font-family: Roboto-Regular;
	color: #999999;
	font-size: 12px;
}
.genreMovies {
	position: relative;
}
.gmovie {
	position: relative;
	border-bottom: 1px solid #e6e6e6;
	margin-bottom: 5px;
	border-right: 1px solid #e6e6e6;
}
.gmovie:nth-child(3n+3) {
	border-right: 0px;
}
.gmovie figure {
	padding: 8px;
}
svg {
	width: 100%;
	opacity: 0.1;
}
.svgactive svg {
	opacity: 1;
}
.gmovie figure img:hover {
	background: rgba(255,0,0, 0.5);
	-moz-transition: all .3s linear;
	-webkit-transition: all .3s linear;
	-ms-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}
/*genre*/
/*languae*/
.languae {
	position: relative;
	margin-top: 10px;
	width: 100%;
}
.languae .LangEng {
	background-color: #ffffff;
	border: solid 2px #e7a614;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-left: 2%;
	text-align: center;
	color: #e7a614;
}
.languae .activeIcon {
	background-color: #e7a614;
	color: #ffffff;
}
.languae .LangEng p {
	font-family: Roboto-Regular;
	font-size: 20px;
	padding-top: 10px;
}
.RELEASE {
	position: relative;
	width: 100%;
	height: auto;
	margin-top: 6%;
}
.RELEASEYEAR {
	position: relative;
	float: left;
	border: 1px solid #e7a614;
	width: 32%;
	margin-right: 3px;
}
/*.RELEASEYEAR:hover, .AVAILABLEWATCHto:hover {
	background-color: #cb202e;
	color: #ffffff;
}*/

.activeIconBackground {
	background-color: #cb202e;
	color: #ffffff;
}

.AVAILABLEWATCH {
	position: relative;
	margin-top: 10px;
	width: 100%;
}
.AVAILABLEWATCHto {
	position: relative;
	float: left;
	border: 1px solid #e7a614;
	width: 49%;
	margin-left: 2px;
}
/*languae*/
.CUSTOMDISCOVERY {
	position: relative;
	width: 100%;
	text-align: center;
	margin-top: 2em;
}
.trending_btn {
	background-color: #e7a614;
	border: 0;
	color: #ffffff;
	padding: 12px;
	border-radius: 20px;
	line-height: 6px;
	text-align: center;
	margin-left: 0.5em;
	margin-bottom: 10px;
}
.homeContainer .activeIcon svg {
	opacity: 1;
}
.DISCOVERMOVIES .reviews .reviewStar {
	margin-top: -5px;
	border-bottom: 1px solid #cbcbcb;
	height: auto;
}
.DISCOVERMOVIES .reviewStar .reviewsValue p {
	text-align: left;
}
.DISCOVERMOVIES .reviewrightContent{
	width:70%;
}
.DISCOVERMOVIES .readreview {
	top: 8px;
}
.DISCOVERMOVIES .readreview p {
	font-size: 12px;
}
.CUSTOMDISCOVERY #selectedMovieName h4 {
	font-family: Lato-Black;
	font-size: 18px;
	font-weight: 900;
}
.selectedMovieNameGener p {
	font-family: Roboto-Regular;
	font-size: 12px;
	font-weight: 300;
	margin-top: -5px;
}
/* time */
time.icon {
	font-size: 0.6em; /* change icon size */
	display: block;
	position: relative;
	width: 5em;
	height: 5em;
	background-color: #fff;
	margin: 0 auto;
	border-radius: 0.4em;
	border: 1px solid #cb202e;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-webkit-transform: rotate(0deg) skewY(0deg);
	-webkit-transform-origin: 50% 10%;
	transform-origin: 50% 10%;
}
time.icon * {
	display: block;
	width: 100%;
	font-size: 1em;
	font-weight: bold;
	font-style: normal;
	text-align: center;
}
time.icon strong {
	position: relative;
	top: 0;
	padding: 0;
	color: #fff;
	background-color: #cb202e;
}
time.icon span {
	width: 100%;
	font-size: 2em;
	letter-spacing: -0.05em;
	padding-top: 0.4em;
	color: #2f2f2f;
}
time.icon:hover, time.icon:focus {
	-webkit-animation: swing 0.6s ease-out;
	animation: swing 0.6s ease-out;
}
/* time */


/* heaxagon */
.r-hex {
	margin: 0;
	overflow: hidden;
	display: inline-block;
	width: 4em;
	height: 3.32em;
	transform: rotate(-30deg) skewX(30deg);
	border-radius: .5em;
}
.r-hex *, .r-hex *:before {
	display: block;
	overflow: hidden;
	width: inherit;
	height: inherit;
	border-radius: inherit;
}
.r-hex-inner {
	transform: skewX(-30deg) rotate(60deg) skewX(30deg);
}
.r-hex:first-child .r-hex-inner:before {
	transform: skewX(-30deg) rotate(60deg) skewX(30deg);
	background: #e7a614;
	content: '';
}
.r-hex-sm {
	margin: 0;
	overflow: hidden;
	display: inline-block;
	width: 3em;
	height: 2.32em;
	transform: rotate(-30deg) skewX(30deg);
	border-radius: .5em;
}
.r-hex-sm *, .r-hex-sm *:before {
	display: block;
	overflow: hidden;
	width: inherit;
	height: inherit;
	border-radius: inherit;
}
.r-hex-sm:first-child .r-hex-inner:before {
	transform: skewX(-30deg) rotate(60deg) skewX(30deg);
	background: #e7a614;
	content: '';
}
.blueBg:first-child .r-hex-inner:before {
	transform: skewX(-30deg) rotate(60deg) skewX(30deg);
	background: #00456e;
	content: '';
}
.critics_hexa {
	position: absolute;
	z-index: 99;
	margin-top: -25%;
	margin-left: 64%;
}
.r-hex-pc {
	margin: 0;
	overflow: hidden;
	display: inline-block;
	width: 2em;
	height: 1.60em;
	transform: rotate(-30deg) skewX(30deg);
	border-radius: .2em;
}
.r-hex-pc *, .r-hex-pc *:before {
	display: block;
	overflow: hidden;
	width: inherit;
	height: inherit;
	border-radius: inherit;
}
.r-hex-inner-pc {
	transform: skewX(-30deg) rotate(60deg) skewX(30deg);
	background: #e7a614;
}
.heaxgonicon .hexaTxt {
	margin: 0;
	margin-left: -2.1em;
	margin-top: 0.5em;
}
/* heaxagon */

.fullscreen-bg {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index: -100;
}
.fullscreen-bg__video {
	position: absolute;
	top: 50%;
	left: 50%;
	width: auto;
	height: auto;
	min-width: 100%;
	min-height: 100%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.trivia {
	position: relative;
	width: 100%;
	padding: 0;
	margin: 0;
}
.trivia img{
	width:100%;
	
}
.letKnow {
	position: relative;
	margin-top: 2em;
	width: 100%;
}
.highlightBodyTxt h2 {
	font-family: Roboto-Regular;
	font-weight: 100;
	font-size: 18px;
	letter-spacing: -0.3px;
	color: #000000;
}
.ctaBtn a {
	font-family: Roboto-Regular;
	font-size: 16px;
	text-align: right;
	color: #cb202e;
	margin-right: 5px;
}
.plat_btn_inner {
	position: relative;
	width: 100%;
	height: auto;
	text-align: center;
	z-index: 99;
}
/* onboarding */
.onboarding {
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	padding: 15px;
}
.onboarding a {
	text-decoration: none;
}
.onboardingContent {
	position: relative;
	text-align: center;
	margin-top: 20%;
}
.onboardingContent h2 {
	font-family: Roboto-Regular;
	color: #cb202e;
	font-size: 20px;
	font-weight: 900;
}
.onboardingPre a {
	font-size: 16px;
	color: #cb202e;
}
.onboardingHeader div {
	position: relative;
	float: left;
}
.onboardingHeader .onboardingSkip {
	position: relative;
	float: right;
}
.onboardingHeader .onboardingCount {
	position: absolute;
	margin-left: 45%;
}
.onboardingLang {
	position: relative;
	width: 100%;
	height: auto;
	text-align: center;
	margin-top: 10%;
}
.LangEng {
	background-color: #ffffff;
	border: solid 2px #e7a614;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin-left: 3em;
	text-align: center;
	color: #e7a614;
}
#step1 .activeIcon {
	background-color: #e7a614;
	color: #ffffff;
}
.LangEng p {
	font-size: 30px;
	padding-top: 16px;
}
.onboardingSearch input {
	position: relative;
	width: 100%;
	height: 40px;
	padding: 10px;
}
.onboarding .glyphicon-search, .onboarding .glyphicon-ok, .glyphicon-remove {
	position: absolute;
	right: 10px;
	top: 12px;
}
.onboarding .reviews .reviewStar span {
	position: absolute;
	margin-right: -22px;
	margin-top: -26px;
	color: #cb202e;
	font-size: 16px;
	font-weight: 100;
}
.onboarding .reviewDays {
	position: absolute;
	right: -10px;
	margin-top: -15px;
	width: 40%;
}
.onboarding .reviewStar {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	float: left;
}
.onboarding .reviewStar .reviewsValue {
	width: 100%;
	position: relative;
}
.onboarding .reviewStar .reviewsValue .reviews_num {
	margin-left: 5px;
}
.onboarding .reviewStar .reviewsValue h4 {
	text-align: left;
	font-size: 16px;
}
.onboarding .reviewStar .reviewsValue p {
	font-size: 10px;
	font-weight: normal;
	color: #606060;
	text-align: left;
	letter-spacing: 0px;
}
.onboardingBottom {
	width: 100%;
	position: fixed;
	bottom: 0px;
	background-color: #5ba829;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.24);
	border: solid 1px #5ba829;
	text-align: center;
	z-index: 9999;
}
.onboardingNext {
	font-size: 18px;
	font-weight: 500;
	text-align: center;
	color: #ffffff;
	padding-top: 10px;
}
.onboarding .reviewProfile img {
	/*width: 60%;
	height: 66px;*/
	border-radius: 50%;
	margin-top: -17px;
}

.movieContentStar {
	position: relative;
	float: left;
}
.onboardingstar {
	position: relative;
	float: left;
	font-size: 24px;
	margin-right: 10px;
	margin-top: 10px;
	color: #cfcfcf;
}
.starActiveIcon {
	color: #e7a614;
}
.activeIcon, .activeIcon svg {
	color: #cb202e;
	opacity: 1;
}
.onboarding .View_btn {
	border-radius: 5px;
}
.onboarding .reviewProfile .glyphicon-tower {
	position: relative;
	left: -5px;
}
.onboarding .movieContentImg {
	min-height: 95px;
	max-height: auto;
}
.popupHeader .glyphicon-arrow-left {
	position: absolute;
	z-index: 9;
	float: left;
	left: 0px;
	margin-left: 8px;
	width: 55px;
	top: 12px;
}
.popupHeader input {
	padding-left: 35px;
	width: 100%;
	line-height: 35px;
}
.popupHeader {
	position: fixed !important;
	width: 100%;
	background-color: #ffffff;
	z-index: 99;
}
.modal-body {
	padding: 10px;
}
.onboarding .plat_btn-DM {
	margin-top: -4.6em;
}
.onboarding .movieContentGener {
	text-align: left;
}
.onboarding .movieContentGener p {
	margin-top: 0px;
	float: right;
	margin-right: 5px;
}
#myModalMovie .movieContentGener p {
	margin-top: 2px;
}
.onboardingSearch .reviews .reviewStar span, .modal-body .reviews .reviewStar span {
	opacity: 0;
}
.onboardingSearch .activeIcon .reviewStar span, .modal-body .activeIcon .reviewStar span {
	opacity: 1;
}
.onboardingSearch .reviewDays .activeIcon, .modal-body .reviewDays .activeIcon {
	width: 100%;
	border: 1px solid #cb202e;
	color: #ffffff;
	padding: 5px;
	margin-top: 1em;
	background-color: #cb202e;
}
/* onboarding */

/* tab */
.userpageFollow {
	padding: 15px;
	background-color: #ffffff;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
}
.nav-pills {
	text-align: center;
}
.tab-content {
	margin-top: 35px;
}
.reviewStar a {
	font-size: 22px;
	font-weight: 700;
	text-align: center;
	color: #cb202e;
}
.userRating p {
	position: relative;
	margin-left: 47px;
	margin-top: -30px;
	font-size: 14px;
	font-weight: 500;
	color: #000000;
}
.userpagewatch .movieContent {
	position: relative;
	/*margin-top: 2em;*/
	border: none;
}
.userpagefollow {
	position: relative;
	padding: 15px;
}
.userpagefollow .reviews {
	border: none;
	border-bottom: 1px solid #cbcbcb;/*margin-bottom: -38px;*/
}
.userpagefollow .reviewStar{
	margin-top:5px;
	border:none !important;
}
.userpageFollow  .reviewDays{
	margin-top: -28px !important;
    margin-left: 50px;
}
.userpagefollow .reviews_num {
	/*text-align: left;*/ /* Nagender */
}
.userpagefollow .reviews_num h4 {
	font-size: 16px;
	font-weight: 500;
	color: #000000;
}
.userpagefollow .reviews_num p {
	font-family: Roboto-Regular;
	font-size: 10px;
	font-weight: 100;
	color: #000000;
}
.userpagefollow .reviewsValue {
	margin-right: 1em;
	margin-top: -1.5em;
}
.userpagefollow .glyphicon {
	top: auto !important;
}
.reviewDays p.UPdate {
	float: left;
	position: relative;
	margin-right: 150px;
	margin-top: 70px;
}
.nav-pills a {
	text-decoration: none;
}
/*.nav-pills .reviewStar .reviewsValue:hover {
	border-bottom: solid 1px #B3090C;
}*/

.movieContentGener .movieListNum {
	position: absolute;
	color: #cb202e;
	float: right;
	right: 0px;
	margin-top: -20px;
}
.nav .reviewStar .reviewsValue {
	margin-right: 0px;
}
.edit_img {
	position: absolute;
	margin-top: 10%;
	margin-left: 5%;
}
.edit_img img, .share_img img {
	width: 60%;
}
.share_img {
	position: absolute;
	margin-top: 10%;
	float: right;
	right: 0px;
	margin-right: 10%;
}
#loading {
	width: 120px;
	height: 120px;
	margin: 29px auto;
	position: absolute;
	z-index: -1;
	margin-left: 27%;
}
.outer-shadow, .inner-shadow {
	z-index: 4;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.inner-shadow {
	top: 50%;
	left: 50%;
	width: 100px;
	height: 100px;
	margin-left: -51px;
	margin-top: -51px;
	border-radius: 100%;
	background-color: #ffffff;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.hold {
	position: absolute;
	width: 100%;
	height: 100%;
	clip: rect(0px, 120px,120px, 50px);
	border-radius: 100%;
	background-color: #fff;
}
.userpageFollow .plat_btn_inner {
	width: 50%;
	margin-top: -95%;
	margin-left: 20%;
}

.popularCriticsHeader
{
	width:70%;
	text-align:left;
	float:left;
}
.popularCriticsdropdown{
	width:30px;
}
/*.fill, .dot span 
{
  background-color: #f50;
}
*/
/*.fill 
{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  clip: rect(0px, 100px, 120px, 0px);
}*/

.left .fill {
	z-index: 1;
	-webkit-animation: left 1s linear;
	-moz-animation: left 1s linear;
	animation: left 1s linear both;
}
 @keyframes left {
 0% {
-webkit-transform:rotate(0deg);
}
 100% {
transform:rotate(180deg);
}
}
 @-webkit-keyframes left {
 0% {
-webkit-transform:rotate(0deg);
}
 100% {
-webkit-transform:rotate(180deg);
}
}
.right {
	z-index: 3;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
}
.right .fill {
	z-index: 3;
	-webkit-animation: right 1s linear;
	-moz-animation: right 1s linear;
	animation: right 1s linear both;
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}
 @keyframes right {
 0% {
-webkit-transform:rotate(0deg);
}
 100% {
transform:rotate(180deg);
}
}
 @-webkit-keyframes right {
 0% {
 transform: rotate(0deg);
}
 100% {
 transform: rotate(180deg);
}
}
.inner-shadow img {
	margin-left: 17px;
	margin-top: 15px;
}
.userEditpage .banner_img img {
	width: 70%;
	margin-top: 25%;
}
.userEditpage p {
	font-family: Lato-Bold;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 1.9px;
	text-align: center;
	color: #e7a614;
	width: 100%;
	float: left;
}
.userEditpage .video_banner h2 {
	font-family: Lato-Light;
	position: relative;
	width: 100%;
	float: left;
	margin-top: -2%;
}
.cancel_btn {
	width: 48% !important;
	margin-right: 5px;
}
.userEditpageForm .search {
	padding: 8px;
}
.form-group {
	margin-top: 20px;
}
.userEditpageForm input {
	padding: 10px;
	height: 44px;
	margin-top: 5px;
}
.userEditpageForm label {
	font-family: Lato-Regular;
	font-size: 12px;
	font-weight: normal;
	letter-spacing: 1px;
	color: #000000;
}
#fileInput {
	opacity: 0
}
.userEditpage .editImg {
	position: absolute;
	z-index: 4;
	margin-top: 28%;
	background-color: rgba(0, 0, 0, 0.5);
	margin-left: 31%;
	width: 112px;
	overflow: hidden;
	height: 54px;
	text-align: center;
	/*padding-top: 52px;*/
	border-radius: 0 0 90px 90px;
	-moz-border-radius: 0 0 90px 90px;
	-webkit-border-radius: 0 0 90px 90px;
}
.userEditpage .editImg p {
	font-family: Lato-Regular;
	font-size: 13px;
	font-weight: normal;
	text-align: center;
	color: #ffffff;
	/*margin-top: -35px;*/
}
.userPic img {
	border: #ffffff 4px solid;
	border-radius: 50%;
}
.userModal {
	top: 20% !important;
}
.popupImguser img {
	margin-right: 5px;
	width: 20%;
}
.userModal h2 {
	font-family: Lato-Regular;
	font-size: 20px;
	font-weight: 300;
	letter-spacing: -0.3px;
	color: rgba(0, 0, 0, 0.87);
}
/* tab */


/* movieCalender */
.movieCalender {
	position: relative;
	width: 100%;
}
.movieCalenderContent {
	float: left;
	width: 45%;
	min-height: 150px;
	max-height: auto;
	text-align: center;
	position: relative;
}
.movieCalenderContent img {
	width: 100%;
	border-radius: 5px;
}
.movieCalenderImg {
	position: relative;
	float: left;
}
.movieCalender .heaxgonicon {
	font-size: 10px;
	font-weight: 500;
	color: #cb202e;
	margin-right: -20px
}
.movieCalenderImg .plat_btn_inner {
	position: absolute;
	z-index: 99;
	width: 35%;
	margin-top: 50%;
	margin-left: 30%;
}
.movieCalenderImg .userRating {
	width: 50%;
	position: absolute;
	margin-right: 0;
	margin-top: 1em;
	margin-left: 66px;
	object-fit: contain;
	border-radius: 2px;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	background-color: rgba(255, 255, 255, 0.6);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
/* movieCalender */

/* movieDetail */
.MovieDetailpage h4 {
	opacity: 0.38;
	font-family: Roboto-Regular;
	font-size: 13px;
	font-weight: normal;
	line-height: 1.52;
	color: #000000;
}
.tab-content .reviewName h4 {
	opacity: 0.87;
	font-family: Roboto-Regular;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.5;
	color: #000000;
}
.MovieDetailpage .readreview {
	position: relative;
	margin-top: 0px;
}
.MovieDetailpage .reviewProfile {
	width: 20%;
}
.moviedetailCirtics {
	padding: 15px;
}
.MovieDetailpage .reviewrightContent {
	width: 75%;
}
.MovieDetailpage .reviewDays {
	position: absolute;
	margin-top: -2.2em;
	float: right;
	right: 0px;
}
.MovieDetailpage .reviewDays p {
	opacity: 0.26;
	font-family: Roboto-Regular;
	font-size: 12px;
	font-weight: normal;
	line-height: 0.90;
	text-align: right;
	color: #000000;
}
.MovieDetailpage .reviewStar {
	height: auto;
	margin-top: -11px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	border: none;
	background-color: transparent;
}
.features .nav-tabs li.active a {
	color: #cb202e;
	border-bottom: 1px solid #ff0000 !important;
	font-family: Roboto-Medium;
	font-weight: 500;
}
.MovieWatchit {
	position: relative;
	float: left;
	width: 100%;
	border-radius: 2px;
	background-color: #fafafa;
	border: solid 1px #e6e6e6;
	padding: 10px;
	margin-bottom: 5%;
}
.MovieWatchitImg {
	width: 22%;
	margin-left: 8%;
	margin-top: 1%;
}
.MovieWatchitImg img {
	width: 50%;
}
.MovieWatchitTxt {
	position: relative;
	margin-left: 16%;
	margin-top: -19%;
}
.MovieWatchitTxt h3 {
	font-size: 16px;
	font-weight: 500;
	color: #000;
	font-family: Roboto-Medium;
	margin-top: 13%;
}
.MovieWatchitPrice {
	position: absolute;
	right: 10px;
	margin-top: -9%;
}
#watchList {
	height: 70px;
	overflow: hidden;
}
.fullWidth {
	height: auto !important;
	overflow: visible;
}
.MovieWatchitPrice p {
	color: #cb202e;
	font-size: 14px;
	font-weight: 900;
	/*font-family: Roboto-Medium;*/
	letter-spacing: 0.9px;
}
.watchiton {
	margin-top: 40px;
	width: 100%;
	position: relative;
	padding: 15px;
}
.watchiton div {
/*float:left;*/
}
.watchiton h4 {
	text-align: left;
}
.watchiton img {
	margin-right: 10px;
	margin-left: -20px;
}
.Stars {
	position: relative;
	width: 100%;
}
.movieDetailStars {
	width: 100%;
	padding: 15px;
	top: 12px;
}
.MovieDetailplatformlist {
	position: relative;
	width: 100%;
	margin-left: 15px;
	float: left;
	margin-top: 5%;
}
.MovieDetailplatformlist img {
	width: 10%;
}
.MovieDetailplatformlist p {
	float: left;
	position: relative;
	margin-top: -25px;
	left: 20%;
	margin-right: 10px;
	font-family: Roboto-Regular;
	opacity: 0.5;
	font-weight: 900;
}
.Stars div {
	position: relative;
	margin-right: 5px;
	color: #363636;
}
.Stars .glyphicon {
	color: #BCBCBC;
}
.Stars .glyphicon:hover {
	color: #333333;
}
.movieDetailPage .plat_btn {
	margin-top: -60%;
}
.movieDetailPage h2 {
	position: relative;
	font-weight: 700;
	margin-top: 45%;
	color: #000000;
	font-size: 24px;
	text-align: left
}
.movieDetailPage p {
	text-align: left;
	opacity: 0.5;
	font-family: Roboto-Regular;
	font-size: 13px;
	font-weight: normal;
	/* text-align: center; */
	color: #000000;
}
.movieDetailPage .banner_img img {
	border-radius: 0;
	box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.4);
}
.movieDetailPage .banner_img {
	width: 70%;
	height: auto;
	margin-left: 14%;
}
.headetopPopup {
	width: 100%;
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}
.headetopPopup .glyphicon-remove {
	position: absolute;
	float: left;
	left: 0px;
	margin-left: 15px;
}
.closeTAb {
	position: absolute;
	float: left;
	margin-left: 15%;
}
.closeTAb h4 {
	float: left;
	font-size: 18px;
	font-weight: 900;
	color: #000000;
}
.closeTAb p {
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}
.okPost {
	position: absolute;
	float: right;
	width: 55px;
	background-color: #5ba829;
	font-size: 20px;
	right: 0;
	margin-right: 5px;
	padding: 10px;
	margin-top: -10px;
}
.okPost .glyphicon-ok {
	font-size: 24px;
	color: #ffffff;
	margin-left: 8px;
}
.modal-body .starRating .glyphicon {
	margin-left: 15px;
	padding-top: 10px;
	color: rgba(0, 0, 0, 0.4);
	font-size: 42px;
}
.modal-body .starRating .movieStar {
	margin-top: -15px;
}
.modal-body .movieStar .glyphicon-active {
	color: #faaf19 !important;
}

.modal-body .movieStarReview .fa-active {
	color: #faaf19 !important;
}

.Rectangle-256-2 {
	/*width: 360px;*/
	height: 48px;
	background-color: #cb202e;
	border: solid 1px #cb202e;
}
.GET_STARTED_NOW {
	/*width: 156px;*/
	height: 16px;
	font-family: Lato;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.14;
	letter-spacing: 2.3px;
	text-align: center;
	color: #ffffff;
	padding-top: 14px;
}
.Content {
	/*width: 71px;*/
	/*height: 22px;*/
	opacity: 0.9;
	font-family: Lato;
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	color: #fff;
}
.RELEASEYEAR h5 {
	margin-top: 14px;
	margin-bottom: 14px;
}
.AVAILABLEWATCHto h5 {
	margin-top: 14px;
	margin-bottom: 14px;
}
/* movieDetail */
/*Movie Calender*/
.Releasing-18th-Mar {
	width: 143px;
	height: 17px;
	opacity: 0.5;
	font-family: Roboto-Medium;
	font-size: 14px;
	text-align: center;
	color: #000000;
	margin-top: 19px;
	margin-right: 30%;
	width: 147px;
	margin-bottom: 21px;
}
.f-poster_left_one {
	width: 48%;
	height: 228px;
}
.f_poster_one {
	margin-bottom: 16px;
	margin-top: 10px;
}
.imageOne {
	position: relative;
	width: 100%;
	height: 100%;
	box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.4);
}
.imageTwo {
	position: absolute;
	z-index: 3;
	top: 7px;
	right: 62%;
}
.imageThree {
	position: absolute;
	z-index: 2;
	top: 13px;
	right: 47%;
}
.imageFour {
	position: absolute;
	z-index: 2;
	opacity: 0.8;
	width: 73px;
	height: 64px;
	object-fit: contain;
	top: 30%;
	left: 31%;
}
.READ-MORE {
	border-radius: 2px;
	background-color: #ffffff;
	border: solid 1px #cb202e;
	font-family: Lato;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 2px;
	text-align: center;
	color: #cb202e;
	margin-top: 16px;
	padding: 11px;
}
.fourPointFive {
	width: 16.6px;
	height: 16.9px;
	font-family: Roboto;
	font-size: 14px;
	font-weight: bold;
	font-stretch: condensed;
	letter-spacing: -0.9px;
	text-align: center;
	color: #ffffff;
	position: absolute;
	top: 18%;
	left: 22%;
	z-index: 5;
}
.RATING {
	width: 36px;
	height: 11px;
	opacity: 0.87;
	font-family: Roboto;
	font-size: 10px;
	font-weight: 600;
	color: #cb202e;
	position: absolute;
	z-index: 6;
	top: 5px;
	left: 24%;
}
.Rectangle-537 {
	width: 46%;
}
.bigHR1 {
	background-color: white !important;
	color: white !important;
	border: 2px solid white !important;
	border-radius: 50%;
	height: 1px !important;
	width: auto !important;
}
.caleder_image {
	width: 25%;
	position: relative;
}
.Ploygon_content {
	    position: absolute;
    z-index: 7;
    float: right;
    top: 10px;
    right: 50px;
}
.Rectangle_content {
	    position: absolute;
    float: right;
    top: 15px;
    right: 0px;
}
.img-responsive {
	width: auto;
	height: 190px;
}
.Fixed_Image {
	position: fixed;
	bottom: 20px;
	right: 15px;
	z-index: 100;
}
.movie-calender {
	position: fixed;
	width: 100%;
	z-index: 999;
	margin-left: 15px;
	margin-top: 44px;
}
.dropdown_calender {
	float: left;
	width: 50%;
}
.dropdown_calender .dropdown .btn-default, .dropdown_calender .dropdown .dropdown-menu {
	width: 100%;
	background-color: #32A4B7;
	border: none;
	border-radius: 0px;
	padding: 10px;
	color: #ffffff;
}
.dropdown-menu-month {
	background-color: #136A80 !important;
	/*height: 350px;*/
}
.dropdown_calender .dropdown-menu > li > a {
	color: #ffffff !important;
}
.calender_year {
	background-color: #FF2A2A !important;
}
.dropdown-menu-year {
	background-color: #B91717 !important;
	/*height: 350px;*/
	overflow: scroll;
}
/*Movie Calender*/
.Wrapper {
	position: relative;
	width: 100%;
}
/*discover*/

.Rating_Discover {
	width: 16px;
	height: 16px;
	font-family: Robota-Medium;
	font-size: 14px;
	font-weight: bold;
	font-stretch: condensed;
	letter-spacing: -0.9px;
	text-align: center;
	color: #ffffff;
	position: relative;
	left: -55%;
	top: -8px;
}
.hexagon {
	position: relative;
	width: 34px;
	height: 24px;
	background-color: #64C7CC;
}
.hexagon:before, .hexagon:after {
	content: "";
	position: absolute;
	width: 0;
	border-left: 150px solid transparent;
	border-right: 150px solid transparent;
}
.hexagon:before {
	bottom: 100%;
	border-bottom: 86.60px solid #64C7CC;
}
.hexagon:after {
	top: 100%;
	width: 0;
	border-top: 86.60px solid #64C7CC;
}
.glyphiconplus {
	margin-left: 3%;
	color: #cb202e;
}
.ReadMore {
	padding: 0px;
	width: 112%;
}
.discoverRating {
	margin-left: -20px;
	margin-right: 20px;
}

@media (max-width: 340px) {
.movieContentImg {
	margin-top: 3%;
}
.bg_banner {
	height: 350px;
}
.edit_img img, .share_img img {
	margin-left: -3%;
}
.starRating .glyphicon {
	margin-left: 5px;
}
.onboardingHeader .onboardingCount {
	margin-left: 40%;
}
span.hexaTxt-DM {
	margin-left: 2px !important;
}
}

@media (max-width: 450px) {
.bg_banner {
	height: 400px;
}
}

.watchlist-done {
	margin-top: 6%;
	background-image: url("assets/images/Watchlist-done.png");
}

.watchlist-add {
	margin-top: 6%;
	background-image: url("assets/images/Watchist.png");
}

.dw-loading {
	position:fixed !important; 
	margin:auto !important;
}	

.reviewProfile img {
    width: 100%;
    border-radius: 50%;
    margin-top: -10%;
    margin-left: 3%;
}

.reviewProfile {
    width: 17%;
    margin-left: 4%;
}
