<script>

  /* When the user clicks on the button,
   toggle between hiding and showing the dropdown content */
  function myFunction() {
    document.getElementById("criticsDropdown").classList.toggle("show");
  }

  // Close the dropdown menu if the user clicks outside of it
  window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {

      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }

</script>

<style>


/*DropDown_css_filter*/

/* Dropdown Button */
.dropbtn {
	background-color: #fff;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
	/*background-color: #3e8e41;*/
}

/* The container div - needed to position the dropdown content */
.popularCriticsDropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	/*background-color: #f9f9f9;*/
	background-color: #fff;
	min-width: 50px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 999;
	left: -1px;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: #cb202e;
	padding: 12px 6px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.PC_Header{
	margin-top: 24%;
	padding-bottom: 6%;
	border-bottom: solid 1px #e6e6e6;
	float: left;
	width: 100%;
	position: relative;
}

.filter{
	font-family: Roboto-Regular;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 1px;
	color: #cb202e;
	/*float: right;*/
}

.filter_border{
	border-radius: 2px;
	border: solid 1px #cb202e;
	position: relative;
	padding: 12% 16%;
}

.popularcritics1{
	font-weight: bolder;
	text-align: left;
	position: relative;
	width: 74%;
	margin: 0;
	float: left;
	font-size: 18px;
	color: #cb202e;
	font-family: Roboto-Regular;
	font-size: 18px;
	top: 5px;
	padding-left: 0px;
}
.popularCriticsDropdown{
	width:25%;
	margin-left: 2px;
}

.fa-graduation-cap{
	position: absolute;
	top: 91%;
	/* margin-top: 33%; */
	margin-left: 78.5%;
	/* top: -12px; */
	z-index: 999;
	color: #fff;
	font-size: 0.8em;
}
.navbar-header{
	height:45px;
	border-bottom:#E7E7E7 solid 1px;
}
.glyphicon {
	font-size: 24px;
	color:#cb202e;
}

.topHeader .glyphicon{
	margin-left:38%;
	padding-top:10px;
}

.features{
	position:relative;
	margin:0;
	padding:0;
	margin-top:-20px;
}

.user-green .glyphicon{
	color:#06E527;
}
.user-grey .glyphicon{
	color:#8c8c8c;
}

/*ippad view 09Aug16  start rajesh*/
@media only screen and (min-width: 768px) {

  .PC_Header {
    margin-top: 9%;
  }

  .reviews {
    width: 50%;
  }

  .popularcritics1 {
    font-size: 177%;
    margin-left: 26%;
    top: 43px;
  }

  .popularCriticsDropdown {
    left: 81%;
  }

  .filter {
    font-size: 17px;
  }

  .dropdown-content {
    width: 58%;
  }
}
/*ippad view 09Aug16  end rajesh*/


</style>

<div class="container">
  <!--<div class="row popularcritics1 col-xs-4">-->
    <!--<h4>POPULAR MOVIE CRITICS</h4>-->
    <!--<span class="readreview"> <a href="#" class="reviewbutton">FILTER</a></span>-->
  <!--</div>  -->

  <div class="PC_Header">

  <h4 class="popularcritics1">POPULAR MOVIE CRITICS</h4>
      <div class="popularCriticsDropdown"> <button onclick="myFunction()" href="#" class="filter filter_border dropbtn">{{PopularCriticsCtrl.language}}</button>
        <div id="criticsDropdown" class="dropdown-content">
          <a ng-click="PopularCriticsCtrl.loadCritics('Hindi')">Hindi</a>
		  <a ng-click="PopularCriticsCtrl.loadCritics('English')">English</a>
        </div>
      </div>
  </div>
  <!--<hr>-->
  <!--<hr>-->
  <div class="rowHome">
 
  <div class="features grid">
    <div class="reviews" ng-repeat="critic in PopularCriticsCtrl.critics" lazy-scroll="PopularCriticsCtrl.loadMoreCritics()" lazy-scroll-trigger="98%">
      <div class="reviewProfile"><img ng-click="mainCtrl.routeToCriticProfile(critic.critic_id)" src="assets/images/no-critics.jpg" ng-src="{{critic.picture}}" alt="">
      <div class="critics_hexa">
		<div class="r-hex-pc">
                    <div class="r-hex-inner-pc"></div>
		</div>
	  </div>
    <span class="fa fa-graduation-cap" aria-hidden="true"></span>
      </div>
      <div class="reviewrightContent">
        <div class="reviewName" ng-click="mainCtrl.routeToCriticProfile(critic.critic_id)">
          <h4>{{critic.name}}</h4>
        </div>
        <div class="reviewStar">
        <div class="reviewsValue">
        <div class="reviews_num"><h4>{{critic.reviews}}</h4></div><div class="reviews_txt"><p>REVIEWS </p></div>
        </div> 
         <div class="reviewsValue"><div class="reviews_num"><h4>{{critic.total_followers}}</h4></div><div class="reviews_txt"><p>FOLLOWERS </p></div></div>
        </div>
		<div ng-click="PopularCriticsCtrl.isLogged ? PopularCriticsCtrl.followLeaveCritic($event,critic.critic_id,critic.is_followed) : mainCtrl.showLoginBox()" ng-class="{'user-green': critic.is_followed == '1', 'user-grey':critic.is_followed != '1'}" class="reviewDays"><span class="glyphicon glyphicon-user" aria-hidden="true"></span><span class="glyphicon" ng-class="{'glyphicon-ok': critic.is_followed == '1', 'glyphicon-plus':critic.is_followed != '1'}" aria-hidden="true"></span></div>
        <div class="clearfix"></div>
     
        <div class="readreview" ng-click="mainCtrl.launchExternalUrl(critic.last_review_url)"><p>Latest-Review : <span style="color:#cb202e;">{{critic.last_review_movie_name}}</span></p></div>
      </div>
      <div class="clearfix"></div>
      <hr>
    </div>

      </div>
  
  </div>
 </div>
