<style>
.banner_img img{
	width:auto;
	margin-top:45px;
}
.movieContentDetail {
    width: 58%;
}
.rectangleInside {
    position: relative;
    top: 7px;
}
.reviews_txt{
    opacity: 0.5;
    font-family: Roboto-Regular;
    font-size: 11px;
    font-weight: normal;
    letter-spacing: 1px;
    color: #606060;
}
.Ago{
	float: right;
	opacity: 0.26;
	font-family: Roboto-Regular;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.33;
	color: #000000;
}
.InputBox{
	border-radius: 2px;
	background-color: #f2f2f2;
	border: none;
	height: 32px;
}
.logo_of_Heart{
	margin-bottom:13.2px ;
}
.wright{
	font-family: Roboto-Regular;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.33;
	color: #000000;
}
.Headder{
	opacity: 0.87;
	font-family: Roboto-Regular;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.57;
	color: #000000;
	margin-bottom: 16px;
}
.timelineContainer{
	background-color: #d8d8d8;
}
.timelineDiv{
	margin-bottom: 16px;
}
.ReadrevRectangleBox{
	height: 32px;
	border-radius: 2px;
	background-color: #cb202e;
	border: solid 1px #cb202e;
	margin-bottom: 5%;
}
.Read-review{
	font-family: Roboto-Medium;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
	color: #ffffff;
	position: relative;
	top: 15%;
}
.Rectangle1{
 
	height: 32px;
	background-color: #fafafa;
	margin-left:-20px;
}
.Heart{
	float: left;
	/*color: #d8d8d8;*/
	text-align: center;
	line-height: 1.33;
}
.movieReview_bottom{
	margin-top: 0px;
	margin-left: 0px;
}
.movieContentTitle h4{
	font-weight: bold;
	font-family: Roboto-Medium;
	font-size: 16px;
	color: #000000;
	width: 175px; /*112px;*/
	white-space: nowrap;
	line-height: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.movieContentImg{
	height: 162px;
	margin-bottom: 6%;
}
.PlusOne {
	font-family: Roboto-Medium;
	font-size: 16px;
	font-weight: 500;
	color: #cb202e;
	width: auto; /* Nagender */
}
.movieContent{
	bottom: 11px;
	border-radius: 4px;
	background-color: #ffffff;
	border: solid 1px #e6e6e6;
	padding-bottom: 0px;
}
.pluss{
	font-family: Roboto-Regular;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.57;
	color: #cb202e;
	opacity: 1 !important;
}
.para{
	opacity: 0.5;
	line-height: 1.77;
	font-size: 14px;
	color: #000000;
}
.movieStar .fa-star{
	color: #CBCBCB;
	margin-left: 9px;
	font-size: 18px;
}
.color{
	color:#e7a614 !important;
}
.movieStar{
	margin-left: -5.5%;
	top: 8px;
	left: 12px;
	margin-bottom: 5%;
	width: 74%;
}
.reviewProfile{
	width: 40px;
	height: 40px;
	object-fit: contain;
	padding-top: 3px;
	left: -16px;
}
.reviews{
	margin-top: 12px;
}
.reviewName h4{
	opacity: 0.87;
	font-family: Roboto-Medium;
	font-size: 14px;
	color: #000000;
	margin-top: 0px;
	font-weight: bolder;
}
.movieName{
	bottom: 18px;
}
.reviewProfile img{
	width:100%;
}
.movieNameTxt p{
	margin-left: 0.4em;
	opacity: 0.5;
	font-family: Roboto-Regular;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
}
.movieNameTxt h4{
	font-weight: bold;
}
.readreview{
	margin-top: 0px;
	margin-bottom: 0px;
	top: -6px;
	opacity: 0.5;
	font-family: Roboto-Regular;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
}
.glyphicon-menu-down{
	float: right;
}
.movieContent1{
	position: relative;
	float: left;
	width: 100%;
	padding: 5px;
	border-radius: 4px;
	background-color: #ffffff;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
	margin-bottom: 4%;
	border: solid 1px #e6e6e6;
}
.row_bg{
	background-color: #d8d8d8;
}
.userpageFollow{
	margin-bottom:10px;
	margin-top: 16px;
}
.reviewStar {
  width: 100%;
  /*height: 56px;*/
  position: relative;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  background-color: #ffffff;
  text-align: center;
  float: left;
}
.reviewStar .reviewsValue {
  width: 50%;
  text-align: center;
  float:left;
  margin-right:0px;
}
.reviewDays{
	margin-top:0px;
}
.activeTab .reviews_num h4{
	font-size: 22px;
	font-weight: 900;
	color: #cb202e; 
}
.reviews_num h4{
	color: #606060;
	font-size: 22px;
	font-weight: 500;
}
.movieContentImg{
	min-height: 120px;
	max-height:100%;
}
.SYNOPSIS {
	overflow: scroll;
}

/*styling done for the ipad view 08August16 start*/
@media only screen and (min-width: 768px) {

    .userpageFollow{
        width: 48%;
        float: left;
        margin-left: -1%;
        margin-right: 20px;
        height: 430px;
    }

    .Rectangle1{
        margin-left: -3px;
        margin-right: 0px;
    }

    .ReadrevRectangleBox{
        width:100%;
    }

    .ipadCON{
        width:100%;
    }

    .timelineDiv{
        position: relative;
        left: 12px;
    }

    .bg_banner{
        height: 332px;
        opacity:0.2;
    }

    .ipadBanner{
        height:100%;
    }
}
/*styling done for the ipad view 08August16 end*/

</style>
<div class="bg_banner"><img class="ipadBanner" ng-src="{{CriticsProfileFollowCtrl.criticProfile.picture}}" alt=""/></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="video_banner">
        <div class="banner_img"><img ng-src="{{(CriticsProfileFollowCtrl.criticProfile.picture.indexOf('no-image') > -1) && 'assets/images/no-critics.jpg' || CriticsProfileFollowCtrl.criticProfile.picture}}" alt=""/></div>
        <h2>{{CriticsProfileFollowCtrl.criticProfile.name}}</h2>
        <button ng-if="CriticsProfileFollowCtrl.criticProfile.is_followed == '0'" ng-click="CriticsProfileFollowCtrl.isLogged ? CriticsProfileFollowCtrl.manageFollowCritic('follow') : mainCtrl.showLoginBox()" type="button" class="Follow_btn">Follow</button>
		<button ng-if="CriticsProfileFollowCtrl.criticProfile.is_followed == '1'" ng-click="CriticsProfileFollowCtrl.isLogged ? CriticsProfileFollowCtrl.manageFollowCritic('leave') : mainCtrl.showLoginBox()" type="button" class="Follow_btn">Stop Following</button>
      </div>
    </div>
  </div>
</div>
<div class="container ipadCON" style="padding: 0px;">
  <div class="container" style="background-color:#FFFFFF; margin-top:10px;">
    <div class="reviewStar">
      <div class="reviewsValue">
        <div class="reviews_num">
          <h4>{{CriticsProfileFollowCtrl.criticProfile.total_followers}}</h4>
        </div>
        <div class="reviews_txt">
          <p>FOLLOWERS </p>
        </div>
      </div>
      <div class="reviewsValue">
        <div class="reviews_num">
          <h4>{{CriticsProfileFollowCtrl.criticProfile.reviews}}</h4>
        </div>
        <div class="reviews_txt">
          <p>REVIEWS </p>
        </div>
      </div>
    </div>
  </div>
  <hr style="margin-bottom: 0px;border: solid 1px #cb202e;">

    <!--Static part of critic page-->
    <div class="timelineContainer">
    <div class="timelineDiv">
        <div class="container" lazy-scroll="CriticsProfileFollowCtrl.loadMoreReviews()" lazy-scroll-trigger="98%">

            <div class="clearfix"></div>
            <div class="row userpageFollow" ng-repeat="review in CriticsProfileFollowCtrl.criticReviews">

                <!--start movieName -->
                <div class="movieName">
                    <div class="movieNameTxt">
                        <h4 class="fl">{{review.movie_name}}</h4>
                        <p>({{review.movie_release_year}})</p>
                    </div>
                        <div class="movieRating">
                            <div class="movieStar">
								<span ng-if="review.movie_rating == 1" class="fa fa-star-half" aria-hidden="true" ng-class="{color: review.movie_rating == 1}"></span>
                                <span ng-if="review.movie_rating > 1" class="fa fa-star" aria-hidden="true" ng-class="{color: review.movie_rating >= 2}"></span>
								<span ng-if="review.movie_rating == 3" class="fa fa-star-half" aria-hidden="true" ng-class="{color: review.movie_rating == 3}"></span>
                                <span ng-if="review.movie_rating > 3" class="fa fa-star" aria-hidden="true" ng-class="{color: review.movie_rating >= 4}"></span>
								<span ng-if="review.movie_rating == 5" class="fa fa-star-half" aria-hidden="true" ng-class="{color: review.movie_rating == 5}"></span>
                                <span ng-if="review.movie_rating > 5" class="fa fa-star" aria-hidden="true" ng-class="{color: review.movie_rating >= 6}"></span>
								<span ng-if="review.movie_rating == 7" class="fa fa-star-half" aria-hidden="true" ng-class="{color: review.movie_rating == 7}"></span>
                                <span ng-if="review.movie_rating > 7" class="fa fa-star" aria-hidden="true" ng-class="{color: review.movie_rating >= 8}"></span>
								<span ng-if="review.movie_rating == 9" class="fa fa-star-half" aria-hidden="true" ng-class="{color: review.movie_rating == 9}"></span>
                                <span ng-if="review.movie_rating > 9" class="fa fa-star" aria-hidden="true" ng-class="{color: review.movie_rating >= 10}"></span>
                                <p class="Ago">{{CriticsProfileFollowCtrl.Date(review.submit_time).toDateString()}}</p>
                            </div>

                        </div>
                </div>
                <div class="clearfix"></div>
                <!--start movieContent -->
                <div class="movieContent">
                    <div class="movieContentImg"><img src="assets/images/no_movie.jpg" ng-src="{{review.movie_poster.replace('mimages','simages')}}" alt="" />

                        <div class="plat_btn-DM" ng-if="review.movie_trailer"> <a ng-click="CriticsProfileFollowCtrl.loadMovieTrailer(review.movie_trailer)"><img src="assets/images/group-4.png" alt="" /></a> </div>
                    </div>
                    <div class="movieContentDetail">
                        <div class="movieContentTitle" ng-click="mainCtrl.routeToMovieDetail(review.seo_link)">
                            <h4>{{review.movie_name}} <span>({{review.movie_release_year}})</span></h4>
                        </div>
                        <div class="movieContentGener fl">

                            <button type="button" ng-if="review.movie_genres.length >0" class="movietype" ng-repeat="genre in review.movie_genres| limitTo:2 track by $index">{{genre}}</button>
                            <p class="fr PlusOne" ng-if="review.movie_genres.length >2">+{{(review.movie_genres.length-2)}}</p>
                        </div>
                        <div class="SYNOPSIS fl">
                            <h5>Leads</h5>
                            <p style="font-size: 13px;">{{review.movie_stars}}<span ng-click="mainCtrl.routeToMovieDetail(review.seo_link)" class="pluss">[+]</span></p>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="container ReadrevRectangleBox">
                    <div class="Read-review" ng-click="mainCtrl.launchExternalUrl(review.review_url)">Read Review</div>
                </div>

                <div class="clearfix"></div>

                <!--start movieReview -->
                <div class="row Rectangle1">
					<div class="rectangleInside">
						<div class="col-xs-12 Heart" ng-click="CriticsProfileFollowCtrl.isLogged ? CriticsProfileFollowCtrl.shareReview(review.review_id) : mainCtrl.showLoginBox()">
							<span class="glyphicon glyphicon-share" aria-hidden="true"></span><span> Share</span></div>
					</div>  
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Trailer video -->
<div class="modal fade" id="introVideo" tabindex="-1" role="dialog" aria-labelledby="introductionVideo" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe id="VideoPlayer" width="560" height="315" ng-src="{{CriticsProfileFollowCtrl.movie_trailer | trustYoutubeUrl}}" class="embed-responsive-item allowfullscreen"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>