<style>
.modal-footer {
    text-align: center;
    padding-bottom: 4%;
    margin-top: -8%;
}

.reviewrightContent{
    width: 79%;
}

.movieContentDetail{
    width: 77%;
}

.headerCross {
    position: absolute;
	font-size: 25px;
    /* margin-right: -9%; */
    top: 10px;
    /* left: 340px; */
    color: #cb202e;
    right: 23px;
	z-index: 99;
}

.movieContentTitle h4{
    margin-left: -1%;
}

.modal .critics_hexa {
    margin-top: -41%;
    margin-left: 77%;
}

.capStyle {
    position: relative;
    top: -45px;
    margin-left: 77%;
    color: #fff;
    z-index: 999;
}

.capStyle1 {
    position: relative;
    top: -20px;
    margin-left: 72%;
    color: white;
    z-index: 999;
}

.modal .r-hex-inner-pc {
    width: 21px;
    height: 20px;
    transform: skewX(0deg) rotate(0deg) skewX(0deg);
}

.popupHeader input {
    width: 100%;
	background-color: #f2f2f2;
    font-size: 12px;
    font-weight: normal;
    font-family: Roboto-Regular;
    padding-left: 10px;
}

.fixed_content {
    width: 102%;
    /*background-color: #fafafa;*/
    text-align: left;
    color: #d8d8d8;
    font-size: 14px;
    margin-top: 12%;
    padding-left: 5%;
}


.movieContentTitle p{
    margin-top: 2.5%;
}

.movieContentTitle .PARA2 {
    margin-top: 0%;
    width: 100%;
}

.PARA3 {
    margin-bottom: 7%;
}

.movieContentImg img {
    box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0);
}

.modal .movieContent {
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);
    margin-bottom: 0%;
    width: 100%;
    margin-bottom: 2%;
    margin-left: -3%;
}

.modal .movieContentImg {
    width: 19%;
    height: 56px;
    margin-right: 1%;
}


.PARA {
    margin-left: 7%;
    opacity: 0.5;
    font-family: Roboto-Regular;
    font-size: 12px;
    font-weight: normal;
    color: #000000;
}

.searchReviewProfile img {
    width: 100%;
    /*height: 56px;*/
    border-radius: 50%;
    margin-top: -10%;
    margin-left: 3%;
}

.searchReviewProfile {
    width: 17%;
    margin-left: 4%;
	float: left;
}

.modal .reviewName h4 {
    margin-left: 16px;
    font-size: 14px;
}


/*.Image_global{*/


/*margin-top: 2%;*/


/*}*/

.modal .searchmovieContentImg {
    width: 35px;
    height: 51px;
    margin-right: 1%;
	overflow: hidden;
}
.searchmovieContentImg {
    float: left;
    /*width: 35%;*/
    padding: 0px;
    /* margin-left: 4%; */
    /* margin-bottom: 16%; */
}


.searchmovieContentDetail {
    /*width: 58%;*/
    position: relative;
    margin-left: 3%;
    margin-top: -15px;
    float: left;
}

.searchmovieContentTitle {
    position: relative;
    float: left;
    margin-top: 7%;
    width: 100%;
    /* margin-left: -10px; */
}

.searchmovieContentTitle h4 {
    font-family: Roboto-Medium;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    width: 152px;
    white-space: nowrap;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
	margin-left: -5%;
}
.searchLeftImage {
	width: 35px;
	height: 51px;
	margin-top: 2%;
}

.searchOngoing {
	background: transparent url("assets/images/tail-spin.svg") no-repeat 80%;
}
</style>
<script>
$('#myModal').on('shown.bs.modal', function () {
    $('#searchBox').focus();
}) 
</script>
<div class="modal fade" id="myModal" role="dialog">
    <div class="popupHeader">
        <!--<span class="" style="color: #cb202e;"></span>-->
        <input type="text" id="searchBox" placeholder="Movie, Actor, Critic, Availability, People..." ng-keyup="mainCtrl.searchBoxChanged($event)" />
        <span class="glyphicon glyphicon glyphicon-remove headerCross" data-dismiss="modal" ng-click="mainCtrl.clearSearch()"></span> </div>
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <!-- myModalMovie content-->
                <div ng-if="mainCtrl.searchmovies && mainCtrl.searchmovies.length > 0" class="fixed_content">MOVIES</div>
                <div ng-if="mainCtrl.searchmovies && mainCtrl.searchmovies.length > 0" class="movieContent" ng-repeat="movie in mainCtrl.searchmovies" ng-click="mainCtrl.searchRoutePage('movie', movie.seo_link)">
                    <div class="col-sm-2 col-lg-2 searchmovieContentImg"><img src="assets/images/no_movie.jpg" ng-src="{{movie.movie_poster}}" alt="" class="searchLeftImage" />
                    </div>
                    <div class="col-sm-10 searchmovieContentDetail">
                        <div class="searchmovieContentTitle">
                            <h4 class="fl" style="text-align:left;">{{movie.movie_name}}</h4>
                            <p class="fl movieYear PARA3">{{movie.movie_release_year}}</p>
                            <p class="PARA PARA2" ng-if="movie.movie_genres && movie.movie_genres.length> 0">{{movie.movie_genres.join(',')}}</p>

                        </div>
                        <div class="clearfix"></div>
                        <hr>
                    </div>
                </div>
                <!-- myModalMovie content-->

                <!-- myModalActor content-->
                <div ng-if="mainCtrl.searchactors && mainCtrl.searchactors.length > 0" class="fixed_content">ACTORS</div>
                <div ng-if="mainCtrl.searchactors && mainCtrl.searchactors.length > 0" class="reviews" ng-repeat="actor in mainCtrl.searchactors" ng-click="mainCtrl.searchRoutePage('actor', actor.actor_name)" style="width:89%;">
                    <div class="searchReviewProfile "><img src="assets/images/no-critics.jpg" ng-src="{{actor.actor_pic}}" alt="" class="searchLeftImage" /></div>
                    <div class="reviewrightContent ">
                        <div class="reviewName">
                            <h4 style="margin-top: 8%;">{{actor.actor_name | html}}</h4>
                            <p class="PARA">Actor</p>
                        </div>
                        <hr style="margin-top: 9%">
                    </div>
                </div>
                <!-- myModalActor content-->
				
				<!-- myModalDirector content-->
                <div ng-if="mainCtrl.searchdirectors && mainCtrl.searchdirectors.length > 0" class="fixed_content">DIRECTORS</div>
                <div ng-if="mainCtrl.searchdirectors && mainCtrl.searchdirectors.length > 0" class="reviews" ng-repeat="director in mainCtrl.searchdirectors" ng-click="mainCtrl.searchRoutePage('director', director.director_name)" style="width:89%;">
                    <div class="searchReviewProfile "><img src="assets/images/no-critics.jpg" ng-src="{{director.director_pic}}" alt="" class="searchLeftImage" /></div>
                    <div class="reviewrightContent ">
                        <div class="reviewName">
                            <h4 style="margin-top: 8%;">{{director.director_name | html}}</h4>
                            <p class="PARA">Director</p>
                        </div>
                        <hr style="margin-top: 9%">
                    </div>
                </div>
                <!-- myModalDirector content-->

                <!-- myModalCritics content-->
                <div ng-if="mainCtrl.searchcritics && mainCtrl.searchcritics.length > 0" class="fixed_content">CRITICS</div>
                <div ng-if="mainCtrl.searchcritics && mainCtrl.searchcritics.length > 0" class="reviews" ng-repeat="critic in mainCtrl.searchcritics" ng-click="mainCtrl.searchRoutePage('critic', critic.critic_id)">
                    <!--<div class="fixed_content">Critics</div>-->
                    <div class="searchReviewProfile"><img src="assets/images/no-critics.jpg" ng-src="{{critic.critic_pic}}" alt="" class="searchLeftImage">
                        <div class="fa fa-rectangle capStyle1">
                            <div class="">
                                <div class="r-hex-inner-pc"></div>
                            </div>
                        </div>
                        <span class="fa fa-graduation-cap capStyle" aria-hidden="true"></span> </div>
                    <div class="reviewrightContent">
                        <div class="reviewName">
                            <h4 style="margin-top: 8%;">{{critic.critic_name}}</h4>
                            <p class="PARA">Film Critic</p>
                        </div>
                        <hr style="margin-top: 9%">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- myModalCritics content-->

                <!-- myModalPeople content-->
                <div ng-if="mainCtrl.searchpeople && mainCtrl.searchpeople.length > 0" class="fixed_content">PERSONS</div>
                <div ng-if="mainCtrl.searchpeople && mainCtrl.searchpeople.length > 0" class="reviews" ng-repeat="person in mainCtrl.searchpeople" ng-click="mainCtrl.searchRoutePage('person', person.person_id)">
                    <!--<div class="fixed_content">Persons</div>-->
                    <div class="searchReviewProfile"><img src="assets/images/no-critics.jpg" ng-src="{{person.person_pic}}" alt="" class="searchLeftImage">
                        <!--<div class="fa fa-rectangle capStyle1">
                            <div class="">
                                <div class="r-hex-inner-pc"></div>
                            </div>
                        </div>
                        <span class="fa fa-graduation-cap capStyle" aria-hidden="true"></span>--> </div>
                    <div class="reviewrightContent">
                        <div class="reviewName">
                            <h4 style="margin-top: 8%;">{{person.person_name}}</h4>
                            <p class="PARA">FlickManiac</p>
                        </div>
                        <hr style="margin-top: 9%">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- myModalPeople content-->
				
                <!-- myModalMerchant content-->
                <div ng-if="mainCtrl.searchmerchants && mainCtrl.searchmerchants.length > 0" class="fixed_content">AVAILABILITY</div>
                <div ng-if="mainCtrl.searchmerchants && mainCtrl.searchmerchants.length > 0" class="reviews" ng-repeat="merchant in mainCtrl.searchmerchants" ng-click="mainCtrl.searchRoutePage('merchant', merchant.value)">
                    <!--<div class="fixed_content">Persons</div>-->
                    <div class="searchReviewProfile"><img src="assets/images/no-critics.jpg" ng-src="{{merchant.pic.replace('botz','150')}}" alt="" class="searchLeftImage">
                        <!--<div class="fa fa-rectangle capStyle1">
                            <div class="">
                                <div class="r-hex-inner-pc"></div>
                            </div>
                        </div>-->
                    </div>
                    <div class="reviewrightContent">
                        <div class="reviewName">
                            <h4 style="margin-top: 8%;">{{merchant.name}}</h4>
                            <p class="PARA">Movies available on {{merchant.name}}</p>
                        </div>
                        <hr style="margin-top: 9%">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- myModalMerchant content-->				
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="mainCtrl.clearSearch()">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- myModal content-->
