<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
	FB.init({
	  appId      : '904944159588477',
	  status     : true,
	  xfbml      : true,
	  cookie     : true,
	  version    : 'v2.6' // use version 2.6
	});
  };

  (function(d, s, id){
	 var js, fjs = d.getElementsByTagName(s)[0];
	 if (d.getElementById(id)) {return;}
	 js = d.createElement(s); js.id = id;
	 js.src = "//connect.facebook.net/en_US/sdk.js";
	 fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>



<div id="amazon-root"></div>
<script type="text/javascript">

  window.onAmazonLoginReady = function() {
    amazon.Login.setClientId('amzn1.application-oa2-client.b7f13e9ca9404d22988a724edabc3812');
  };
  (function(d) {
    var a = d.createElement('script'); a.type = 'text/javascript';
    a.async = true; a.id = 'amazon-login-sdk';
    a.src = 'https://api-cdn.amazon.com/sdk/login1.js';
    d.getElementById('amazon-root').appendChild(a);
  })(document);

</script>

<!--let's login popup-->
<style>
 .ftfLogin{
      text-align: center;
      font-size: 18px;
      font-family: roboto-regular;
      margin-top: 15%;
      margin-left: 5%;
  }
  .modal-content_f{
      width: 90%;
      vertical-align: center;
      margin-left: 6%;
      top: 10px;
      height: 192px;
      border-radius: 7px;
      margin-top: 176px;
  }
  .letsLogIn{
      color: #fff;
      width: 280px;
      height: 36px;
      border-radius: 2px;
      background-color: #cb202e;
      border: solid 1px #cb202e;
      letter-spacing: 3px;
      font-weight: 900;
      font-family: Roboto-Regular;
  }
 .modal-footer_F {
      text-align: center;
      padding-bottom: 4%;
      /*margin-top: -8%;*/
      margin-top: 7%;
  }

 /*ipad 08Aug16 start*/
 @media only screen and (min-width: 768px) {

	 .ftfLogin {
		 margin-top: 9%;
	 }

	 .modal-footer_F {
		 margin-top: 4%;
	 }
 }
 /*ipad 08Aug16 end*/
</style>  
<!--Modal for first thing first-->
<!-- Modal -->
<div class="modal fade" id="myModalLoginwithFacebook" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content modal-content_f">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Modal Header</h4>
			</div>
			<div class="modal-body">
				<p class="ftfLogin">First things first...</p>
			</div>
			<div class="modal-footer modal-footer_F">
				<button ng-click="mainCtrl.showLoginOptions()" type="button" class="btn btn-default letsLogIn" data-dismiss="modal">LET'S LOGIN</button>
			</div>
		</div>
	</div>
</div>
<!--login with facebook popup--> 

<style>
.demo-content{
    font-size: 18px;
    margin-bottom: 23px;
}
#modalLoginGlobal p{
	width:100%;
	height: auto;
	padding-right:1%;
	line-height: 24px;
	padding-left: 1%;
}
.f-flicktree-image{
	margin-top: 36px;
	text-align: center;
    height: 35px;
    object-fit: contain;
    font-family: Lato-Black;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: -1.5px;
    color: #cb202e;
}
.Sign-in-for-customis {
    height: 24px;
    opacity: 0.5;
    font-family: Roboto-Regular;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    text-align: center;
    color: #000000;
}
.floating-box{
    display: inline-block;
}
.Imported-Layers-2 {
   width:100%;
}
/*
.Sign-in-with-email {
    width: 112px;
    height: 19px;
    opacity: 0.87;
    font-family: Roboto-Regular;
    font-size: 14px;
    font-weight: 600;
    color: #000000;
}
.Create-account {
    width: 96px;
    height: 19px;
    opacity: 0.87;
    font-family: Roboto-Regular;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #000000;
}
.vertical_line{height:40px; width:1px;background:#000;}
*/
.google_Image{    
	width: 103%;
    float: left;
    margin-left: -6px;
}
</style>
<!-- All Login options popup -->
<div class="modal fade bs-example-modal-sm ModalMyClass1" id="modalLoginGlobal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog ModalViewMoviePopup">
				<div class="modal-content">
					<div class="col-xs-12" style="height: auto;background: #f2f2f2; padding: 0px;">
						<div class="demo-content">
							<div style="padding-top: 3.33%;" data-dismiss="modal">
								<span style="padding-left:5%;color: rgba(0, 0, 0, 0.54);font-weight: 600; font-size: 20px;">X</span>
							</div>
							<div>
								<p class="f-flicktree-image"><img src="assets/images/f-l-i-c-k-s-t-r-e-e.png"></p>
							</div>
							<div><p class="Sign-in-for-customis">Sign-in for customised movie suggestions</p></div>
						</div>

						<div id="loggingOptions" class="floating-box">
							<div ng-click="mainCtrl.doLogin('facebook')" class="col-xs-12 col-sm-4" style="margin-bottom: 16px">
								<img class="Imported-Layers-2 facebook_Image" src="assets/images/facebook_login.png">
							</div>

							<div ng-click="mainCtrl.doLogin('google')" class="col-xs-12 col-sm-4 floating-box" style="margin-bottom: 16px;">
								<img class="Imported-Layers-2 google_Image" src="assets/images/sign-in-with-google.png">
							</div>

							<div ng-click="mainCtrl.doLogin('amazon')" class="col-xs-12 col-sm-4 floating-box" style="margin-bottom: 24px;">
								<img class="Imported-Layers-2 amazon_Image" src="assets/images/amazon_login.png">
							</div>
						</div>
						<div id="loginInProgress" style="display:none">
							<h3 style="text-align: center;">Logging in..</h3>
							<p style="text-align: center;margin-top: 8%;margin-bottom: 4%;"><img src="assets/images/puff.svg" alt="Waiting" width="50"></p>
						</div>
						<!--<div>
							<div class="col-xs-5 floating-box Sign-in-with-email" style="padding: 0px;text-align: center;">Sign in with email</div>
							<div class="col-xs-2 floating-box"><img src="assets/images/Vertical_Line.png"> </div>
							<div class="col-xs-5 floating-box Create-account" style="padding: 0px;text-align: center;">Create account</div>
						</div>-->
					</div>
						
				</div>
		</div>
</div>
<!-- Login with email popup end--> 
<!-- Register with email popup -->
<div class="modal fade bs-example-modal-sm ModalMyClass1" id="modalRegisterGlobal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog ModalViewMoviePopup">
				<div class="modal-content">
						<div class="modal-header MyDiaModalH">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
								<h4 class="modal-title nameOfModal"></h4>
						</div>
						<div class="clear"></div>
						<div class="modal-body MyDiaModalB">
								<div class="Modaldivide ">
										<div class="col-md-12 less_padding" id="f_gshowRegisterForm">
										<form method="post" id="egreg_form" action='$website_register'> 
										<input type="hidden" name="redirect" id="egreg_redirect">
										<input type="hidden" name="name" id="egres_name">
										<input type="hidden" name="origin_ip" id="egres_origin_ip">
										<div class="col-md-12 less_padding">
												<div class="col-md-6">
												<span style="visibility: hidden; margin-right: 0px; margin-bottom: 5px;" class="fi_errorQFFormInline" id="egres_fname_required">Mandatory field</span>
														<input type="text" name="egres_fname" id="egres_fname" class="fi_inputTxtRPForm" placeholder="First Name">
												</div>
												<div class="col-md-6">
												<span style="visibility: hidden; margin-right: 0px; margin-bottom: 5px;" class="fi_errorQFFormInline" id="egres_lname_required">Mandatory field</span>
														<input type="text" name="egres_lname" id="egres_lname" class="fi_inputTxtRPForm" placeholder="Last Name">
												</div>
										</div>
										
										<div class="col-md-12 less_padding">
												<div class="col-md-6">
														<input type="text" name="email" id="egres_email" class="fi_inputTxtRPForm" placeholder="eMail ID">
												</div>
												
												<div class="col-md-6 no_l_p">
														<span style="visibility: hidden; margin-right: 0px; margin-bottom: 5px; float: left;" class="fi_errorQFFormInline" id="egres_email_required">Mandatory field</span>
														<span style="visibility: hidden; margin-right: 0px; margin-top: 16px; float: left; color: rgb(119, 119, 117); width: 300px; text-align: left;" class="fi_errorQFFormInline" id="egres_email_condition">
														Must be a valid email address
													   </span>
												</div>
												
										</div>
										
										<div class="col-md-12 less_padding">
												<div class="col-md-6">
														<input type="password" name="password" id="egres_password" class="fi_inputTxtRPForm" placeholder="Choose password">
												</div>
												<div class="col-md-6 no_l_p">
												<span style="visibility: hidden; margin-right: 0px; margin-bottom: 5px; float: left;" class="fi_errorQFFormInline" id="egres_password_required">Mandatory field</span>
												<span style="display: block; margin-right: 0px; margin-top: 16px; float: left; color: rgb(119, 119, 117); width: 300px; text-align: left;" class="fi_errorQFFormInline" id="egres_password_condition">
												At least 6 digits, with minimum one letter & one number
                                               </span>
											   </div>
												
										</div>
										
										<div class="col-md-12 less_padding">
												<div class="col-md-6">
														<input type="password" name="password_r" id="egres_repassword" class="fi_inputTxtRPForm" placeholder="Retype password">
												</div>
												<div class="col-md-6 no_l_p">
												<span style="visibility: hidden; margin-right: 0px; margin-bottom: 5px; float: left;" class="fi_errorQFFormInline" id="egres_repassword_required">Mandatory field</span>
												<span style="visibility: hidden; margin-right: 0px; margin-top: 16px; float: left; color: rgb(119, 119, 117); width: 300px; text-align: left;" class="fi_errorQFFormInline" id="egres_repassword_condition">
												Repeat Password must match the Password
                                               </span>
											   </div>
												
										</div>
									
                                        <div class="col-md-12 less_padding mid_t_p">
												<div class="col-md-12">
														<span  class="fi_txtQFForm" style="margin-left:5px; margin-bottom:0px;">Gender    
														<input type="radio" name="gender" value="male" checked="checked" style="margin: 0px 5px 0px 10px;">
														 Male  
														<input type="radio" name="gender" value="female" style="margin: 0px 5px 0px 10px;">
														 Female</span>
														<span style="visibility: hidden; margin-right: 0px; margin-bottom: 5px; float: left;" class="fi_errorQFFormInline" id="gender_required">Mandatory field</span>
												</div>
												
										</div>
										
									    <div class="col-md-12 less_padding">
												<div class="col-md-12">
														<span  class="fi_txtQFForm" style="margin-left:5px; margin-bottom:0px;">Country    
														<input type="radio" name="country" value="India" checked="checked" style="margin: 0px 5px 0px 10px;">
														 India  
														<input type="radio" name="country" value="Others" style="margin: 0px 5px 0px 10px;">
														 Outside of India</span>
														<span style="visibility: hidden; margin-right: 0px; margin-bottom: 5px; float: left;" class="fi_errorQFFormInline" id="country_required">Mandatory field</span>
												</div>
												
										</div>	
																		
										<div class="col-md-12 less_padding" style="margin-top:10px;">
												<div class="col-md-12" id="f_rpButtonBox">
														<input type="button" name="egres_submit" id="egres_submit" value="Register & Login" class="fi_btnRPForm">

												</div>
												<div class="col-md-12" id="f_elogResponseBox" style="display:none;"> </div>
										</div>
										
										<input type="hidden" name="doaction" value="email_register">
										</form>
										</div>
								</div>
								<div class="clear"></div>
						</div>
						<div class="clear"></div>
				</div>
		</div>
</div>
<!-- Register with email popup end--> 

<!-- Forgot Password Popup -->
<div class="modal fade bs-example-modal-sm ModalMyClass1" id="modalForgotPasswordGlobal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog MyDiaModalUpload" style="width: 353px;">
				<div class="modal-content" style="background-color: rgb(244, 244, 242); box-shadow: 0px 5px 15px transparent;">
						<div class="modal-header MyDiaModalH">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
								<h4 class="modal-title nameOfModal"></h4>
						</div>
						<div class="clear"></div>
						<div class="modal-body MyDiaModalB">
								<div class="Modaldivide ">
								
                                <div class="col-md-12 less_padding">
										<form method="post" action="">
 												<div class="col-md-12 mid_b_p">
														<input type="text" name="email" id="elog_email" class="fi_inputTxtRPForm" placeholder="Type your registered eMail ID" style="width: 240px;">
												</div>
												<div class="col-md-12 mid_tb_p">
														<input type="button" name="elog_submit" id="elog_submit" value="Send password to email" class="fi_btnRPForm" style="padding: 14px 40px;">											
												</div>
										</form>	
										<div style="text-align: center; margin: 27px 65px 0px auto; display:none;" id="f_recoverPasswordResponse"> </div>
										</div>								
								
								</div>
								<div class="clear"></div>
						</div>
						<div class="clear"></div>
				</div>
		</div>
</div>
<!-- Forgot Password Popup -->

<!-- Modal -->
<div class="clear"></div>
<!--no internet popup-->
<div class="modal fade bs-example-modal-sm ModalMyClass1 in" id="noInternetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog MyModalClearRecommend">
				<div class="modal-content">
						<div class="modal-header MyDiaModalH">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
								<!--<h4 class="modal-title nameOfModal"></h4>-->
						</div>
						<div class="clear"></div>
						<div class="modal-body MyDiaModalB">
								<div class="Modaldivide ">
										<div class="col-md-12">
												<div class="middleModal1">
														<div class="col-md-12 textrightlbl">
																<div class="middleModal2">
																	<span style="font-family: 'robotoregular',sans-serif; color: #545454;font-size: 14px;">Oops! No Internet Connection</span>
																	<div class="clear"></div>
																</div>
														</div>
												</div>
												<div class="clear"></div>
										</div>
								</div>
								<div class="clear"></div>
						</div>
						<div class="clear"></div>
				</div>
		</div>
</div>
<!--no internet popup end--> 

<!-- Modal -->
<div class="clear"></div>
<!--Choose Signup popup-->
<div class="modal fade bs-example-modal-sm ModalMyClass1 in" id="chooseSignupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog MyModalClearRecommend">
				<div class="modal-content">
						<div class="modal-header MyDiaModalH">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
						</div>
						<div class="clear"></div>
						<div class="modal-body MyDiaModalB">
								<div class="Modaldivide ">
										<div class="col-md-12">
												<div class="middleModal1">
														<div class="col-md-12 textrightlbl">
																<div class="middleModal2">
																	<div class="col-md-12 less_padding" >
																		<a href="#" class="f_btnFacebookLogin"><img border="0" alt="Signup with facebook" src="//www.flickstree.com/img/facebook_login.png" width="215" height="50" /></a>
																	
																		<div class="g-signin2" data-width="215" data-height="50" data-longtitle="true" data-onsuccess="onSignIn" style="padding: 14px 35px;"></div>
																		<a href="#" class="LoginWithAmazon"><img border="0" alt="Signup with Amazon" src="//www.flickstree.com/img/amazon_login.png" width="215" height="50" /></a>
																		<div><input type="button" name="createFtAccount" id="createFtAccount" value="Create Flickstree Account" class="fi_btnRPForm" style="padding: 14px 25px;margin-top: 10px;"></div>
																	</div>
																</div>
														</div>
												</div>
												<div class="clear"></div>
										</div>
								</div>
								<div class="clear"></div>
						</div>
						<div class="clear"></div>
				</div>
		</div>
</div>