<ul class="nav navbar-nav">
    <!--<li class="active"><a href="#">Home</a></li>-->
    <li ng-if="mainCtrl.isLogged"><a ng-click="mainCtrl.routeToPage('discover-movies.html')">Movies You’ll Love</a></li>
	<li ng-if="!mainCtrl.isLogged"><a ng-click="mainCtrl.showLoginBox()">Movies You’ll Love</a></li>
    <li><a ng-click="mainCtrl.routeToPage('critic-recommendation.html')">Critics' Choice</a></li>
    <li><a ng-click="mainCtrl.routeToPage('movie-options.html')">Advanced Search</a></li>
    <!--<li><a ng-if="mainCtrl.isLogged" ng-click="mainCtrl.routeToTimelinePage()">Your Timeline</a></li>
	<li><a ng-if="!mainCtrl.isLogged" ng-click="mainCtrl.showLoginBox()">Your Timeline</a></li>-->
    <li><a ng-click="mainCtrl.routeToMovieCalendarPage()">Movie Calendar</a></li>
    <li><a ng-click="mainCtrl.routeToPage('popular-critics.html')">Popular Critics</a></li>
    <li ng-if="mainCtrl.isLogged"><a ng-click="mainCtrl.routeToUserProfile()" class="DropDownStyle">Your Profile</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Spread The Word
           <b class = "caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a ng-click="mainCtrl.shareFlickstreeOnFacebook()" class="DropDownStyle">On Facebook</a></li>
            <li><a target="_blank" href="http://twitter.com/intent/tweet?text=%23Flickstree%20is%20simply%20superb%2C%20the%20best%20movie%20recommendation%20platform%20that%20I%27ve%20come%20across.%20Check%20out%20www.flickstree.com" class="DropDownStyle">On Twitter</a></li>
            <li class="divider"></li>
        </ul>
    </li>
    <li><a ng-click="mainCtrl.playTrivia()">Bollywood Trivia</a></li>
    <li ng-if="mainCtrl.isLogged"><a ng-click="mainCtrl.logOut()">Log Out</a></li>
</ul>
<!--<div class="row bottom_menu">
    <div class="Bottom_content"><span class="glyphicon glyphicon-comment"></span>
        <p>FEEDBACK</p>
    </div>
    <div class="Bottom_content"><span class="glyphicon glyphicon-alert"></span>
        <p>REPORT ERROR</p>
    </div>
    <div class="Bottom_content"><span class="glyphicon glyphicon-alert"></span>
        <p>ABOUT</p>
    </div>
    <div></div>
</div>-->

