<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55810795-3', 'auto');
  ga('send', 'pageview');

</script>
<style>
.collapse {
	display: block !important;
    visibility: hidden !important;
}

.navbar-default .navbar-nav > li > a{
    font-size: 16px;
    text-align: left;
    font-weight: 600;

}

.navbar-header{
    z-index: 9999999;
}

button.close{
    display: block;
    color: #fff;
    opacity:1;
    text-shadow: 0 0px 0 #fff;
}

.Bottom_content {
    width: 32%;
    float: left;
    text-align: center;
    color: #fff;
}

.glyphicon{
    font-size: 20px;
}

/*for modal start*/



/*this code to add*/

.bottom_menu {
    margin-top: 25px;
}

.modal-content1{
    background-color: #B3090C;
    margin-top: 0px;
}
.navbar-nav>li>a {
    font-family: Roboto-Regular;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 1px;
    color: #ffffff;
    border-bottom: 1px solid #900C0E;
}
.btn-default{
    background-color: #900C0E;
    color: #fff;
}
.modal-footer{
    text-align: center;
}

.navbar-nav .open .dropdown-menu > li > a{
    color: #fff;
    font-size: 107%;
    font-family: Roboto-regular;
}
.modal-backdrop{
    position: static;
}

.navbar-nav{
    margin-top: 44px;
}

.iconBottomContent{
    margin-top: 7%;
}
/*this code to add*/
/*for modal end*/






/*ipad view by rajesh 08 August 16 start*/
@media only screen and (min-width: 768px) {

    .ipadNavbarB {
        font-weight: bolder;
        font-size: 22px;
        font-family: Roboto-Regular;
        letter-spacing: -1.2px;
    }

    .ipadSiteCon {
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
    }

    /*.navbar-default .navbar-nav > li > a{*/
    /*font-size: 25px;*/
    /*}*/
    /*ipad chaneg 08Aug16 rajesg start*/
    .navbar-default .navbar-collapse {
        position: static;
        width: 100%;
        margin-top: -2px;
        background-color: #B3090C;
        z-index: -1;
        color: #ffffff;
        /* height: 100vh; */
        height: 774px;
    }

    .navbar-nav > li {
        float: none;
        margin-bottom: 1%;
        margin-top: 1%;
    }

    /*.navbar-nav > li > a{*/
    /*font-family: Roboto-Regular;*/
    /*font-size: 16px;*/
    /*line-height: 1.2;*/
    /*letter-spacing: 1px;*/
    /*color: #ffffff;*/
    /*border-bottom: 1px solid #900C0E;*/
    /*}*/
    .navbar-nav {
        float: none;
    }

    .Bottom_content {
        font-size: 200%;
    }

    .Bottom_content p {
        font-size: 50%;
    }

    .termsStyl {
        position: relative;
        bottom: 8px;

    }

    .bottom_menu {
        margin-top: 25px;
    }

    .navbar-nav > li > .dropdown-menu {
        width: 100%;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #000;
        font-size: 168%;
        font-family: Roboto-regular;
    }

    .caret {
        margin-left: 0%;

    }

    .ipadViewheade {
        width: 100%;
        margin-top: 0px;
    }

    .navbar-default .navbar-nav > li > a {
        font-size: 26px;
        text-align: center;

    }
}
/*ipad chaneg 08Aug16 rajesg end*/


/*ipad view by rajesh 08 August 16 end*/





</style>
<div class="container ipadSiteCon">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div id="navbar-header" class="navbar-header navbar-header1 fixed-nav">
        <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">-->
		<!--<button type="button" class="navbar-toggle" style="display:block"  data-toggle="modal" data-target="#myModal" ng-click="mainCtrl.openSideMenu()">-->
		<button type="button" class="navbar-toggle"  data-toggle="modal" data-target="#myModal-1" style="display:block" ng-click="mainCtrl.openSideMenu()">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a ng-click="mainCtrl.routeToHomePage()" class="navbar-brand ipadNavbarB" style="font-weight: bolder;font-size: 22px;font-family: Roboto-Regular;letter-spacing: -1.2px;"><span id="logoText" style="color: #cb202e;font-weight: bolder;font-size: 22px;font-family: Roboto-Regular;letter-spacing: -1.2px;">FLICKS</span>TREE</a>



      <img style="margin-left: 22%;" class="navbar-brand" data-toggle="modal" data-target="#myModal"

           src="assets/images/ic-search.png" />

    </div>
    <!-- Collection of nav links and other content for toggling -->
    <!--<div id="navbarCollapse" class="collapse navbar-collapse" ng-include="'app/shared/templates/siteMenu.html'"> </div>-->
</div>


<!-- Modal -->
<div class="modal fade" id="myModal-1" role="dialog">
    <div class="modal-dialog modal-lg ipadViewheade">
        <div class="modal-content modal-content1">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div>
                    <!--<button type="button" class="close" data-dismiss="modal">X</button>-->
                </div>

                <ul class="nav navbar-nav">
                    <!--<li class="active"><a href="#">Home</a></li>-->
                    <li ng-if="mainCtrl.isLogged"><a ng-click="mainCtrl.routeToPage('discover-movies.html')">Movies You’ll Love</a></li>
                    <li ng-if="!mainCtrl.isLogged"><a ng-click="mainCtrl.showLoginBox()">Movies You’ll Love</a></li>
                    <li><a ng-click="mainCtrl.routeToPage('critic-recommendation.html')">Critics' Choice</a></li>
                    <li><a ng-click="mainCtrl.routeToPage('movie-options.html')">Advanced Search</a></li>
                    <!--<li><a ng-if="mainCtrl.isLogged" ng-click="mainCtrl.routeToTimelinePage()">Your Timeline</a></li>
                    <li><a ng-if="!mainCtrl.isLogged" ng-click="mainCtrl.showLoginBox()">Your Timeline</a></li>-->
                    <li><a ng-click="mainCtrl.routeToMovieCalendarPage()">Movie Calendar</a></li>
                    <li><a ng-click="mainCtrl.routeToPage('popular-critics.html')">Popular Critics</a></li>
                    <li ng-if="mainCtrl.isLogged"><a ng-click="mainCtrl.routeToUserProfile()" class="DropDownStyle">Your Profile</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Spread The Word
                            <b class = "caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a ng-click="mainCtrl.shareFlickstreeOnFacebook()" class="DropDownStyle">On Facebook</a></li>
                            <li><a target="_blank" href="http://twitter.com/intent/tweet?text=%23Flickstree%20is%20simply%20superb%2C%20the%20best%20movie%20recommendation%20platform%20that%20I%27ve%20come%20across.%20Check%20out%20www.flickstree.com" class="DropDownStyle">On Twitter</a></li>
                            <li class="divider"></li>
                        </ul>
                    </li>
                    <li><a ng-click="mainCtrl.playTrivia()">Bollywood Trivia</a></li>
                    <li ng-if="mainCtrl.isLogged"><a ng-click="mainCtrl.logOut()">Log Out</a></li>
                </ul>

                <!--i have uncommented this part , and added some classes as for ipad view-->

                <div class="row bottom_menu">
                    <div class="Bottom_content"><span class="glyphicon glyphicon-comment"></span>
                        <p class="iconBottomContent">FEEDBACK</p>
                    </div>
                    <div class="Bottom_content">
                        <!--<span class="glyphicon glyphicon-alert">-->
                        <img class="termsStyl" src="assets/images/question-mark-3.png" /> </span>

                        </span>
                        <p class="iconBottomContent">TERMS</p>
                    </div>
                    <div class="Bottom_content"><span class="glyphicon glyphicon-alert"></span>
                        <p class="iconBottomContent">ABOUT FLICKSTREE</p>
                    </div>
                    <div></div>
                </div>

            </div>
            <!--<div class="modal-footer">-->
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
            <!--</div>-->
        </div>
    </div>
</div>