
<!-- Intro video -->
<div class="modal fade" id="introVideo" tabindex="-1" role="dialog" aria-labelledby="introductionVideo" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe id="CommonVideoPlayer" width="560" height="315" src="{{movie_trailer | trustYoutubeUrl}}" class="embed-responsive-item allowfullscreen"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

